<div class="card custom-card m-b-12">
  <div class="card-header custom-card-header border-0">
    <h4 class="mb-2">Material Icons</h4>
    <p class="text-muted">
      Please visit the Official
      <a
        href="https://fonts.google.com/icons?icon.query=a"
        target="_blank"
        class="custom-link"
        >Material-Icons Website</a
      >
      for a full list of instructions and other options.
    </p>
  </div>
</div>
<div class="card custom-card">
  <div class="card-header d-flex align-items-center custom-card-header zb-0">
    <div class="">
      <h5 class="card-title m-b-0">Controls</h5>
      <p class="sub-title text-muted m-b-0">
        use class <span class="text-danger"> .material-icons </span> icon-name
        in span tag
      </p>
    </div>
    <div class="ml-auto">
      <form action="form" class="form">
        <div class="search_bar">
          <input
            type="text"
            [(ngModel)]="searchWord"
            [ngModelOptions]="{standalone: true}"
            (keyup)="onSubmit($event)"
            class="form-control gap-left"
            placeholder="Search here..."
          />
          {{ searchWord }}
        </div>
      </form>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <ng-container *ngFor="let icon of Icons">
        <div class="col-md-4 col-lg-3 col-3 col-sm-3 m-b-4">
          <app-filled-icons [iconbox]="icon"></app-filled-icons>
        </div>
      </ng-container>
    </div>
  </div>
</div>
