<div class="row">
  <div class="col-lg-3 col-md-3 col-md-6 col-sm-6 m-b-20">
    <div class="card custom-card project_tile_wrap">
      <h5 class="project_title">All Task</h5>
      <div class="data_main_wrap p-b-8">
        <div class="data_left_val">
          <h3 class="m-b-0">102</h3>
        </div>
        <div class="task_tile_icon bg-light-primary text-primary">
          <i class="fa fa-suitcase project_tile_icon" aria-hidden="true"></i>
        </div>
      </div>
      <small
        ><span class="px-1 fs-12"
          >Task assigned to me: <b class="m-l-4">15</b></span
        ></small
      >
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-md-6 col-sm-6 m-b-20">
    <div class="card custom-card project_tile_wrap">
      <h5 class="project_title">Completed Task</h5>
      <div class="data_main_wrap p-b-8">
        <div class="data_left_val">
          <h3 class="m-b-0">50</h3>
        </div>
        <div class="task_tile_icon bg-light-success text-success">
          <i class="fa fa-check project_tile_icon" aria-hidden="true"></i>
        </div>
      </div>
      <small
        ><span class="px-1 fs-12"
          >Task assigned to me: <b class="m-l-4">25</b></span
        ></small
      >
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-md-6 col-sm-6 m-b-20">
    <div class="card custom-card project_tile_wrap">
      <h5 class="project_title">Inprogress Task</h5>
      <div class="data_main_wrap p-b-8">
        <div class="data_left_val">
          <h3 class="m-b-0">80</h3>
        </div>
        <div class="task_tile_icon bg-light-info text-info">
          <i class="fa fa-tasks project_tile_icon" aria-hidden="true"></i>
        </div>
      </div>
      <small
        ><span class="px-1 fs-12"
          >Task assigned to me: <b class="m-l-4">35</b></span
        ></small
      >
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-md-6 col-sm-6 m-b-20">
    <div class="card custom-card project_tile_wrap">
      <h5 class="project_title">Pending Task</h5>
      <div class="data_main_wrap p-b-8">
        <div class="data_left_val">
          <h3 class="m-b-0">18</h3>
        </div>
        <div class="task_tile_icon bg-light-warning text-warning">
          <i
            class="fa fa-hourglass-start project_tile_icon"
            aria-hidden="true"
          ></i>
        </div>
      </div>
      <small
        ><span class="px-1 fs-12"
          >Task assigned to me: <b class="m-l-4">15</b></span
        ></small
      >
    </div>
  </div>
</div>
<div class="">
  <div class="d-flex align-items-center m-b-12">
    <div class="ml-auto">
      <button
        class="btn-primary btn btn-square d-flex align-items-center"
        (click)="addTasks()"
      >
        <span class="material-icons icon-20 m-r-8"> add_box </span>
        Add Task
      </button>
    </div>
  </div>
  <div class="">
    <app-task-manager></app-task-manager>
  </div>
</div>
<!-- add task -->
<p-dialog
  header="Add Task "
  class=""
  [(visible)]="taskDialog"
  [modal]="true"
  class="app-task-manager custom-card"
>
  <div class="add_task_to_control">
    <form action="" [formGroup]="taskform" (ngSubmit)="addNewTask()">
      <div class="kprime_form_wrapper">
        <div class="form-group m-b-12">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            formControlName="task_name"
            placeholder="Enter Title"
          />
        </div>
        <div class="form-group m-b-12">
          <label for="description">Description</label>
          <textarea
            rows="2"
            type="text"
            formControlName="task_description"
            class="form-control"
            placeholder="Enter Task Description"
          ></textarea>
        </div>
        <div class="form-group m-b-12">
          <label for="deadline">Deadline</label>
          <p-calendar
            class="prime_datepicker"
            [(ngModel)]="bsValue"
            [ngModelOptions]="{ standalone: true }"
            [disabledDays]="[0, 6]"
            [readonlyInput]="true"
            inputId="basic"
            placeholder="Date Picker"
          ></p-calendar>
        </div>
        <div class="form-group m-b-12">
          <label for="status">Status</label>
          <p-dropdown
            [options]="statusArr"
            class="basic_dpdown"
            [(ngModel)]="selectedStatus"
            [ngModelOptions]="{ standalone: true }"
            optionLabel="label"
          ></p-dropdown>
        </div>
        <div class="form-group m-b-12">
          <label for="assign">Assign To</label>
          <p-dropdown
            [options]="employeesArr"
            class="basic_dpdown"
            [(ngModel)]="selectedEmp"
            [ngModelOptions]="{ standalone: true }"
            optionLabel="label"
          ></p-dropdown>
        </div>
      </div>
    </form>
  </div>
  <div class="d-flex justify-content-end kprime_footer align-items-center">
    <button
      (click)="closeModal()"
      class="btn btn-outline-danger m-r-8 btn-square"
    >
      Cancel
    </button>
    <button type="submit" class="btn btn-primary btn-square">Submit</button>
  </div>
</p-dialog>
