<div class="row">
  <div class="col-lg-3 col-sm-6 grid-bottom">
    <div class="card custom-card no-radius">
      <div class="zp-20 pb-2">
        <div class="d-flex area_cc_wrap">
          <div class="">
            <p class="area_cc_title m-b-4">Conversions</p>
            <div class="d-inline-flex align-items-center">
              <h4 class="area_cc_stats m-b-0">829M</h4>
              <div class="icon_wrap_ana bg-success mx-1">
                <i class="ti ti-arrow-up ana_progress"></i>
              </div>
              <span class="percent_change text-success">25%</span>
            </div>
          </div>
          <div class="ml-auto">
            <div class="icon_skelton2 bg-light-success text-success">
              <i class="fas fa-sync"></i>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <p class="m-b-0 text-mute">Conversion Rate</p>
          <h6 class="m-b-0">24%</h6>
        </div>
      </div>
      <div class="">
        <app-apex-sparkline-area
          [ChartColor]="chartColor"
        ></app-apex-sparkline-area>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 grid-bottom">
    <div class="card custom-card no-radius">
      <div class="zp-20 pb-2">
        <div class="d-flex area_cc_wrap">
          <div class="">
            <p class="area_cc_title m-b-4">Impressions</p>
            <div class="d-inline-flex align-items-center">
              <h4 class="area_cc_stats m-b-0">276M</h4>
              <div class="icon_wrap_ana bg-danger mx-1">
                <i class="ti ti-arrow-down ana_progress"></i>
              </div>
              <span class="percent_change text-danger">5%</span>
            </div>
          </div>
          <div class="ml-auto">
            <div class="icon_skelton2 bg-light-info text-info">
              <i class="fas fa-fingerprint"></i>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <p class="m-b-0 text-mute">Impression Rate</p>
          <h6 class="m-b-0">30%</h6>
        </div>
      </div>
      <div class="">
        <app-apex-sparkline-area
          [ChartColor]="chartColor1"
        ></app-apex-sparkline-area>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 grid-bottom">
    <div class="card custom-card no-radius">
      <div class="zp-20 pb-2">
        <div class="d-flex area_cc_wrap">
          <div class="">
            <p class="area_cc_title m-b-4">Visits</p>
            <div class="d-inline-flex align-items-center">
              <h4 class="area_cc_stats m-b-0">276M</h4>
              <div class="icon_wrap_ana bg-success mx-1">
                <i class="ti ti-arrow-up ana_progress"></i>
              </div>
              <span class="percent_change text-success">85%</span>
            </div>
          </div>
          <div class="ml-auto">
            <div class="icon_skelton2 bg-light-danger text-danger">
              <i class="fas fa-globe"></i>
              <!-- <i class="fw-700 ti ti-money"></i> -->
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <p class="m-b-0 text-mute">Visiting Rate</p>
          <h6 class="m-b-0">65%</h6>
        </div>
      </div>
      <div class="">
        <app-apex-sparkline-area
          [ChartColor]="chartColor2"
        ></app-apex-sparkline-area>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 grid-bottom">
    <div class="card custom-card no-radius">
      <div class="zp-20 pb-2">
        <div class="d-flex area_cc_wrap">
          <div class="">
            <p class="area_cc_title m-b-4">Clicks</p>
            <div class="d-inline-flex align-items-center">
              <h4 class="area_cc_stats m-b-0">276M</h4>
              <div class="icon_wrap_ana bg-success mx-1">
                <i class="ti ti-arrow-up ana_progress"></i>
              </div>
              <span class="percent_change text-success">79%</span>
            </div>
          </div>
          <div class="ml-auto">
            <div class="icon_skelton2 bg-light-warning text-warning">
              <i class="fas fa-mouse"></i>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <p class="m-b-0 text-mute">Click Rate</p>
          <h6 class="m-b-0">42%</h6>
        </div>
      </div>
      <div class="">
        <app-apex-sparkline-area
          [ChartColor]="chartColor3"
        ></app-apex-sparkline-area>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 grid-bottom">
    <div class="card custom-card shadow1 no-radius">
      <div
        class="card-header custom-card-header d-flex align-items-center justify-content-between border-1"
      >
        <div class="card-title m-b-0">
          <h5 class="card-label m-b-0">Visitors Overview</h5>
          <p class="m-b-0">Number of unique visitors</p>
        </div>
        <div class="action_analytic">
          <div class="btn-group action_btn_drop" dropdown>
            <a
              type="button"
              class="btn"
              id="button-basic"
              dropdownToggle
              type="button"
              aria-controls="dropdown-basic"
            >
              <span class="material-icons-outlined m-l-4"> more_horiz </span>
            </a>

            <ul
              id="dropdown-basic"
              *dropdownMenu
              class="dropdown-menu dropdown-menu-left"
              role="menu"
              aria-labelledby="button-basic"
              placement="bottom right"
            >
              <li role="menuitem">
                <a class="dropdown-item p-x-12 py-2">
                  <div class="d-flex align-items-center">
                    <div class="m-b-0">
                      <p class="m-b-0 sub_heading">Action</p>
                    </div>
                  </div>
                </a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item p-x-12 py-2">
                  <div class="d-flex align-items-center">
                    <div class="m-b-0">
                      <p class="m-b-0 sub_heading">Add action</p>
                    </div>
                  </div>
                </a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item p-x-12 py-2">
                  <div class="d-flex align-items-center">
                    <div class="m-b-0">
                      <p class="m-b-0 sub_heading">Add more action</p>
                    </div>
                  </div>
                </a>
              </li>
              <hr class="zm-0" />
              <li role="menuitem">
                <a class="dropdown-item p-x-12 py-2">
                  <div class="d-flex align-items-center">
                    <div class="m-b-0">
                      <p class="m-b-0 sub_heading">Seprated Link</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="btn-group">
          <label
            class="btn btn-outline-primary"
            [(ngModel)]="radioModel"
            [ngModelOptions]="{ standalone: true }"
            ngDefaultControl
            tabindex="0"
            btnRadio="week"
            role="button"
            >Weekly</label
          >
          <label
            class="btn btn-outline-primary"
            [(ngModel)]="radioModel"
            [ngModelOptions]="{ standalone: true }"
            ngDefaultControl
            btnRadio="month"
            tabindex="0"
            role="button"
            >Monthly</label
          >
          <label
            class="btn btn-primary"
            [(ngModel)]="radioModel"
            [ngModelOptions]="{ standalone: true }"
            ngDefaultControl
            btnRadio="year"
            tabindex="0"
            role="button"
            >Yearly</label
          >
        </div>
      </div>
      <div class="">
        <app-apex-datetime-x-axis></app-apex-datetime-x-axis>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 grid-bottom">
    <div class="card custom-card no-radius">
      <div
        class="card-header custom-card-header d-flex align-items-center justify-content-between border-1"
      >
        <div class="">
          <h5 class="m-b-0">Sessions by country</h5>
        </div>
        <div class="card-toolbar d-flex align-items-center">
          <span class="material-icons icon-20 icon-gray"> grid_view </span>
        </div>
      </div>
      <div class="">
        <div class="row zp-20">
          <div class="col-lg-8">
            <div class="">
              <app-vector-map1></app-vector-map1>
            </div>
          </div>
          <div class="col-lg-4 brl">
            <div class="m-b-4 zp-8">
              <div class="d-flex justify-content-between p-b-8">
                <h6 class="m-b-0">United State</h6>
                <div class="tag_light_ana">
                  <span class="tag_name_ana text-mute">Monthly</span>
                </div>
              </div>
              <p class="m-b-0">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Eveniet sint eius.
              </p>
            </div>
            <div class="pro_reminders_body">
              <ul class="">
                <li class="zp-8">
                  <div class="remds_details p-0 m-b-10">
                    <div class="d-flex align-items-center">
                      <div class="m-r-12">
                        <img
                          src="assets/flags/us_flag.jpg"
                          alt="img"
                          class="country_flag"
                        />
                      </div>
                      <div class="pro_rem_title">
                        <h6 class="">USA</h6>
                      </div>
                    </div>
                    <div class="">
                      <h6 class="m-b-0">36%</h6>
                    </div>
                  </div>
                  <div class="progress_project_value">
                    <div class="">
                      <progressbar
                        [value]="36"
                        type="info"
                        max="100"
                        style="height: 6px"
                      ></progressbar>
                    </div>
                  </div>
                </li>
                <li class="zp-8">
                  <div class="remds_details p-0 m-b-10">
                    <div class="d-flex align-items-center">
                      <div class="m-r-12">
                        <img
                          src="assets/flags/french_flag.jpg"
                          alt="img"
                          class="country_flag"
                        />
                      </div>
                      <div class="pro_rem_title">
                        <h6 class="">France</h6>
                      </div>
                    </div>
                    <div class="">
                      <h6 class="m-b-0">20%</h6>
                    </div>
                  </div>
                  <div class="progress_project_value">
                    <div class="">
                      <progressbar
                        [value]="20"
                        type="warning"
                        max="100"
                        style="height: 6px"
                      ></progressbar>
                    </div>
                  </div>
                </li>
                <li class="zp-8">
                  <div class="remds_details p-0 m-b-10">
                    <div class="d-flex align-items-center">
                      <div class="m-r-12">
                        <img
                          src="assets/flags/italy_flag.jpg"
                          alt="img"
                          class="country_flag"
                        />
                      </div>
                      <div class="pro_rem_title">
                        <h6 class="">Itly</h6>
                      </div>
                    </div>
                    <div class="">
                      <h6 class="m-b-0">16%</h6>
                    </div>
                  </div>
                  <div class="progress_project_value">
                    <div class="">
                      <progressbar
                        [value]="16"
                        type="success"
                        max="100"
                        style="height: 6px"
                      ></progressbar>
                    </div>
                  </div>
                </li>
                <li class="zp-8">
                  <div class="remds_details p-0 m-b-10">
                    <div class="d-flex align-items-center">
                      <div class="m-r-12">
                        <img
                          src="assets/flags/india.png"
                          alt="img"
                          class="country_flag"
                        />
                      </div>
                      <div class="pro_rem_title">
                        <h6 class="">India</h6>
                      </div>
                    </div>
                    <div class="">
                      <h6 class="m-b-0">25%</h6>
                    </div>
                  </div>
                  <div class="progress_project_value">
                    <div class="">
                      <progressbar
                        [value]="25"
                        type="success"
                        max="100"
                        style="height: 6px"
                      ></progressbar>
                    </div>
                  </div>
                </li>
                <li class="zp-8">
                  <div class="remds_details p-0 m-b-10">
                    <div class="d-flex align-items-center">
                      <div class="m-r-12">
                        <img
                          src="assets/flags/us_flag.jpg"
                          alt="img"
                          class="country_flag"
                        />
                      </div>
                      <div class="pro_rem_title">
                        <h6 class="">Others</h6>
                      </div>
                    </div>
                    <div class="">
                      <h6 class="m-b-0">3%</h6>
                    </div>
                  </div>
                  <div class="progress_project_value">
                    <div class="">
                      <progressbar
                        [value]="3"
                        type="secodary"
                        max="100"
                        style="height: 6px"
                      ></progressbar>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 grid-bottom">
    <div class="card custom-card no-radius">
      <div
        class="card-header d-flex align-items-center custom-card-header border-1"
      >
        <h5 class="m-b-0">Visitors Stats</h5>
        <div class="ml-auto">
          <div class="tag_light_ana">
            <span class="tag_name_ana text-mute">30 Days</span>
          </div>
        </div>
      </div>
      <div *ngFor="let chart of donutcharts" class="data_chart_ana">
        <app-apex-sparkline-donut
          [chartParams]="chart"
        ></app-apex-sparkline-donut>
      </div>
      <div class="data_chart_ana">
        <div class="custom_tr">
          <div class="custom_td1">
            <div class="d-flex align-items-center">
              <span class="marker bg-light-cyan m-r-12"></span>
              <p class="m-b-0 text-muted">New</p>
            </div>
          </div>
          <div class="custom_td2">
            <p class="m-b-0 sub_heading">67,290</p>
          </div>
          <div class="custom_td3">
            <p class="m-b-0 text-muted">30%</p>
          </div>
        </div>
        <div class="custom_tr">
          <div class="custom_td1">
            <div class="d-flex align-items-center">
              <span class="marker bg-light-orange m-r-12"></span>
              <p class="m-b-0 text-muted">Returning</p>
            </div>
          </div>
          <div class="custom_td2">
            <p class="m-b-0 sub_heading">40,270</p>
          </div>
          <div class="custom_td3">
            <p class="m-b-0 text-muted">70%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 grid-bottom">
    <div class="card custom-card no-radius">
      <div
        class="card-header d-flex align-items-center custom-card-header border-1"
      >
        <h5 class="m-b-0">Age Stats</h5>
        <div class="ml-auto">
          <div class="tag_light_ana">
            <span class="tag_name_ana text-mute">30 Days</span>
          </div>
        </div>
      </div>
      <div *ngFor="let chart of donutcharts1" class="data_chart_ana">
        <app-apex-sparkline-donut
          [chartParams]="chart"
        ></app-apex-sparkline-donut>
      </div>
      <div class="data_chart_ana">
        <div class="custom_tr">
          <div class="custom_td1">
            <div class="d-flex align-items-center">
              <span class="marker bg-primary m-r-12"></span>
              <p class="m-b-0 text-muted">Under 30</p>
            </div>
          </div>
          <div class="custom_td2">
            <p class="m-b-0 sub_heading">60,331</p>
          </div>
          <div class="custom_td3">
            <p class="m-b-0 text-muted">75%</p>
          </div>
        </div>
        <div class="custom_tr">
          <div class="custom_td1">
            <div class="d-flex align-items-center">
              <span class="marker bg_pink m-r-12"></span>
              <p class="m-b-0 text-muted">Over 30</p>
            </div>
          </div>
          <div class="custom_td2">
            <p class="m-b-0 sub_heading">15,270</p>
          </div>
          <div class="custom_td3">
            <p class="m-b-0 text-muted">25%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 grid-bottom">
    <div class="card custom-card no-radius">
      <div
        class="card-header d-flex align-items-center custom-card-header border-1"
      >
        <h5 class="m-b-0">Gender Stats</h5>
        <div class="ml-auto">
          <div class="tag_light_ana">
            <span class="tag_name_ana text-mute">30 Days</span>
          </div>
        </div>
      </div>
      <div *ngFor="let chart of donutcharts2" class="data_chart_ana">
        <app-apex-sparkline-donut
          [chartParams]="chart"
        ></app-apex-sparkline-donut>
      </div>
      <div class="data_chart_ana">
        <div class="custom_tr">
          <div class="custom_td1">
            <div class="d-flex align-items-center">
              <span class="marker bg-green m-r-12"></span>
              <p class="m-b-0 text-muted">Male</p>
            </div>
          </div>
          <div class="custom_td2">
            <p class="m-b-0 sub_heading">23,012</p>
          </div>
          <div class="custom_td3">
            <p class="m-b-0 text-muted">40%</p>
          </div>
        </div>
        <div class="custom_tr">
          <div class="custom_td1">
            <div class="d-flex align-items-center">
              <span class="marker bg_light_pink m-r-12"></span>
              <p class="m-b-0 text-muted">Female</p>
            </div>
          </div>
          <div class="custom_td2">
            <p class="m-b-0 sub_heading">35,270</p>
          </div>
          <div class="custom_td3">
            <p class="m-b-0 text-muted">60%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 grid-bottom">
    <div class="card custom-card no-radius">
      <div
        class="card-header d-flex align-items-center custom-card-header border-1"
      >
        <h5 class="m-b-0">Language Stats</h5>
        <div class="ml-auto">
          <div class="tag_light_ana">
            <span class="tag_name_ana text-mute">30 Days</span>
          </div>
        </div>
      </div>
      <div *ngFor="let chart of donutcharts3" class="data_chart_ana">
        <app-apex-sparkline-donut
          [chartParams]="chart"
        ></app-apex-sparkline-donut>
      </div>
      <div class="data_chart_ana">
        <div class="custom_tr">
          <div class="custom_td1">
            <div class="d-flex align-items-center">
              <span class="marker bg-success m-r-12"></span>
              <p class="m-b-0 text-muted">English</p>
            </div>
          </div>
          <div class="custom_td2">
            <p class="m-b-0 sub_heading">50,191</p>
          </div>
          <div class="custom_td3">
            <p class="m-b-0 text-muted">80%</p>
          </div>
        </div>
        <div class="custom_tr">
          <div class="custom_td1">
            <div class="d-flex align-items-center">
              <span class="marker bg-primary m-r-12"></span>
              <p class="m-b-0 text-muted">Other</p>
            </div>
          </div>
          <div class="custom_td2">
            <p class="m-b-0 sub_heading">18,270</p>
          </div>
          <div class="custom_td3">
            <p class="m-b-0 text-muted">20%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 grid-bottom">
    <div class="card custom-card no-radius">
      <div
        class="card-header custom-card-header d-flex justify-content-between align-items-center border-1"
      >
        <h5 class="card-label m-b-0">Traffic and Active Users</h5>
        <span class="material-icons icon-20 icon-gray"> grid_view </span>
      </div>
      <div class="chart_body kk_chartjs">
        <app-line-chartjs></app-line-chartjs>
      </div>
    </div>
    <div class=""></div>
  </div>
  <div class="col-lg-4 grid-bottom">
    <div class="">
      <app-browser-stats></app-browser-stats>
    </div>
  </div>
</div>
