<div class="kmail_header zp-12">
  <div class="app_toggle">
    <div class="menu-wrapper">
      <a
        (click)="openCalenderSidebar()"
        class="toggle-icon link-none hoverable align-items-center"
        ><span class="material-icons cursor-pointer icon-20">
          menu_open
        </span></a
      >
    </div>
  </div>
  <div class="search_field">
    <h5 class="m-b-0 text-center">Full Calender</h5>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-3 cal_event_padding">
    <div class="card custom-card">
      <app-schedular-sidebar></app-schedular-sidebar>
    </div>
  </div>
  <div class="col-lg-9 col-md-9 grid-bottom calfull_grid_padding">
    <div class="card custom-card">
      <div class="card-body">
        <div class="kls_fullcalender">
          <full-calendar
            class="kls_main_calender"
            [options]="calendarOptions"
          ></full-calendar>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Event Detail -->
<p-dialog
  header="Event Details"
  [(visible)]="eventDetail"
  class="fc_cal_evt_custom"
>
  <div class="event_detail_wrap">
    <div class="basic_evt_info">
      <div class="symbol_wrap">
        <span class="material-icons-outlined icon-gray"> info </span>
      </div>
      <div class="evt_info_detail">
        <h5 class="">{{ eventTitle }}</h5>
        <p class="m-b-0 evt_ext_detl">
          {{ eventStartDate | date: "fullDate" }}
        </p>
      </div>
      <div class="evt_info_action">
        <span
          (click)="updateEvent()"
          class="material-icons-outlined icon-gray custom-circle-sm2 cursor-pointer evt_edit"
        >
          edit
        </span>
        <span
          (click)="deleteEvent()"
          class="material-icons-outlined icon-gray custom-circle-sm2 cursor-pointer evt_delete"
        >
          delete_outline
        </span>
      </div>
    </div>
    <div *ngIf="eventDescription" class="basic_evt_info">
      <div class="symbol_wrap">
        <span class="material-icons-outlined icon-gray"> info </span>
      </div>
      <div class="evt_info_detail">
        <p class="m-b-0 evt_ext_detl">{{ eventDescription }}</p>
      </div>
    </div>
    <div class="basic_evt_info">
      <div class="symbol_wrap">
        <span class="material-icons-outlined icon-gray"> info </span>
      </div>
      <div class="evt_info_detail">
        <div class="d-flex align-items-center">
          <span
            [style.backgroundColor]="eventIdColor"
            class="marker m-r-12"
          ></span>
          <p class="m-b-0 evt_ext_detl">{{ eventCategory }}</p>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
<!-- add new enent -->
<p-dialog
  header="Add Event "
  class=""
  [(visible)]="openEvent"
  [modal]="true"
  class="notes-modal"
  [resizable]="false"
>
  <div class="add_task_to_control">
    <form class="" [formGroup]="eventForm">
      <div class="kprime_form_wrapper">
        <div class="from-group m-b-12">
          <label for="event" class="">Event Name</label>
          <input
            type="text"
            placeholder="Event title"
            formControlName="title"
            class="form-control"
          />
        </div>
        <div class="from-group row m-b-12">
          <div class="col-lg-6 col-md-6 col-6">
            <label for="">Date From </label>

            <p-calendar
              class="prime_datepicker"
              [(ngModel)]="today"
              [disabledDays]="[0, 6]"
              [readonlyInput]="true"
              [ngModelOptions]="{ standalone: true }"
              inputId="disabledays"
            ></p-calendar>
          </div>
          <div class="col-lg-6 col-md-6 col-6">
            <label for="">Date To </label>
            <p-calendar
              class="prime_datepicker"
              [(ngModel)]="today"
              [disabledDays]="[0, 6]"
              [readonlyInput]="true"
              [ngModelOptions]="{ standalone: true }"
              inputId="disabledays"
            ></p-calendar>
          </div>
        </div>

        <div class="form-group m-b-12">
          <label for="" class="">Event Type</label>

          <p-dropdown
            [options]="eventTypes"
            [(ngModel)]="selectedEvent"
            [virtualScroll]="true"
            [ngModelOptions]="{ standalone: true }"
            optionLabel="type"
          ></p-dropdown>
        </div>
        <div class="form-group m-b-12">
          <label for="" class=""> Description </label>
          <textarea
            s="2"
            type="text"
            class="form-control"
            formControlName="description"
            placeholder="Enter Description"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="d-flex justify-content-end kprime_footer align-items-center">
    <button type="reset" class="btn btn-outline-danger m-r-8 btn-square">
      Cancel
    </button>
    <button
      type="button"
      (click)="saveEvent()"
      class="btn btn-primary btn-square"
    >
      Submit
    </button>
  </div>
</p-dialog>
<!-- schedular sidebar -->
<p-sidebar
  [(visible)]="schedularSidebarModal"
  [modal]="false"
  class="application_sidebar"
>
  <div class="note_lists scroll">
    <app-schedular-sidebar></app-schedular-sidebar>
  </div>
</p-sidebar>
