<div class="row m-t-12">
  <div class="col-lg-12 col-md-6 grid-bottom">
    <app-basic-bootstrap-tabel></app-basic-bootstrap-tabel>
  </div>
  <div class="col-lg-12 col-md-6 grid-bottom">
    <app-strip-row-bootstrap-tabel></app-strip-row-bootstrap-tabel>
  </div>
  <div class="col-lg-12 col-md-6 grid-bottom">
    <app-hoverable-row-bootstrap-tabel></app-hoverable-row-bootstrap-tabel>
  </div>
  <div class="col-lg-12 col-md-6 grid-bottom">
    <app-responsive-bootstrap-tabel></app-responsive-bootstrap-tabel>
  </div>
  <div class="col-lg-12 col-md-6 grid-bottom">
    <app-bordered-bootstrap-tabel></app-bordered-bootstrap-tabel>
  </div>
  <div class="col-lg-12 col-md-6 grid-bottom">
    <app-borderless-bootstrap-tabel></app-borderless-bootstrap-tabel>
  </div>

  <div class="col-lg-12 col-md-12 grid-bottom">
    <app-color-varient-bootstrap-tabel></app-color-varient-bootstrap-tabel>
  </div>
</div>
