<div class="row">
  <div class="col-lg-12 m-b-12">
    <div class="card custom-card">
      <div class="card-header custom-card-header border-1">
        <h5 class="card-title m-b-0">Products Sales Tabel</h5>
      </div>
      <div class="">
        <app-tabel></app-tabel>
      </div>
    </div>
  </div>
  <div class="col-lg-12 m-b-12">
    <div class="card custom-card">
      <div class="card-header custom-card-header border-1">
        <h5 class="card-title m-b-0">Users Tabel</h5>
      </div>

      <div>
        <app-list-contacts></app-list-contacts>
      </div>
    </div>
  </div>
</div>
