<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6 m-b-20">
    <div class="card custom-card">
      <div class="">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="">
              <h4 class="fw-600 m-b-0 p-b-8">120</h4>
              <h6 class="text-success m-b-0">Vistted Locations</h6>
            </div>
            <div class="m-l-auto">
              <div class="display-6 text-success">
                <i class="ti ti-map-alt"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 m-b-20">
    <div class="card custom-card">
      <div class="">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="">
              <h4 class="fw-600 m-b-0 p-b-8">227</h4>
              <h6 class="text-dark m-b-0">TopActivity Pages</h6>
            </div>
            <div class="m-l-auto">
              <div class="display-6 text-dark">
                <i class="ti ti-check-box"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 m-b-20">
    <div class="card custom-card">
      <div class="">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="">
              <h4 class="fw-600 m-b-0 p-b-8">170</h4>
              <h6 class="text-warning m-b-0">Top Sales</h6>
            </div>
            <div class="m-l-auto">
              <div class="display-6 text-warning">
                <i class="ti ti-bar-chart-alt"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 m-b-20">
    <div class="card custom-card">
      <div class="">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="">
              <h4 class="fw-600 m-b-0 p-b-8">208</h4>
              <h6 class="text-info m-b-0">Feeds</h6>
            </div>
            <div class="m-l-auto">
              <div class="display-6 text-info">
                <i class="ti ti-receipt"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6 m-b-20">
    <div class="">
      <div class="card custom-card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="display-6 text-dark">
              <i class="ti ti-layout-slider-alt"></i>
            </div>
            <div class="m-l-auto">
              <h4 class="fw-600 text-right m-b-0 p-b-8">380</h4>
              <h6 class="text-dark text-right m-b-0">Systems</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 m-b-20">
    <div class="">
      <div class="card custom-card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="display-6 text-purple">
              <i class="ti ti-pie-chart"></i>
            </div>
            <div class="m-l-auto">
              <h4 class="fw-600 m-b-0 text-right p-b-8">220</h4>
              <h6 class="text-purple text-right m-b-0">Net Income</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 m-b-20">
    <div class="">
      <div class="card custom-card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="display-6 text-success">
              <i class="ti ti-panel"></i>
            </div>
            <div class="m-l-auto">
              <h4 class="fw-600 m-b-0 text-right p-b-8">450</h4>
              <h6 class="text-success text-right m-b-0">Sales Performance</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 m-b-20">
    <div class="">
      <div class="card custom-card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="display-6 text-info">
              <i class="ti ti-layers-alt"></i>
            </div>
            <div class="m-l-auto">
              <h4 class="fw-600 m-b-0 text-right p-b-8">370</h4>
              <h6 class="text-info text-right m-b-0">Monthly Sales</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- crypto-cards -->
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6 m-b-20">
    <div class="card custom-card">
      <div class="bg-success">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="cursor-pointer">
              <i title="ETH" class="display-6 cc ETH text-white"></i>
            </div>
            <div class="ml-3">
              <h5 class="fw-600 m-b-0 text-white">Ethereum</h5>
              <h6 class="text-white m-b-0"><span>$</span> 3847.00k</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 m-b-20">
    <div class="card custom-card">
      <div class="bg-info">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="cursor-pointer">
              <i title="LTC" class="display-6 cc DASH-alt text-white"></i>
            </div>
            <div class="ml-3">
              <h5 class="fw-600 m-b-0 text-white">Dash</h5>
              <h6 class="text-white m-b-0"><span>$</span> 5547.00k</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 m-b-20">
    <div class="card custom-card">
      <div class="bg-orange">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="cursor-pointer">
              <i title="BTC" class="display-6 cc BTC-alt text-white"></i>
            </div>
            <div class="ml-3">
              <h5 class="fw-600 m-b-0 text-white">Bitcoin</h5>
              <h6 class="text-white m-b-0"><span>$</span> 847.00k</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 m-b-20">
    <div class="card custom-card">
      <div class="bg-primary">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="cursor-pointer">
              <i title="AMP" class="display-6 cc AMP-alt text-white"></i>
            </div>
            <div class="ml-3">
              <h5 class="fw-600 m-b-0 text-white">Ripple</h5>
              <h6 class="text-white m-b-0"><span>$</span> 384.00k</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
