<div class = "">
    <div class="card-group m-b-12">
        <div class="card custom-card m-r-12 m-b-8">
            <img class="card-img-top" src="assets/media/images/cards/7.jpg" alt="Card image cap">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center m-b-12">
                    <h6 class="m-b-0  d-flex  align-items-center">
                        <span class="material-icons-outlined icon m-r-4">
                            calendar_today
                            </span>
                            20 May 2020
                    </h6>
                    <h6 class="m-b-0 hoverd d-flex align-items-center">
                        <i class="ti ti-comments icon m-r-4"></i>
                            3 Comments
                    </h6>
                </div>
            <h3 class="p-b-8 m-b-0">Virus is now under control</h3>
            <p class="m-b-0">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class=" px-4 p-b-16">
                <button class="btn btn-pill btn-success">Read More</button>
            </div>
        </div>
        <div class="card custom-card m-r-12 m-b-8">
            <img class="card-img-top" src="assets/media/images/cards/4.jpg" alt="Card image cap">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center m-b-12">
                    <h6 class="m-b-0  d-flex  align-items-center">
                        <span class="material-icons-outlined icon m-r-4">
                            calendar_today
                            </span>
                            06 Oct 2020
                    </h6>
                    <h6 class="m-b-0 hoverd d-flex align-items-center">
                        <i class="ti ti-comments icon m-r-4"></i>
                            5 Comments
                    </h6>src/app/partials/reuse-cards/ultility-card
            <img class="card-img-top" src="assets/media/images/cards/1.jpg" alt="Card image cap">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center m-b-12">
                    <h6 class="m-b-0  d-flex  align-items-center">
                        <span class="material-icons-outlined icon m-r-4">
                            calendar_today
                            </span>
                            05 Sept 2019
                    </h6>
                    <h6 class="m-b-0 hoverd d-flex align-items-center">
                        <i class="ti ti-comments icon m-r-4"></i>
                            10 Comments
                    </h6>
                </div>
            <h3 class="p-b-8 m-b-0">Project showcase is ready.</h3>
            <p class="m-b-0">This is a wider card with supporting text below as a natural additional content. This content is a little bit longer.</p>
            </div>
            <div class=" px-4 p-b-16">
                <button class="btn btn-pill btn-success">Read More</button>
            </div>
        </div>
    </div>
    <!-- card-tiles -->
    <div class="row m-b-12">
        <div class="col-lg-3 m-b-12">
            <div class="card custom-card">
                <div class="card-body">
                    <h3 class="m-b-0 p-b-8">
                        80%
                    </h3>
                    <p class="m-b-0 p-b-8">Total Products</p>
                    <div class="">
                        <progressbar [value]="80" type="info" max = "100" style="height: 5px;" ></progressbar>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 m-b-12">
            <div class="card custom-card">
                <div class="card-body">
                    <h3 class="m-b-0 p-b-8">
                        38%
                    </h3>
                    <p class="m-b-0 p-b-8">Pending Products</p>
                    <div class="">
                        <progressbar [value]="38" type="warning" max = "100" style="height: 5px;" ></progressbar>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 m-b-12">
            <div class="card custom-card">
                <div class="card-body">
                    <h3 class="m-b-0 p-b-8">
                        45%
                    </h3>
                    <p class="m-b-0 p-b-8">Selling Products</p>
                    <div class="">
                        <progressbar [value]="45" type="success" max = "100" style="height: 5px;" ></progressbar>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 m-b-12">
            <div class="card custom-card">
                <div class="card-body">
                    <h3 class="m-b-0 p-b-8">
                        59%
                    </h3>
                    <p class="m-b-0 p-b-8">Buying Products</p>
                    <div class="">
                        <progressbar [value]="59" type="danger" max = "100" style="height: 5px;" ></progressbar>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-b-12">
        <div class="col-lg-3 m-b-12">
            <div class="card custom-card">
                <div class="bg-info">
                    <div class="card-body">
                        <div class="">
                            <i class="ti ti-world text-white ti-icons icon"></i>
                        </div>
                        <h6 class="m-b-0 p-b-16 text-white">
                            25th Jan 2020
                        </h6>
                        <h4 class="m-b-0 p-b-16 fw-600 text-white">Top 5 news of Indian Express</h4>
                        <button class="btn btn-square btn-secondary ">Default</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 m-b-12">
            <div class="card custom-card">
                <div class="bg-purple">
                    <div class="card-body">
                        <div class="">
                            <i class="ti ti-apple text-white ti-icons icon"></i>
                        </div>
                        <h6 class="m-b-0 p-b-16 text-white">
                            25th Sept 2020
                        </h6>
                        <h4 class="m-b-0 p-b-16 fw-600 text-white">Apple growth rate increased by  3.8%</h4>
                        <button class="btn btn-square btn-primary ">Default</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 m-b-12">
            <div class="card custom-card">
                <div class=" bg-dark">
                    <div class="card-body">
                        <div class="">
                            <i class="ti ti-skype text-white ti-icons icon"></i>
                        </div>
                        <h6 class="m-b-0 p-b-16 text-white">
                            25th Jan 2020
                        </h6>
                        <h4 class="m-b-0 p-b-16 text-white fw-600 ">Skype got placed in  Top 10</h4>
                        <button class="btn btn-square btn-secondary ">Default</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 m-b-12">
            <div class="card custom-card">
                <div class="bg-white">
                    <div class="card-body">
                        <div class="">
                            <i class="ti ti-wordpress text-dark ti-icons icon"></i>
                        </div>
                        <h6 class="m-b-0 p-b-16 text-dark">
                            25th Jan 2021
                        </h6>
                        <h4 class="m-b-0 p-b-16 fw-600 text-dark">Wordpress Added New Feature</h4>
                        <button class="btn btn-square btn-dark">Default</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-b-12">
        <div class=" card custom-card text-white">
            <img class="card-img img-wi-cover " src="assets/media/images/slide/5.jpg" alt="Card image">
                <div class="card-img-overlay">
                    <div class="text-white">
                        <span><i class="wi wi-day-sunny display-4"></i>
                        </span>
                        <br>
                        <span class="display-6">20° <span class="">C</span></span>
                        <span class="">/</span><span class="">7° <span class="">C</span>
                        </span><p class="text-white m-b-0">Sunday  23 Jun, 2019</p>
                    </div>
                </div>  
                <div class="card-footer custom-card-footer py-0">
                    <div class="row no-gutters">
                        <div class="col-6 col-md-6 col-lg-2 p-2">
                            <div class="day text-center border-right-1 ">
                                <h6 class="m-b-0 p-b-8 text-muted">Mon </h6>
                                <i class="wi wi-day-cloudy p-b-8 text-muted icon"></i>
                                <p class="m-b-0 ">24° <span>C</span></p>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-2 p-2">
                            <div class="day text-center border-right-1 ">
                                <h6 class="m-b-0 p-b-8 text-muted">Tue </h6>
                                <i class="wi wi-day-cloudy p-b-8 text-muted icon"></i>
                                <p class="m-b-0 ">22° <span>C</span></p>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-2 p-2">
                            <div class="day text-center border-right-1 ">
                                <h6 class="m-b-0 p-b-8 text-muted">Wed </h6>
                                <i class="wi wi-day-sunny p-b-8 text-muted icon"></i>
                                <p class="m-b-0 ">28° <span>C</span></p>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-2 p-2">
                            <div class="day text-center border-right-1 ">
                                <h6 class="m-b-0 p-b-8 text-muted">Thu </h6>
                                <i class="wi wi-day-cloudy-gusts p-b-8 text-muted icon"></i>
                                <p class="m-b-0 ">19° <span>C</span></p>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-2 p-2">
                            <div class="day text-center border-right-1 ">
                                <h6 class="m-b-0 p-b-8 text-muted">Fri </h6>
                                <i class="wi wi-day-lightning p-b-8 text-muted icon"></i>
                                <p class="m-b-0 ">23° <span>C</span></p>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-2 p-2">
                            <div class="day text-center ">
                                <h6 class="m-b-0 p-b-8 text-muted">Sat </h6>
                                <i class="wi wi-day-storm-showers p-b-8 text-muted icon"></i>
                                <p class="m-b-0 ">20° <span>C</span></p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="row m-b-12">
        <div class="col-lg-3">
            <div class="card custom-card">
                <div class="border-bottom-info">
                    <div class="card-body">
                        <div class="d-flex  align-items-center">
                            <div class="">
                                <h3 class="fw-600 m-b-0  p-b-8">120</h3>
                                <h6 class="text-info m-b-0">News Feed</h6>
                            </div>
                            <div class="m-l-auto">
                                <div class="display-6 text-info">
                                    <i class="ti ti-notepad "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card custom-card">
                <div class="border-bottom-primary">
                    <div class="card-body">
                        <div class="d-flex  align-items-center">
                            <div class="">
                                <h3 class="fw-600 m-b-0  p-b-8">90</h3>
                                <h6 class="text-primary m-b-0">Invoice </h6>
                            </div>
                            <div class="m-l-auto">
                                <div class="display-6 text-primary">
                                    <i class="ti ti-comments "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card custom-card">
                <div class="border-bottom-success">
                    <div class="card-body">
                        <div class="d-flex  align-items-center">
                            <div class="">
                                <h3 class="fw-600 m-b-0  p-b-8">150</h3>
                                <h6 class="text-success m-b-0">Revenue </h6>
                            </div>
                            <div class="m-l-auto">
                                <div class="display-6 text-success">
                                    <i class="ti ti-wallet "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card custom-card">
                <div class="border-bottom-orange">
                    <div class="card-body">
                        <div class="d-flex  align-items-center">
                            <div class="">
                                <h3 class="fw-600 m-b-0  p-b-8">250</h3>
                                <h6 class="text-orange m-b-0">Sales </h6>
                            </div>
                            <div class="m-l-auto">
                                <div class="display-6 text-orange">
                                    <i class="ti ti-stats-down "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row m-b-12">
        <div class="col-lg-3">
            <div class="border-left-orange">
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="display-6 text-orange">
                                <i class="ti ti-user"></i>
                            </div>
                            <div class="m-l-auto">
                                <h3 class="fw-600 m-b-0  p-b-8">200</h3>
                                <h6 class="text-orange m-b-0">New Customers </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="border-left-purple">
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="display-6 text-purple">
                                <i class="ti ti-comments"></i>
                            </div>
                            <div class="m-l-auto">
                                <h3 class="fw-600 m-b-0  p-b-8">350</h3>
                                <h6 class="text-purple m-b-0">New Messages </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="border-left-info">
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="display-6 text-info">
                                <i class="ti ti-comments-smiley"></i>
                            </div>
                            <div class="m-l-auto">
                                <h3 class="fw-600 m-b-0  p-b-8">250</h3>
                                <h6 class="text-info m-b-0">New Notifiaction </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="border-left-success">
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="display-6 text-success">
                                <i class="ti ti-layout-media-left-alt"></i>
                            </div>
                            <div class="m-l-auto">
                                <h3 class="fw-600 m-b-0  p-b-8">150</h3>
                                <h6 class="text-success m-b-0">New Projects </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div class="row m-b-12">
        <div class="col-lg-3">
            <div class="card custom-card">
                <div class="border-top-success">
                    <div class="card-body">
                        <div class="d-flex  align-items-center">
                            <div class="">
                                <h3 class="fw-600 m-b-0  p-b-8">120</h3>
                                <h6 class="text-success m-b-0">Top Locations</h6>
                            </div>
                            <div class="m-l-auto">
                                <div class="display-6 text-success">
                                    <i class="ti ti-map-alt "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card custom-card">
                <div class="border-top-dark">
                    <div class="card-body">
                        <div class="d-flex  align-items-center">
                            <div class="">
                                <h3 class="fw-600 m-b-0  p-b-8">227</h3>
                                <h6 class="text-dark m-b-0">TopActivity Pages </h6>
                            </div>
                            <div class="m-l-auto">
                                <div class="display-6 text-dark">
                                    <i class="ti ti-check-box "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card custom-card">
                <div class="border-top-warning">
                    <div class="card-body">
                        <div class="d-flex  align-items-center">
                            <div class="">
                                <h3 class="fw-600 m-b-0  p-b-8">170</h3>
                                <h6 class="text-warning m-b-0">Top Sales </h6>
                            </div>
                            <div class="m-l-auto">
                                <div class="display-6 text-warning">
                                    <i class="ti ti-bar-chart-alt "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card custom-card">
                <div class="border-top-info">
                    <div class="card-body">
                        <div class="d-flex  align-items-center">
                            <div class="">
                                <h3 class="fw-600 m-b-0  p-b-8">208</h3>
                                <h6 class="text-info m-b-0">Feeds </h6>
                            </div>
                            <div class="m-l-auto">
                                <div class="display-6 text-info">
                                    <i class="ti ti-reciept "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row m-b-12">
        <div class="col-lg-3">
            <div class="border-right-dark">
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="display-6 text-dark">
                                <i class="ti ti-layout-slider-alt"></i>
                            </div>
                            <div class="m-l-auto">
                                <h3 class="fw-600 m-b-0  p-b-8">380</h3>
                                <h6 class="text-dark m-b-0">Device Variations </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="border-right-purple">
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="display-6 text-purple">
                                <i class="ti ti-pie-chart"></i>
                            </div>
                            <div class="m-l-auto">
                                <h3 class="fw-600 m-b-0  p-b-8">220</h3>
                                <h6 class="text-purple m-b-0">Net Income </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="border-right-success">
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="display-6 text-success">
                                <i class="ti ti-panel"></i>
                            </div>
                            <div class="m-l-auto">
                                <h3 class="fw-600 m-b-0  p-b-8">450</h3>
                                <h6 class="text-success m-b-0">Sales Performance </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="border-right-info">
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="display-6 text-info">
                                <i class="ti ti-layers-alt"></i>
                            </div>
                            <div class="m-l-auto">
                                <h3 class="fw-600 m-b-0  p-b-8">370</h3>
                                <h6 class="text-info m-b-0">Monthly Sales </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
     <!-- Big-weather tile  -->
     <div class="row m-b-12">
        <div class="col-lg-6 m-b-12">
            <div class="card-group">
                <div class="card custom-card">
                    <div class="bg-success border-right-secondary">
                        <div class="card-body">
                           <div class="  ">
                                    <div class=" d-flex align-items-center justify-content-center  ">
                                        <h3 class="m-b-0 py-3 display-6 text-white">
                                            27° <span class="text-white display-6">C</span>
                                        </h3>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <h6 class="m-b-0 p-b-12 text-white">Lester, London</h6>
                                    </div>
                                </div>     
                        </div>
                    </div>
                </div>  
                <div class="card custom-card">
                    <div class="bg-success">
                        <div class="card-body">
                            <div class=" ">
                                <div class="display-6 p-t-12 p-b-16 d-flex align-items-center justify-content-center  text-white">
                                    <i class=" wi wi-hail"></i>
                                </div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <h6 class=" m-b-0 p-b-12 text-white">20° <span class="text-white ">C</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            
        </div>
        <div class="col-lg-6 m-b-12">
            <div class="card custom-card">
                <div class="bg-info">
                    <div class="card-body">
                            <div class=" d-flex align-items-center justify-content-center">
                                <div class="display-6 mr-2 text-white">
                                    <i class=" wi wi-sandstorm"></i>
                                </div>
                                <div class="">
                                    <span class="display-6 text-white">20° <span class="text-white">C</span></span>
                                    <span class="text-white">/</span><span class="text-white">7° <span class="text-white">C</span></span>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center py-3">
                    <p class="m-b-0 text-info"> 5 May 2020</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 m-b-12">
            <div class="card custom-card">
                <div class="bg-info">
                    <div class="card-body">
                            <div class=" d-flex align-items-center justify-content-center">
                                <div class="display-6 mr-2 text-white">
                                    <i class=" wi wi-sandstorm"></i>
                                </div>
                                <div class="">
                                    <span class="display-6 text-white">20° <span class="text-white">C</span></span>
                                    <span class="text-white">/</span><span class="text-white">7° <span class="text-white">C</span></span>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center py-3">
                    <p class="m-b-0 text-info"> 5 May 2020</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 m-b-12">
            <div class="card custom-card">
                <div class="bg-purple">
                    <div class="card-body">
                            <div class=" d-flex align-items-center justify-content-center">
                                
                                <div class="mr-2">
                                    <span class="display-6 text-white">10° <span class="text-white">C</span></span>
                                    <span class="text-white">/</span><span class="text-white">7° <span class="text-white">C</span></span>
                                </div>
                                <div class="display-6  text-white">
                                    <i class=" wi wi-sandstorm"></i>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="d-flex align-items-center  p-3">
                    <div class="">
                        <h6 class="m-b-0">
                            <i class="wi wi-day-storm-showers m-r-4"></i> 15Kmph
                        </h6>
                    </div>
                    <div class=" m-l-auto">
                        <h6 class="m-b-0">
                            40%
                        </h6>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- crypto-cards -->
    <div class="row m-b-12">
        <div class="col-lg-3">
            <div class="card custom-card">
                <div class="bg-dark">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div  class=" cursor-pointer">
                                <i title="ETH" class="display-6 cc ETH text-white"></i>
                            </div>
                            <div class="ml-3">
                                <h5 class="fw-600 m-b-0 text-white">Ethereum</h5>
                                <h6 class="text-white m-b-0"><span>$</span> 3847.00k </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card custom-card">
                <div class="bg-info">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div  class=" cursor-pointer">
                                <i title="LTC" class="display-6 cc DASH-alt text-white"></i>
                            </div>
                            <div class="ml-3">
                                <h5 class="fw-600 m-b-0 text-white">Dash</h5>
                                <h6 class="text-white m-b-0"><span>$</span> 5547.00k </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card custom-card">
                <div class="bg-orange">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div  class=" cursor-pointer">
                                <i title="BTC" class="display-6 cc BTC-alt text-white"></i>
                            </div>
                            <div class="ml-3">
                                <h5 class="fw-600 m-b-0 text-white">Bitcoin</h5>
                                <h6 class="text-white m-b-0"><span>$</span> 847.00k </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card custom-card">
                <div class="bg-primary">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div  class=" cursor-pointer">
                                <i title="AMP" class="display-6 cc AMP-alt text-white"></i>
                            </div>
                            <div class="ml-3">
                                <h5 class="fw-600 m-b-0 text-white">Ripple</h5>
                                <h6 class="text-white m-b-0"><span>$</span> 384.00k </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- crypto-big-cards -->
     <div class="row m-b-12">
        <div class="col-lg-4 m-b-12">
            <div class="card custom-card">
                <div class="bg-orange">
                    <div class="card-body ">
                        <div class="p-b-16">
                            <div class="d-flex align-items-center">
                                <div  class=" cursor-pointer">
                                    <i title="BTC" class="cc BTC text-white display-6"></i>
                                </div>
                                <div class="ml-3">
                                    <h5 class="fw-600 m-b-0 text-white">Bitcoin</h5>
                                    <h6 class="text-white m-b-0">Realestate</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row tex-center">
                            <div class="col-4 text-center">
                                <p class="m-b-0 text-white">% 1h</p>
                                <p class="fw-600 m-b-0 d-flex align-items-center text-white p-b-16">
                                    <span  class="material-icons-outlined icon m-r-4"> arrow_downward </span>
                                    -3.12
                                </p>
                            </div>
                            <div class="col-4 text-center">
                                <p class="m-b-0 text-white">% 24h</p>
                                <p class="fw-600 m-b-0 d-flex align-items-center text-white p-b-16">
                                    <span  class="material-icons-outlined icon m-r-4"> arrow_downward </span>
                                    -4.34
                                </p>
                            </div>
                            <div class="col-4 text-center">
                                <p class="m-b-0 text-white">% 7d</p>
                                <p class="fw-600 m-b-0 d-flex align-items-center text-white p-b-16">
                                    <span  class="material-icons-outlined icon m-r-4"> arrow_upward </span>
                                    0.45
                                </p>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 m-b-12">
            <div class="card custom-card">
                <div class="bg-success">
                    <div class="card-body ">
                        <div class="p-b-16">
                            <div class="d-flex align-items-center">
                                <div  class=" cursor-pointer">
                                    <i title="EOS" class="display-6 cc EOS-alt text-white"></i>
                                </div>
                                <div class="ml-3">
                                    <h5 class="fw-600 m-b-0 text-white">EOS</h5>
                                    <h6 class="text-white m-b-0">Banking </h6>
                                </div>
                            </div>
                        </div>
                        <div class="row tex-center">
                            <div class="col-4 text-center">
                                <p class="m-b-0 text-white">% 1h</p>
                                <p class="fw-600 m-b-0 d-flex align-items-center text-white p-b-16">
                                    <span  class="material-icons-outlined icon m-r-4"> arrow_upward </span>
                                    5.25
                                </p>
                            </div>
                            <div class="col-4 text-center">
                                <p class="m-b-0 text-white">% 24h</p>
                                <p class="fw-600 m-b-0 d-flex align-items-center text-white p-b-16">
                                    <span  class="material-icons-outlined icon m-r-4"> arrow_downward </span>
                                   - 0.34
                                </p>
                            </div>
                            <div class="col-4 text-center">
                                <p class="m-b-0 text-white">% 7d</p>
                                <p class="fw-600 m-b-0 d-flex align-items-center text-white p-b-16">
                                    <span  class="material-icons-outlined icon m-r-4"> arrow_upward </span>
                                    0.45
                                </p>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 m-b-12">
            <div class="card custom-card">
                <div class="bg-dark">
                    <div class="card-body ">
                        <div class="p-b-16">
                            <div class="d-flex align-items-center">
                                <div  class=" cursor-pointer">
                                    <i title="ETH" class="display-6 cc ETH text-white"></i>
                                </div>
                                <div class="ml-3">
                                    <h5 class="fw-600 m-b-0 text-white">Ethereum</h5>
                                    <h6 class="text-white m-b-0"> Exchange </h6>
                                </div>
                            </div>
                        </div>
                        <div class="row tex-center">
                            <div class="col-4 text-center">
                                <p class="m-b-0 text-white">% 1h</p>
                                <p class="fw-600 m-b-0 d-flex align-items-center text-white p-b-16">
                                    <span  class="material-icons-outlined icon m-r-4"> arrow_upward </span>
                                    2.34
                                </p>
                            </div>
                            <div class="col-4 text-center">
                                <p class="m-b-0 text-white">% 24h</p>
                                <p class="fw-600 m-b-0 d-flex align-items-center text-white p-b-16">
                                    <span  class="material-icons-outlined icon m-r-4"> arrow_downward </span>
                                     - 0.84
                                </p>
                            </div>
                            <div class="col-4 text-center">
                                <p class="m-b-0 text-white">% 7d</p>
                                <p class="fw-600 m-b-0 d-flex align-items-center text-white p-b-16">
                                    <span  class="material-icons-outlined icon m-r-4"> arrow_upward </span>
                                    5.45
                                </p>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 m-b-12">
            <div class="card custom-card">
                <div class="bg-secondary">
                    <div class="card-body ">
                        <div class="p-b-16">
                            <div class="d-flex align-items-center">
                                <div  class=" cursor-pointer">
                                    <i title="BTM" class="cc BTM-alt text-white display-6"></i>
                                </div>
                                <div class="ml-3">
                                    <h5 class="fw-600 m-b-0 text-white">BitMark</h5>
                                    <h6 class="text-white m-b-0">Advertising</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row tex-center">
                            <div class="col-4 text-center">
                                <p class="m-b-0 text-white">% 1h</p>
                                <p class="fw-600 m-b-0 d-flex align-items-center text-white p-b-16">
                                    <span  class="material-icons-outlined icon m-r-4"> arrow_downward </span>
                                    - 3.12
                                </p>
                            </div>
                            <div class="col-4 text-center">
                                <p class="m-b-0 text-white">% 24h</p>
                                <p class="fw-600 m-b-0 d-flex align-items-center text-white p-b-16">
                                    <span  class="material-icons-outlined icon m-r-4"> arrow_downward </span>
                                    - 4.34
                                </p>
                            </div>
                            <div class="col-4 text-center">
                                <p class="m-b-0 text-white">% 7d</p>
                                <p class="fw-600 m-b-0 d-flex align-items-center text-white p-b-16">
                                    <span  class="material-icons-outlined icon m-r-4"> arrow_upward </span>
                                    0.45
                                </p>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 m-b-12">
            <div class="card custom-card">
                <div class="bg-info">
                    <div class="card-body ">
                        <div class="p-b-16">
                            <div class="d-flex align-items-center">
                                <div  class=" cursor-pointer">
                                    <i title="DASH" class="display-6 cc DASH-alt text-white"></i>
                                </div>
                                <div class="ml-3">
                                    <h5 class="fw-600 m-b-0 text-white">Dash</h5>
                                    <h6 class="text-white m-b-0">Trading </h6>
                                </div>
                            </div>
                        </div>
                        <div class="row tex-center">
                            <div class="col-4 text-center">
                                <p class="m-b-0 text-white">% 1h</p>
                                <p class="fw-600 m-b-0 d-flex align-items-center text-white p-b-16">
                                    <span  class="material-icons-outlined icon m-r-4"> arrow_upward </span>
                                    5.25
                                </p>
                            </div>
                            <div class="col-4 text-center">
                                <p class="m-b-0 text-white">% 24h</p>
                                <p class="fw-600 m-b-0 d-flex align-items-center text-white p-b-16">
                                    <span  class="material-icons-outlined icon m-r-4"> arrow_downward </span>
                                   - 0.34
                                </p>
                            </div>
                            <div class="col-4 text-center">
                                <p class="m-b-0 text-white">% 7d</p>
                                <p class="fw-600 m-b-0 d-flex align-items-center text-white p-b-16">
                                    <span  class="material-icons-outlined icon m-r-4"> arrow_upward </span>
                                    0.45
                                </p>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 m-b-12">
            <div class="card custom-card">
                <div class="bg-purple">
                    <div class="card-body ">
                        <div class="p-b-16">
                            <div class="d-flex align-items-center">
                                <div  class=" cursor-pointer">
                                    <i title="GEMZ" class="display-6 cc GEMZ-alt text-white"></i>
                                </div>
                                <div class="ml-3">
                                    <h5 class="fw-600 m-b-0 text-white">GetGems</h5>
                                    <h6 class="text-white m-b-0"> Exchange </h6>
                                </div>
                            </div>
                        </div>
                        <div class="row tex-center">
                            <div class="col-4 text-center">
                                <p class="m-b-0 text-white">% 1h</p>
                                <p class="fw-600 m-b-0 d-flex align-items-center text-white p-b-16">
                                    <span  class="material-icons-outlined icon m-r-4"> arrow_upward </span>
                                    2.34
                                </p>
                            </div>
                            <div class="col-4 text-center">
                                <p class="m-b-0 text-white">% 24h</p>
                                <p class="fw-600 m-b-0 d-flex align-items-center text-white p-b-16">
                                    <span  class="material-icons-outlined icon m-r-4"> arrow_downward </span>
                                     - 0.84
                                </p>
                            </div>
                            <div class="col-4 text-center">
                                <p class="m-b-0 text-white">% 7d</p>
                                <p class="fw-600 m-b-0 d-flex align-items-center text-white p-b-16">
                                    <span  class="material-icons-outlined icon m-r-4"> arrow_upward </span>
                                    5.45
                                </p>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- Big tile  -->
    <div class="row m-b-12">
        <div class="col-lg-6 m-b-12">
            <div class="card custom-card">
                <div class="bg-success">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class=" d-flex align-items-center">
                                <div class="display-6  mr-2 text-white">
                                    <i class="ti ti-wallet"></i>
                                </div>
                                <div class="">
                                    <h4 class="m-b-0 text-white">Total Income</h4>
                                    <h6 class="m-b-0 text-white">Income</h6>
                                </div>
                            </div>
                            <div class="m-l-auto">
                                <h3 class="m-b-0 fw-600 text-white"> <span>$</span> 2500 </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 m-b-12">
            <div class="card custom-card">
                <div class="bg-purple">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class=" d-flex align-items-center">
                                <div class="display-6  mr-2 text-white">
                                    <i class="ti ti-user"></i>
                                </div>
                                <div class="">
                                    <h4 class="m-b-0 text-white">Total Products</h4>
                                    <h6 class="m-b-0 text-white">Users</h6>
                                </div>
                            </div>
                            <div class="m-l-auto">
                                <h3 class="m-b-0 fw-600 text-white"> <span>$</span> 3000 </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 m-b-12">
            <div class="card custom-card">
                <div class="bg-info">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class=" d-flex align-items-center">
                                <div class="display-6  mr-2 text-white">
                                    <i class="ti ti-calendar"></i>
                                </div>
                                <div class="">
                                    <h4 class="m-b-0 text-white">Total Members</h4>
                                    <h6 class="m-b-0 text-white">My Birthday</h6>
                                </div>
                            </div>
                            <div class="m-l-auto">
                                <h3 class="m-b-0 fw-600 text-white"> 31 May </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 m-b-12">
            <div class="card custom-card">
                <div class="bg-orange">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class=" d-flex align-items-center">
                                <div class="display-6  mr-2 text-white">
                                    <i class="ti ti-settings"></i>
                                </div>
                                <div class="">
                                    <h4 class="m-b-0 text-white">Total Tasks</h4>
                                    <h6 class="m-b-0 text-white">Pending</h6>
                                </div>
                            </div>
                            <div class="m-l-auto">
                                <h3 class="m-b-0 fw-600 text-white">4390 </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>