<div class="card custom-card grid-bottom">
  <div class="card-header custom-card-header border-0">
    <h3 class="m-b-8">Pagination</h3>
    <p class="text-muted">
      Pagination - provide pagination links for your site or app with the
      multi-page pagination component, or the simpler pager alternative. Please
      visit the Official
      <a
        href="https://valor-software.com/ngx-bootstrap/#/pagination"
        target="_blank"
        class="custom-link"
        >Ngx-Bootstrap Documentation</a
      >
      for a full list of instructions and other options.
    </p>
  </div>
</div>
<div class="main_section">
  <div class="row">
    <div class="col-lg-6 grid-bottom">
      <app-basic-pagination></app-basic-pagination>
    </div>
    <div class="col-lg-6 grid-bottom">
      <app-custom-link-pagination></app-custom-link-pagination>
    </div>
    <div class="col-lg-6 grid-bottom">
      <app-change-event-pagination></app-change-event-pagination>
    </div>
    <div class="col-lg-6 grid-bottom">
      <app-boundry-link-pagination></app-boundry-link-pagination>
    </div>
    <div class="col-lg-6 grid-bottom">
      <app-rounded-pagination></app-rounded-pagination>
    </div>
    <div class="col-lg-6 grid-bottom">
      <app-seprated-pagination></app-seprated-pagination>
    </div>
  </div>
</div>
