<div class="card custom-card grid-bottom">
  <div class="card-header custom-card-header border-0">
    <h4 class="m-b-8">Collapse</h4>
    <p class="text-muted">
      Collapse component allows you to toggle content on your pages with a bit
      of JavaScript and some classes. Please visit the Official
      <a
        href="https://valor-software.com/ngx-bootstrap/#/collapse"
        target="_blank"
        class="custom-link"
        >NGX-Bootstrap Documentation</a
      >
      for a full list of instructions and other options.
    </p>
  </div>
</div>
<div class="main_section">
  <div class="row">
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-basic-collapse></app-basic-collapse>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-event-collapse></app-event-collapse>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-manual-collapse></app-manual-collapse>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-inline-collapse></app-inline-collapse>
    </div>
  </div>
</div>
