<div class="card custom-card shadow1 no-radius">
  <div class="bg-success">
    <div class="card-body">
      <div class="p-b-16">
        <div class="d-flex align-items-center">
          <div class="cursor-pointer">
            <i title="EOS" class="display-6 cc EOS-alt text-white"></i>
          </div>
          <div class="m-l-12">
            <h5 class="fw-600 m-b-0 text-white">EOS</h5>
            <h6 class="text-white m-b-0">Banking</h6>
          </div>
        </div>
      </div>
      <div class="row tex-center">
        <div class="col-4 text-center">
          <p class="m-b-0 text-white">% 1h</p>
          <p
            class="
              fw-600
              m-b-0
              justify-content-center
              d-flex
              align-items-center
              text-white
            "
          >
            <span class="material-icons-outlined icon-20 m-r-4">
              arrow_upward
            </span>
            5.25
          </p>
        </div>
        <div class="col-4 text-center">
          <p class="m-b-0 text-white">% 24h</p>
          <p
            class="
              fw-600
              m-b-0
              justify-content-center
              d-flex
              align-items-center
              text-white
            "
          >
            <span class="material-icons-outlined icon-20 m-r-4">
              arrow_downward
            </span>
            <span>-</span>
            0.34
          </p>
        </div>
        <div class="col-4 text-center">
          <p class="m-b-0 text-white">% 7d</p>
          <p
            class="
              fw-600
              m-b-0
              justify-content-center
              d-flex
              align-items-center
              text-white
            "
          >
            <span class="material-icons-outlined icon-20 m-r-4">
              arrow_upward
            </span>
            0.45
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
