<div class="card custom-card grid-bottom">
  <div class="card-header custom-card-header border-1">
    <h5 class="m-b-0">Your Address Information</h5>
  </div>
  <div class="card-body">
    <div class="">
      <form action="" class="">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group m-b-12">
                  <label for="" class=""> First Name</label>
                  <input
                    type="text"
                    placeholder="First Name"
                    name=""
                    id=""
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group m-b-12">
                  <label for="" class=""> Last Name</label>
                  <input
                    type="text"
                    placeholder="Last Name"
                    name=""
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group m-b-12">
                  <label for="" class="">State</label>
                  <p-dropdown
                    [options]="statesArr"
                    class="basic_dpdown"
                    [(ngModel)]="selectedState"
                    [ngModelOptions]="{ standalone: true }"
                    optionLabel="label"
                  ></p-dropdown>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group m-b-12">
                  <label for="" class="">City</label>
                  <p-dropdown
                    [options]="citiesArr"
                    class="basic_dpdown"
                    [(ngModel)]="selectedCity"
                    [ngModelOptions]="{ standalone: true }"
                    optionLabel="label"
                  ></p-dropdown>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group m-b-12">
                  <label for="" class="">Pincode</label>
                  <input
                    type="text"
                    name=""
                    id=""
                    class="form-control"
                    placeholder="Pincode"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group m-b-12">
                  <label for="" class="">Email</label>
                  <input
                    type="text"
                    name=""
                    id=""
                    class="form-control"
                    placeholder="Email"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group m-b-12">
                  <label for="" class="">Phone </label>
                  <input
                    type="text"
                    name=""
                    id=""
                    placeholder="Phone"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group m-b-12">
                  <label for="" class="">Confirm Phone </label>
                  <input
                    type="text"
                    name=""
                    id=""
                    placeholder="Phone"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="row">
              <div class="col-lg-12 col-md-6">
                <h5 class="m-b-16">Choose Delivery Time</h5>
                <hr />
                <div class="m-b-12">
                  <div class="">
                    <div class="form-check m-b-16">
                      <label class="container-radio sub_heading"
                        >Office <span class="m-l-8"> 10:00 AM to 8:PM </span>
                        <input
                          type="radio"
                          name="radio"
                          [checked]="isChecked"
                          value="true"
                        />
                        <span class="check-circle"></span>
                      </label>
                    </div>
                    <div class="form-check m-b-16">
                      <label class="container-radio sub_heading"
                        >Home <span class="m-l-8"> 07:00 AM to 10:PM </span>
                        <input
                          type="radio"
                          name="radio"
                          [checked]="isChecked"
                          value="true"
                        />
                        <span class="check-circle"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <hr />
              </div>
              <div class="col-lg-12 col-md-6">
                <h5 class="m-b-12">Return Policy</h5>
                <ul class="m-b-8">
                  <li class="ecom_policy_description">Lorem ipsum dolor sit amet.</li>
                  <li class="ecom_policy_description">Lorem ipsum dolor sit amet.</li>
                  <li class="ecom_policy_description">Lorem ipsum dolor sit amet.</li>
                  <li class="ecom_policy_description">Lorem ipsum dolor sit amet.</li>
                </ul>
              </div>
              <div class="col-lg-12">
                <h6 class="m-b-4">Warning</h6>
                <p class="text-muted m-b-8 fs-12">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Excepturi consectetur adipisicing elit. Excepturi
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <button
            class="btn d-flex align-items-center btn-primary btn-square m-r-12"
          >
            <span class="material-icons-outlined m-r-8 icon-20">check</span>
            Save
          </button>
          <button class="btn btn-secondary btn-square">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="card custom-card">
  <div class="card-header custom-card-header border-1">
    <h5 class="m-b-0">Choose Payment Option</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-8 col-md-8 m-b-12">
        <form action="" class="">
          <div class="row">
            <div class="form-group col-lg-12 m-b-12">
              <div class="input-group m-b-12">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fab fa-cc-visa icon"></i>
                  </span>
                </div>
                <input
                  type="text"
                  placeholder="Card Number"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group col-lg-6 m-b-12">
              <label for="" class="pb-2"> Expiry Date</label>
              <input
                type="text"
                class="form-control"
                placeholder="date"
                bsDatepicker
                [bsConfig]="{ isAnimated: true }"
              />
            </div>
            <div class="form-group col-lg-6 m-b-12">
              <label for="" class="pb-2"> CVV Number</label>
              <input type="text" class="form-control" />
            </div>
            <div class="form-group col-lg-12 m-b-12">
              <label for="" class="pb-2"> Name Of Card Holder</label>
              <input type="text" class="form-control" />
            </div>
            <div class="col-lg-12">
              <button class="btn btn-primary btn-square">Make Payment</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-4 col-md-4 m-b-12 ml-auto">
        <div class="">
          <h5 class="cart-title">Genral Information</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <h2>
            <i class="fab fa-cc-visa text-info mr-1"></i>
            <i class="fab fa-cc-mastercard text-danger mr-1"></i>
            <i class="fab fa-cc-discover text-success mr-1"></i>
            <i class="fab fa-cc-amex text-warning"></i>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
