<div class="row">
  <div class="col-lg-6 mb-3">
    <div class="card custom-card shadow1 no-radius">
      <div
        class="card-header custom-card-header d-flex justify-content-between align-items-center border-1"
      >
        <h5 class="card-label mb-0">Demand and Supply</h5>
        <span class="material-icons icon-20 icon-gray"> grid_view </span>
      </div>
      <div class="chart_body kk_chartjs">
        <app-line-chartjs></app-line-chartjs>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mb-3">
    <app-pie-chartjs></app-pie-chartjs>
  </div>
  <div class="col-lg-6 mb-3">
    <app-bar-chartjs></app-bar-chartjs>
  </div>
  <div class="col-lg-6 mb-3">
    <app-bubble-chartjs></app-bubble-chartjs>
  </div>
  <div class="col-lg-6 mb-3">
    <app-doughtnut-chartjs></app-doughtnut-chartjs>
  </div>
  <div class="col-lg-6 mb-3">
    <app-scatter-chartjs></app-scatter-chartjs>
  </div>
  <div class="col-lg-6 mb-3">
    <app-radar-chartjs></app-radar-chartjs>
  </div>
  <div class="col-lg-6 mb-3">
    <app-polar-area-chartjs></app-polar-area-chartjs>
  </div>
</div>
