
    <div class="card custom-card m-b-12">
      <div class="card-header custom-card-header border-1">
        <h6 class="m-b-0">SignIn Methods</h6>
      </div>
      <div class="card-body">
        <div
          class="d-flex border-1 justify-content-between p-b-8 align-items-center"
        >
          <div class="">
            <h6 class="m-b-0">Email Address</h6>
            <p class="m-b-0 text-muted">Support@zonvoir.com</p>
          </div>
          <button class="btn btn-secondary">Change Email</button>
        </div>
        <div class="d-flex p-t-16 justify-content-between align-items-center">
          <div class="">
            <h6 class="m-b-0">Email</h6>
            <p class="m-b-0 text-muted">**********</p>
          </div>
          <button class="btn btn-secondary">Reset Password</button>
        </div>
      </div>
    </div>
    <ng-template>
      <div class="card custom-card">
        <div class="card-header custom-card-header">
          <h6 class="m-b-0">Change Password</h6>
        </div>
        <div class="card-body">
          <form action="">
            <div class="row form-group m-b-12">
              <label class="col-md-4 text-muted">
                New Password <sup class="text-danger">&#9733;</sup>
              </label>
              <div class="col-lg-8">
                <input type="password" class="form-control" placeholder="" />
              </div>
            </div>
            <div class="row form-group m-b-12">
              <label class="col-md-4 text-muted">
                Confirm Password <sup class="text-danger">&#9733;</sup>
              </label>
              <div class="col-lg-8">
                <input type="text" class="form-control" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </ng-template>
    <ng-template>
      <div class="card custom-card">
        <div class="card-header custom-card-header">
          <h6 class="m-b-0">Change Email</h6>
        </div>
        <div class="card-body">
          <form action="">
            <div class="row form-group m-b-12">
              <label class="col-md-4 text-muted">
                New Email <sup class="text-danger">&#9733;</sup>
              </label>
              <div class="col-lg-8">
                <input type="email" class="form-control" placeholder="" />
              </div>
            </div>
            <div class="row form-group m-b-12">
              <label class="col-md-4 text-muted">
                Confirm Email <sup class="text-danger">&#9733;</sup>
              </label>
              <div class="col-lg-8">
                <input type="email" class="form-control" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </ng-template>

