.border-bottom-white{
    border-bottom: 2px solid #ffffff;
}
.special-th{
    background-color: #35343422;
    color: #475c66;
   white-space: nowrap;
   padding: 10px 8px;
   width: 25%;
}
.special-td{
   white-space: nowrap;
   padding: 10px 8px;
   width: 25%;
}
.table-full-heading{
    background-color: #52606b;
    color: #fff;
    padding: 10PX 8px;
}

