<div class="card custom-card">
  <div class="card-header custom-card-header border-1">
    <h5 class="m-b-0">Recent Chats</h5>
  </div>
  <div class="card-body">
    <div class="comment-box comment-scrollable">
      <ul class="comment-list zp-0 zm-0">
        <li class="comment-item d-flex p-b-12 nav-item">
          <div class="comment-img">
            <img
              src="assets/media/images/users/100_12.jpg"
              class="logo-md-circle"
              alt="friend"
            />
          </div>
          <div class="comment-content">
            <h6 class="">James Rhodes</h6>
            <div class="message-box p-b-8">
              <p class="m-b-0">
                Lorem Ipsum is simply dummy text of the printing &amp; type
                setting industry.
              </p>
            </div>
            <div class="">
              <small class="comment-time">10:56 am</small>
            </div>
          </div>
        </li>
        <li class="comment-item d-flex p-b-12 nav-item">
          <div class="comment-img">
            <img
              src="assets/media/images/users/100_10.jpg"
              class="logo-md-circle"
              alt="friend"
            />
          </div>
          <div class="comment-content">
            <h6 class="">Mariya Hill</h6>
            <div class="message-box p-b-8">
              <p class="m-b-0">
                Lorem Ipsum is simply dummy text of the printing &amp; type
                setting industry.
              </p>
            </div>
            <div class="">
              <small class="comment-time">09:30 am</small>
            </div>
          </div>
        </li>
        <li class="comment-item reply d-flex p-b-12 nav-item">
          <div class="reply-content">
            <div class="message-box p-b-8 bg-light">
              <p class="m-b-0">
                Lorem Ipsum is simply dummy text of the printing &amp; type
                setting industry.
              </p>
            </div>
            <div class="">
              <small class="comment-time">09:30 am</small>
            </div>
          </div>
          <div class="comment-img">
            <img
              src="assets/media/images/users/100_5.jpg"
              class="logo-md-circle"
              alt="friend"
            />
          </div>
        </li>
        <li class="comment-item reply d-flex p-b-12 nav-item">
          <div class="reply-content">
            <div class="message-box p-b-8 bg-light">
              <p class="m-b-0">Lorem Ipsum is simply</p>
            </div>
            <div class="">
              <small class="comment-time">09:30 am</small>
            </div>
          </div>
          <div class="comment-img">
            <img
              src="assets/media/images/users/100_5.jpg"
              class="logo-md-circle"
              alt="friend"
            />
          </div>
        </li>
        <li class="comment-item d-flex p-b-12 nav-item">
          <div class="comment-img">
            <img
              src="assets/media/images/users/100_12.jpg"
              class="logo-md-circle"
              alt="friend"
            />
          </div>
          <div class="comment-content">
            <h6 class="">James Rhodes</h6>
            <div class="message-box p-b-8">
              <p class="m-b-0">Lorem Ipsum is simply dummy industry.</p>
            </div>
            <div class="">
              <small class="comment-time">10:56 am</small>
            </div>
          </div>
        </li>
        <li class="comment-item d-flex p-b-12 nav-item">
          <div class="comment-img">
            <img
              src="assets/media/images/users/100_10.jpg"
              class="logo-md-circle"
              alt="friend"
            />
          </div>
          <div class="comment-content">
            <h6 class="">Mariya Hill</h6>
            <div class="message-box p-b-8">
              <p class="m-b-0">
                Lorem Ipsum is simply &amp; type setting industry.
              </p>
            </div>
            <div class="">
              <small class="comment-time">09:30 am</small>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="zp-12 border-top-1">
    <div class="d-flex align-items-center">
      <div class="type_comment">
        <textarea
          type="text"
          placeholder="Type Message"
          rows="1"
          class="form-control"
        ></textarea>
      </div>
      <div class="send_comment">
        <a class="tile-logo bg-primary cursor-pointer">
          <span class="material-icons text-white icon-20"> send </span>
        </a>
      </div>
    </div>
  </div>
</div>
