<div class="card custom-card no-radius">
  <div
    class="
      card-header
      custom-card-header
      d-flex
      align-items-center
      justify-content-between
      border-1
    "
  >
    <div class="card-title m-b-0">
      <h5 class="card-label m-b-0">Sales By Category</h5>
    </div>
    <div class="card-toolbar d-flex align-items-center">
      <span class="material-icons icon-20 icon-gray"> grid_view </span>
    </div>
  </div>
  <div class="chart_body">
    <div id="chart" class="card-rounded-bottom chart-container">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [colors]="chartOptions.colors"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [fill]="chartOptions.fill"
        [tooltip]="chartOptions.tooltip"
        [legend]="chartOptions.legend"
        [dataLabels]="chartOptions.dataLabels"
        [yaxis]="chartOptions.yaxis"
      ></apx-chart>
    </div>
  </div>
</div>
