<div class="p-b-12">
  <h5 class="m-b-0">Transfering Items between lists</h5>
</div>
<div class="row">
  <div class="col-lg-6 m-b-20">
    <div class="card custom-card">
      <div class="card-header custom-card-header bg-primary">
        <h5 class="m-b-0 text-white">TODO List</h5>
      </div>
      <div
        class=""
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList]"
        class=""
        (cdkDropListDropped)="drop($event)"
      >
        <ng-container *ngFor="let item of todo">
          <div
            cdkDrag
            class="
              d-flex
              align-items-center
              interchange-drag-drop
              drag-list
              border-1
            "
          >
            <h6 class="m-b-0 interchange-drag-drop-title">
              {{ item }}
            </h6>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col-lg-6 m-b-20">
    <div class="card custom-card">
      <div class="card-header custom-card-header bg-primary">
        <h5 class="m-b-0 text-white">Done List</h5>
      </div>
      <div
        class=""
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList]"
        class=""
        (cdkDropListDropped)="drop($event)"
      >
        <ng-container *ngFor="let item of done">
          <div
            cdkDrag
            class="
              d-flex
              align-items-center
              interchange-drag-drop
              drag-list
              border-1
            "
          >
            <h6 class="m-b-0 interchange-drag-drop-title">
              {{ item }}
            </h6>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
