<div [ngClass]="currentTheme">
  <div class="maintenance_kcontent">
    <div class="row no-gutters">
      <div class="col-md-12">
        <div class="text-center details">
          <div class="row no-gutters align-items-center">
            <div class="col-lg-12">
              <div class="">
                <img
                  class=""
                  src="assets/media/images/Error/maintinance.png"
                  class="error-img"
                  alt=""
                />
              </div>
            </div>
            <div class="col-lg-12">
              <h3 class="error_deccode_message">
                We are under scheduled maintenance
              </h3>
              <h6 class="error_message_description">
                Sorry ! for the inconvenience, we will be back shortly..
              </h6>
              <a
                [routerLink]="['/dashboard']"
                class="btn m-t-16 btn-primary text-center"
                >Back to Home</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
