<div class="card custom-card grid-bottom">
  <div class="card-header custom-card-header border-0">
    <h4 class="m-b-8">Navbar</h4>
    <p class="text-muted">
      Navigation available in Bootstrap share general markup and styles, from
      the base .nav class to the active and disabled states. Please visit the
      Official
      <a
        href="https://getbootstrap.com/docs/4.0/components/navbar/"
        target="_blank"
        class="custom-link"
        >Bootstrap Documentation</a
      >
      for a full list of instructions and other options.
    </p>
  </div>
</div>
<div class="main_section">
  <div class="row">
    <div class="col-lg-12 grid-bottom">
      <app-basic-navbar></app-basic-navbar>
    </div>
    <div class="col-lg-12 grid-bottom">
      <app-brand-navbar></app-brand-navbar>
    </div>
    <div class="col-lg-12 grid-bottom">
      <app-color-scheme-navbar></app-color-scheme-navbar>
    </div>
    <div class="col-lg-12 grid-bottom">
      <app-toggler-navbar></app-toggler-navbar>
    </div>
  </div>
</div>
