<div class="table-responsive table-striped">
  <table class="tabel w-100">
    <thead>
      <tr>
        <th scope="col" class="table-full-heading" colspan="4">
          <span class="">Detail</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="py-3 p-x-8 border-1 w-25">Brand</td>
        <td class="py-3 p-x-8 border-1 w-75">Stellar</td>
      </tr>
      <tr>
        <td class="py-3 p-x-8 border-1 w-25">Modal Number</td>
        <td class="py-3 p-x-8 border-1 w-75">GMB113-2SAGAK-1BDHWM</td>
      </tr>
      <tr>
        <td class="py-3 p-x-8 border-1 w-25">Color</td>
        <td class="py-3 p-x-8 border-1 w-75">Red</td>
      </tr>
      <tr>
        <td class="py-3 p-x-8 border-1">Weight</td>
        <td class="py-3 p-x-8 border-1">3.5 Kg</td>
      </tr>
      <tr>
        <td class="py-3 p-x-8 border-1">Size</td>
        <td class="py-3 p-x-8 border-1">Long</td>
      </tr>
      <tr>
        <td class="py-3 p-x-8 border-1">ISI Certified</td>
        <td class="py-3 p-x-8 border-1">Yes</td>
      </tr>
      <tr>
        <td class="py-3 p-x-8 border-1">Vendor Name</td>
        <td class="py-3 p-x-8 border-1">PSJ pvt. ltd</td>
      </tr>
      <tr>
        <td class="py-3 p-x-8 border-1">Care Instructions</td>
        <td class="py-3 p-x-8 border-1">Handle with care, Keep In Dry Place</td>
      </tr>
      <tr>
        <td class="py-3 p-x-8 border-1">Manufature</td>
        <td class="py-3 p-x-8 border-1">LG</td>
      </tr>
      <tr>
        <td class="py-3 p-x-8 border-1">Delivery Status</td>
        <td class="py-3 p-x-8 border-1">Shiped</td>
      </tr>
    </tbody>
  </table>
</div>
