<div class="table-responsive table-striped specification_table">
  <table class="tabel w-100">
    <thead>
      <tr>
        <th scope="col" class="table-full-heading" colspan="4">
          <span class="h5">Detail</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="py-3 p-x-8 border-1 w-25">Brand</td>
        <td class="py-3 p-x-8 border-1 w-75">Livewire</td>
      </tr>
      <tr>
        <td class="py-3 p-x-8 border-1 w-25">Modal Number</td>
        <td class="py-3 p-x-8 border-1 w-75">GMB113-2SAGAK-1BDHWM</td>
      </tr>
      <tr>
        <td class="py-3 p-x-8 border-1 w-25">Color</td>
        <td class="py-3 p-x-8 border-1 w-75">Gray</td>
      </tr>
      <tr>
        <td class="py-3 p-x-8 border-1">Weight</td>
        <td class="py-3 p-x-8 border-1">105 gm</td>
      </tr>
      <tr>
        <td class="py-3 p-x-8 border-1">Size</td>
        <td class="py-3 p-x-8 border-1">Free</td>
      </tr>
      <tr>
        <td class="py-3 p-x-8 border-1">ISI Certified</td>
        <td class="py-3 p-x-8 border-1">Yes</td>
      </tr>
      <tr>
        <td class="py-3 p-x-8 border-1">Vendor Name</td>
        <td class="py-3 p-x-8 border-1">PSJ pvt. ltd</td>
      </tr>
      <tr>
        <td class="py-3 p-x-8 border-1">Care Instructions</td>
        <td class="py-3 p-x-8 border-1">Handle with care, Keep In Dry Place</td>
      </tr>
      <tr>
        <td class="py-3 p-x-8 border-1">Manufature</td>
        <td class="py-3 p-x-8 border-1">Livewire</td>
      </tr>
      <tr>
        <td class="py-3 p-x-8 border-1">Delivery Status</td>
        <td class="py-3 p-x-8 border-1">Shiped</td>
      </tr>
    </tbody>
  </table>
</div>
