<div class="card custom-card grid-bottom">
  <div class="card-header custom-card-header border-0">
    <h3 class="m-b-8">Rating</h3>
    <p class="text-muted">
      Rating component that will take care of visualising a star rating bar
      Please visit the Official
      <a
        href="https://valor-software.com/ngx-bootstrap/#/rating"
        target="_blank"
        class="custom-link"
        >Ngx-Bootstrap Documentation</a
      >
      for a full list of instructions and other options.
    </p>
  </div>
</div>
<div class="main_section">
  <div class="row">
    <div class="col-lg-6 grid-bottom">
      <app-select-ratting></app-select-ratting>
    </div>
    <div class="col-lg-6 grid-bottom">
      <app-dynamic-ratting></app-dynamic-ratting>
    </div>
    <div class="col-lg-6 grid-bottom">
      <app-basic-ratting></app-basic-ratting>
    </div>
  </div>
</div>
