<div class="card custom-card shadow1 no-radius">
    <div class="bg-info">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div  class=" cursor-pointer">
                    <i title="LTC" class="display-6 cc DASH-alt text-white"></i>
                </div>
                <div class="ml-3">
                    <h5 class="fw-600 mb-0 text-white">Dash</h5>
                    <h6 class="text-white mb-0"><span>$</span> 5547.00k </h6>
                </div>
            </div>
        </div>
    </div>
</div>