<div class="card custom-card sm_about">
  <div
    class="card-header custom-card-header d-flex align-items-center border-1"
  >
    <h5 class="m-b-0">ABOUT</h5>
    <div class="d-flex m-l-auto align-items-center">
      <div class="btn-group" dropdown>
        <a
          id="button-basic"
          dropdownToggle
          type="button"
          aria-controls="dropdown-basic"
        >
          <span class="material-icons-outlined icon-20 custom-circle-sm2">
            more_horiz
          </span>
        </a>
        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu dropdown-menu-left"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li role="menuitem">
            <a class="dropdown-item px-3 p-y-8">
              <div class="d-flex align-items-center">
                <div class="m-r-12 d-flex align-items-center">
                  <span class="material-icons-outlined icon-20">
                    visibility
                  </span>
                </div>
                <div class="m-b-0">
                  <p class="m-b-0">View Details</p>
                </div>
              </div>
            </a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item px-3 p-y-8">
              <div class="d-flex align-items-center">
                <div class="m-r-12 d-flex align-items-center">
                  <span class="material-icons-outlined icon-20"> info </span>
                </div>
                <div class="m-b-0">
                  <p class="m-b-0">Personal Details</p>
                </div>
              </div>
            </a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item px-3 p-y-8">
              <div class="d-flex align-items-center">
                <div class="m-r-12 d-flex align-items-center">
                  <span class="material-icons-outlined icon-20">
                    person_add
                  </span>
                </div>
                <div class="m-b-0">
                  <p class="m-b-0">Fallow Me</p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="p-b-8">
      <p class="text-muted m-b-0 sm_about_content">
        Lorem, ipsum dolor sit amet consectetur libero corrupti facilis
        voluptatem.
      </p>
    </div>
    <div class="m-b-16">
      <table>
        <tbody>
          <tr>
            <td><h6 class="m-b-0 zp-4">Joined</h6></td>
            <td>
              <p class="m-b-0 zp-4 text-muted">: June 15, 2018</p>
            </td>
          </tr>
          <tr>
            <td><h6 class="m-b-0 zp-4">Live</h6></td>
            <td>
              <p class="m-b-0 zp-4 text-muted">: New York, USA</p>
            </td>
          </tr>
          <tr>
            <td><h6 class="m-b-0 zp-4">Email</h6></td>
            <td>
              <p class="m-b-0 zp-4 text-muted">: support@zonvoir.com</p>
            </td>
          </tr>
          <tr>
            <td><h6 class="m-b-0 zp-4">Website</h6></td>
            <td>
              <p class="m-b-0 zp-4 text-muted">: zonvoir.com</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="">
      <div class="d-flex align-items-center justify-content-around">
        <a routerLink="/" class="facebook-base" tooltip="Facebook">
          <i class="fab fa-facebook-square icon-30"></i>
        </a>
        <a routerLink="/" class="linkedin-base" tooltip="Linkedin">
          <i class="fab fa-linkedin icon-30"></i>
        </a>
        <a routerLink="/" class="twitter-base" tooltip="Twitter">
          <i class="fab fa-twitter-square icon-30"></i>
        </a>
      </div>
    </div>
  </div>
</div>
