<div class="card custom-card">
  <div class="card-header custom-card-header border-1">
    <h5 class="mb-0">All Photos</h5>
  </div>
  <div class="card-body">
    <div class="row photo_gallary_new mb-5">
      <div
        *ngFor="let photo of photos"
        class="col-lg-3 col-md-3 col-4 col-sm-3"
      >
        <div class="">
          <img
            [src]="photo.user_pic"
            alt=""
            class="img-square-gallery img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>
