<div class="card custom-card">
  <div class="card-header custom-card-header border-1">
    <h5 class="m-b-0">Subscribe</h5>
  </div>
  <div class="card-body">
    <form action="" class="">
      <div class="form-group m-b-12">
        <input type="text" placeholder="Enter Name" class="form-control" />
      </div>
      <div class="form-group m-b-12">
        <input type="text" placeholder="Enter Email" class="form-control" />
      </div>
      <div class="">
        <button class="btn btn-primary btn-square">Submit</button>
      </div>
    </form>
  </div>
</div>
