<div class="row">
  <div class="col-lg-6 grid-bottom">
    <div class="">
      <app-card-svg></app-card-svg>
    </div>
  </div>
  <div class="col-lg-6 grid-bottom">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 m-b-20">
        <div class="">
          <app-linecardlg1></app-linecardlg1>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6 m-b-20">
        <div class="">
          <app-linecardlg2></app-linecardlg2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-bottom">
  <app-dash-tile></app-dash-tile>
</div>
<div class="row">
  <div class="col-lg-6 m-b-20">
    <div class="card custom-card no-radius">
      <div
        class="card-header custom-card-header d-flex align-items-center justify-content-between border-1"
      >
        <h5 class="card-label m-b-0">Team's Performance</h5>

        <div class="card-toolbar d-flex align-items-center">
          <span class="material-icons icon icon-gray"> grid_view </span>
        </div>
      </div>
      <div class="chart_body">
        <div class="">
          <app-stacked-area-apx></app-stacked-area-apx>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 m-b-20">
    <div class="card custom-card no-radius">
      <div
        class="card-header custom-card-header d-flex align-items-center justify-content-between border-1"
      >
        <h5 class="card-label m-b-0">Net Profit and Revenue</h5>

        <div class="card-toolbar d-flex align-items-center">
          <span class="material-icons icon icon-gray"> grid_view </span>
        </div>
      </div>
      <div class="chart_body">
        <div class="">
          <app-apex-coloum-chart></app-apex-coloum-chart>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 grid-bottom">
    <div class="card custom-card">
      <div class="card-header custom-card-header border-1">
        <h5 class="m-b-0">Events timeline</h5>
      </div>
      <div class="card-body main_time_line">
        <app-custom-timeline-dash></app-custom-timeline-dash>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="grid-bottom">
      <app-reviews></app-reviews>
    </div>
    <div class="card custom-card grid-bottom">
      <div class="bg-success no-radius">
        <div class="card-body">
          <div class="">
            <i class="ti ti-wordpress text-white icon-26"></i>
          </div>
          <h6 class="mb-0 p-b-16 text-white">30 June 2021</h6>
          <h5 class="mb-0 p-b-16 fw-600 news_title text-white">
            Wordpress Added New Feature in latest version
          </h5>
          <button class="btn btn-square custom_white_btn">Default</button>
        </div>
      </div>
    </div>
    <div class="card custom-card bg-card bg-primary grid-bottom">
      <div class="">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="">
              <h3 class="fw-600 text-white m-b-8">2,423</h3>
              <h6 class="text-white">Projects</h6>
            </div>
            <div class="ml-auto">
              <div class="text-white bg-transparent tile-logo">
                <i class="ti ti-receipt icon-20"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card custom-card grid-bottom">
      <div class="bg-primary top_radius">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-center">
            <div class="m-r-8">
              <span class="display-6 text-white"
                >10° <span class="text-white">C</span></span
              >
              <span class="text-white">/</span
              ><span class="text-white"
                >7° <span class="text-white">C</span></span
              >
            </div>
            <div class="display-6 text-white">
              <i class="wi wi-sandstorm"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center zp-12">
        <div class="">
          <h6 class="mb-0">
            <i class="wi wi-day-storm-showers m-r-4"></i> 15Kmph
          </h6>
        </div>
        <div class="ml-auto">
          <h6 class="mb-0">40%</h6>
        </div>
      </div>
    </div>
    <div class="grid-bottom">
      <app-weather-report></app-weather-report>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 grid-bottom">
    <div class="card custom-card no-radius">
      <div
        class="card-header custom-card-header d-flex justify-content-between align-items-center border-1"
      >
        <h5 class="card-label m-b-0">Sale and Profit</h5>
        <span class="material-icons icon-20 icon-gray"> grid_view </span>
      </div>
      <div class="chart_body kk_chartjs">
        <app-line-chartjs></app-line-chartjs>
      </div>
    </div>
  </div>
  <div class="col-lg-4 grid-bottom">
    <div class="">
      <app-browser-stats></app-browser-stats>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 grid-bottom">
    <app-tabel></app-tabel>
  </div>
  <div class="col-lg-4 grid-bottom">
    <app-list-wigit></app-list-wigit>
  </div>
</div>
