.add_me_header {
  margin-left: 12px;
}
.kk_left_header {
  padding: 0 12px;
}
// 
.hdr_icon_box{
  color: $text-color !important;
  background-color: $background-color;
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  box-shadow: 0px 0px 1px 1px $border-color !important;
}
._profile_header_container{
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  ._profile_header_logo{
    border-radius: 5px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

}

.menu_icons{
      color: $text-color !important;
      background-color: $background-color;
      font-size: 26px;
      width: 38px;
      height: 38px;
      line-height: 38px;
      border-radius: 5px;
      text-align: center;
      display: inline-block;
      box-shadow: 0px 0px 1px 1px $border-color !important;
}
.header_search_kbar {
  width: 100%;
  .custom_input_group {
    width: 100%;
    display: flex;
    position: relative;
    .custom_input_control {
      height: 40px;
      background-color: $body-bg;
      border: 1px solid transparent !important;
      width: 100% !important;
      border-radius: 4px !important;
      padding: 12px;
    }
    ._search_btn {
      .icon_search_btn {
        position: absolute;
        right: 0;
        z-index: 99;
        background-color: $body-bg !important;
        border: 0;
        top: 2px;
        width: 35px;
        i {
          font-size: 16px !important;
          color: $icon-color;
        }
        &:hover {
          i {
            color: $icon-color !important;
          }
        }
      }
    }
  }
}
.country_flag {
  height: 16px;
}
.kk_left_header {
  width: 18%;
}
.kk_search_bar_header {
  width: 40%;
}
.kk_header_utilities {
  justify-content: flex-end;
  width: 40%;
  .search_for_dd_other {
    display: none;
  }
}
%header-size {
  min-height: 60px;
  padding: 0px;
  background-color: $white;
  box-shadow: 0 6px 12px rgb(134 140 150 / 10%);
}

.herader_menu_toggle {
  a {
    span {
      color: $primary ;
    }
  }
}
.herader_drop_box {
  a {
    .header_icons {
      color: $text-color !important;
      background-color: $background-color;
      font-size: 26px;
      width: 38px;
      height: 38px;
      line-height: 38px;
      border-radius: 5px;
      text-align: center;
      display: inline-block;
      box-shadow: 0px 0px 1px 1px $border-color !important;
    }
    .country_icon{
      &:first-child{
        @extend .header_icons;
      }
    }
  }
}
.full-searchbar {
  .form-control {
    padding: 12px;
  }
}
.desktop-header-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 60px;
  padding: 0 12px;
  box-shadow: $boxShadow-lg;
  border-bottom: 1px solid $border-color2;
}

.main_header {
  position: fixed;
  background-color: $background-color;
  color: $text-color;
  z-index: 99 !important;
  padding-left: 260px;
  top: 0;
  left: 0;
  right: 0;
  .btn-group {
    text-decoration: none;
    padding: 6px 10px !important;
    border-radius: 4px !important;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
    height: auto;
    text-align: center;
    .icon-20 {
      font-size: 16px;
    }
    button {
      text-decoration: none;
      padding: 6px 10px;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 500;
      white-space: nowrap;
      cursor: pointer;
      height: auto;
      text-align: center;
      .icon-20 {
        font-size: 16px;
      }
    }
  }
}

.header-section {
  min-height: 60px;
  padding: 0px;
}

.header_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;

  .left_sec {
  }

  .right_sec {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul {
      margin-bottom: 0;

      li {
        list-style: none;
        padding-left: 0;
        position: relative;
        top: 0;

        a {
          white-space: nowrap;
          text-decoration: none;

          &.bell {
            position: relative;
          }

          //Wave Code Comes Here..
          .img_container {
            position: relative;
            bottom: 6px;

            .img_wrap {
              width: 30px;
              height: 30px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}

a {
  text-decoration: none;

  .figure {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
}
.dropdown-menu-left {
  right: 0 !important;
  left: auto !important;
}
/// responsive header
.header-mobile-section {
  @extend %header-size;
}
.header-tablet-section {
  @extend %header-size;
}
.header-mobile-dropdown {
  min-height: 50px;
  padding: 0px;
  background-color: $background-color;
  box-shadow: 0 6px 12px rgb(134 140 150 / 10%);
}
.mobile-content-space {
  margin: 0 16px;
}
.dropdown-wrapper-mob {
  width: 100%;
  position: relative;
  top: 60px;
}
.dropdown-triggers-content {
  width: 100%;
  position: absolute;
  top: 62px;
}
.icons-trigger {
  display: flex;
  margin-bottom: 0;
  .icons-trigger-width {
    width: 25%;
    text-align: center;
  }
}
.dropdown-content-mob {
  width: 100% !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 20px;
}
.mob_header_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 30px;
  transform: translateY(-50%);
  padding: 0 10px;
  .menu_icon_mob {
    color: $primary;
  }
  .brand_mob_menu {
    font-weight: 600;
    color: $dark;
    margin-bottom: 0;
  }
}

@include responsive-below(md) {

  ._profile_header_container{
    width: 32px;
    height: 32px;
    line-height: 32px;
    ._profile_header_logo{
      object-fit: contain;
    }
  }

  .main_header {
    .btn-group{
      padding: 6px !important;
    }
  }

  .hdr_icon_box{
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 22px;
    box-shadow: 0px 0px 0px 1px $border-color !important;
  }
  .mob_flags {
    display: none;
  }
  .search_for_dd_other {
    .hdr_icon_box{
      box-shadow: 0px 0px 0px 1px $border-color !important;
    }
  }
  .herader_drop_box {
    a {
      .header_icons{
        width: 34px;
        height: 34px;
        line-height: 34px;
        font-size: 22px;
        box-shadow: 0px 0px 0px 1px $border-color !important;
      }
    }}
  .kk_header_utilities {
    justify-content: flex-end;
    width: 45%;
    .mob_search_icon {
      font-size: 18px;
      color: $icon-color;
    }
    .search_for_dd_other {
      display: block;
    }
  }

  .brand-wrapper {
    display: none;
  }
  .mobile-header {
    display: block !important;
    background-color: $background-color;
  }
  .desktop-header {
    display: none !important;
    background-color: $background-color;
  }
  .tablet-header {
    display: none;
  }
}
@include responsive-between(sm, md) {

  .dropdown-triggers-content{
    width: 50%;
    position: absolute;
    top: 62px;
    right: 0;
  }

  .hdr_icon_box{
    box-shadow: 0px 0px 0px 1px $border-color !important;
  }
  .search_for_dd_other {
    .hdr_icon_box{
      box-shadow: 0px 0px 0px 1px $border-color !important;
    }
  }
  .mob_flags {
    display: none;
  }
  .brand-wrapper {
    display: block;
  }
  .mobile-header {
    display: block !important;
    background-color: $background-color;
  }
  .desktop-header {
    display: none !important;
  }
  .tablet-header {
    display: none;
  }
}
@include responsive-above(lg) {
  .mobile-header {
    display: none;
  }
  .desktop-header {
    display: block;
    background-color: $background-color;
  }
  .tablet-header {
    display: none;
  }
}


@include responsive-between(md, lg) {
  .hdr_icon_box{
    box-shadow: 0px 0px 0px 1px $border-color !important;
  }
  .country_icon{

    box-shadow: 0px 0px 0px 1px $border-color !important;
  }
  .search_for_dd_other {
    .hdr_icon_box{
      box-shadow: 0px 0px 0px 1px $border-color !important;
    }
  }
  .herader_drop_box {
    a {
      .header_icons{
        box-shadow: 0px 0px 0px 1px $border-color !important;
      }
    }}
  .desktop-header {
    display: none !important;
  }
  .mobile-header {
    display: none !important;
  }
  .tablet-header {
    display: block;
    background-color: $background-color;
  }
}

@include responsive-between(lg, xl) {
  .mob_header_content {
    padding: 0 16px;
  }
  .hdr_icon_box{
    box-shadow: 0px 0px 0px 1px $border-color !important;
  }
  .country_icon{

    box-shadow: 0px 0px 0px 1px $border-color !important;
  }
  .search_for_dd_other {
    .hdr_icon_box{
      box-shadow: 0px 0px 0px 1px $border-color !important;
    }
  }
  .herader_drop_box {
    a {
      .header_icons{
        box-shadow: 0px 0px 0px 1px $border-color !important;
      }
    }}

  .add_me_header {
    display: block;
  }
  .kk_search_bar_header{
    width: 50%;
    margin-left: 7rem;
  }
    .brand-wrapper {
    display: block;
  }
  .desktop-header {
    display: none;
    background-color: $background-color;
  }
  .tablet-header {
    display: block;
    background-color: $background-color;
  }
}