<div class="" [ngClass]="currentTheme">
  <div class="login-wrapper1">
    <section class="login_bg_img2">
      <div class="container">
        <div class="login-contianer custom-card">
          <div class="login1-body">
            <div class="row no-gutters">
              <div class="col-lg-6 col-md-6 zp-0 left-section">
                <div class="text-center login-illus-signup1">
                  <img
                    src="assets/media/images/login/undraw_q6p7.svg"
                    class="illustration"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="main_logo K_brand_logo2 m-b-0 text-center">
                  <img
                    class="img-fluid klogo"
                    src="assets/media/images/login/zonvoir-logo-01-(3).png"
                    alt="image"
                  />
                </div>
                <div class="login1_panel_data">
                  <div class="p-b-12">
                    <div class="d-flex p-b-8 align-items-center">
                      <h3 class="m-b-0">Sign Up</h3>

                      <a
                        routerLink="/auth/login-2"
                        class="text-primary link-none fs-15 ml-auto"
                        >Login</a
                      >
                    </div>
                    <p class="m-b-0 text-muted fs-14">
                      Welcome ! Enter Your Detail to create Account
                    </p>
                  </div>

                  <div class="login1_form_panel">
                    <form>
                      <div class="form-group m-b-12">
                        <label for="">Full Name</label>
                        <input
                          type="email"
                          class="form-control login1-inp"
                          placeholder="John Doe"
                        />
                      </div>
                      <div class="form-group m-b-12">
                        <label for="">Email</label>
                        <input
                          type="email"
                          class="form-control login1-inp"
                          placeholder="text@123.com"
                        />
                      </div>

                      <div class="form-group m-b-12">
                        <label for="">Password</label>
                        <input
                          type="password"
                          class="form-control login1-inp"
                          placeholder="ex. admin@123"
                        />
                      </div>
                      <div class="form-group m-b-12">
                        <label for=""> Confirm Password</label>
                        <input
                          type="text"
                          class="form-control login1-inp"
                          placeholder="ex. admin@123"
                        />
                      </div>

                      <div class="d-flex align-items-center m-b-12">
                        <div class="d-flex align-items-center">
                          <div class="form-check p-l-0">
                            <label class="container-checkbox m-b-0 text-muted"
                              >I agree tems and condition.
                              <input type="checkbox" />
                              <span class="material-icons check-mark icon">
                              </span>
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="p-y-11">
                        <button
                          type="button"
                          class="btn login1-btn btn-block btn-primary"
                        >
                          Regisiter
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
