<div class="card no-shadow custom-card">
  <div role="menuitem">
    <div
      class="
        d-flex
        align-items-center
        p-y-12
        custom-card-header
        px-3
        bg-primary
        justify-content-between
      "
    >
      <h6 class="m-b-0 text-white">Emails</h6>
    </div>
  </div>
  <div class="dropdown-scroll">
    <div role="menuitem">
      <a class="dropdown-item kpdropdown border-1">
        <div class="d-flex align-items-center">
          <div class="logo m-r-12 d-flex align-items-center">
            <img
              src="assets/media/images/users/user5.jpg"
              alt=""
              class="img-responsive logo-sm2-circle"
            />
          </div>
          <div
            class="
              m-b-0
              d-flex
              justify-content-between
              w-100
              align-items-center
            "
          >
            <div class="">
              <h6 class="m-b-0 sub_heading2 sub_heading2">Kyle Jamison</h6>
              <p class="m-b-0 text-muted">Project Updates</p>
            </div>
            <p class="m-b-0 text-muted">just now</p>
          </div>
        </div>
      </a>
    </div>
    <div role="menuitem">
      <a class="dropdown-item kpdropdown border-1">
        <div class="d-flex align-items-center">
          <div class="logo m-r-12 d-flex align-items-center">
            <img
              src="assets/media/images/users/user4.jpg"
              alt=""
              class="img-responsive logo-sm-circle"
            />
          </div>
          <div
            class="
              m-b-0
              d-flex
              justify-content-between
              w-100
              align-items-center
            "
          >
            <div class="">
              <h6 class="m-b-0 sub_heading2">Sarena Smith</h6>
              <p class="m-b-0 text-muted">New Project</p>
            </div>
            <p class="m-b-0 text-muted">5 min ago</p>
          </div>
        </div>
      </a>
    </div>
    <div role="menuitem">
      <a class="dropdown-item kpdropdown border-1">
        <div class="d-flex align-items-center">
          <div class="logo m-r-12 d-flex align-items-center">
            <img
              src="assets/media/images/users/user2.jpg"
              alt=""
              class="img-responsive logo-sm-circle"
            />
          </div>
          <div
            class="
              m-b-0
              d-flex
              justify-content-between
              w-100
              align-items-center
            "
          >
            <div class="">
              <h6 class="m-b-0 sub_heading2">James Stokes</h6>
              <p class="m-b-0 text-muted">Project Report</p>
            </div>
            <p class="m-b-0 text-muted">15 min ago</p>
          </div>
        </div>
      </a>
    </div>
    <div role="menuitem">
      <a class="dropdown-item kpdropdown border-1">
        <div class="d-flex align-items-center">
          <div class="logo m-r-12 d-flex align-items-center">
            <img
              src="assets/media/images/users/user3.jpg"
              alt=""
              class="img-responsive logo-sm-circle"
            />
          </div>
          <div
            class="
              m-b-0
              d-flex
              justify-content-between
              w-100
              align-items-center
            "
          >
            <div class="">
              <h6 class="m-b-0 sub_heading2">Morgen Stark</h6>
              <p class="m-b-0 text-muted">New Record</p>
            </div>
            <p class="m-b-0 text-muted">10 min ago</p>
          </div>
        </div>
      </a>
    </div>
    <div role="menuitem">
      <a class="dropdown-item kpdropdown border-1">
        <div class="d-flex align-items-center">
          <div class="logo m-r-12 d-flex align-items-center">
            <img
              src="assets/media/images/users/user1.jpg"
              alt=""
              class="img-responsive logo-sm-circle"
            />
          </div>
          <div
            class="
              m-b-0
              d-flex
              justify-content-between
              w-100
              align-items-center
            "
          >
            <div class="">
              <h6 class="m-b-0 sub_heading2">David Morgen</h6>
              <p class="m-b-0 text-muted">Order Canceled</p>
            </div>
            <p class="m-b-0 text-muted">20 min ago</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
