<div class="row">
  <div class="col-lg-12">
    <div class="p-b-16">
      <h5 class="m-b-0">Question and Answer</h5>
    </div>
    <div class="p-b-12">
      <div class="p-b-12">
        <h6 class="">
          <strong class="m-r-12">Q.1</strong>Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Excepturi, nam. ?
        </h6>
      </div>
      <div class="d-flex p-b-12">
        <div class="m-r-12">
          <img
            src="assets/media/images/users/5.png"
            alt="logo"
            class="logo-md-circle img-respponsive"
          />
        </div>
        <div class="">
          <div class="m-b-10">
            <h6 class="m-b-0">David Smith</h6>
            <p class="m-b-0 text-muted">2 days ago</p>
          </div>
          <div class="">
            <p class="m-b-0 text-muted">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
              nihil, dolorem asperiores ad pariatur placeat vel fuga velit
              expedita adipisci? Lorem, ipsum dolor sit amet consectetur
              adipisicing elit. Numquam nihil, dolorem asperiores ad pariatur
              placeat vel fuga velit expedita adipisci?
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="p-b-12">
      <div class="p-b-12">
        <h6 class="">
          <strong class="m-r-12">Q.2</strong>Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Excepturi, nam. ?
        </h6>
      </div>
      <div class="d-flex p-b-12">
        <div class="m-r-12">
          <img
            src="assets/media/images/users/6.png"
            alt="logo"
            class="logo-md-circle img-respponsive"
          />
        </div>
        <div class="">
          <div class="m-b-10">
            <h6 class="m-b-0">Peter Edward</h6>
            <p class="m-b-0 text-muted">1 days ago</p>
          </div>
          <div class="">
            <p class="m-b-0 text-muted">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
              nihil, dolorem asperiores ad pariatur placeat vel fuga velit
              expedita adipisci? Lorem, ipsum dolor sit amet consectetur
              adipisicing elit. Numquam nihil, dolorem asperiores ad pariatur
              placeat vel fuga velit expedita adipisci?
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="p-b-12">
      <div class="p-b-12">
        <h6 class="">
          <strong class="m-r-12">Q.3</strong>Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Excepturi, nam. ?
        </h6>
      </div>
      <div class="d-flex p-b-12">
        <div class="m-r-12">
          <img
            src="assets/media/images/users/1.png"
            alt="logo"
            class="logo-md-circle img-respponsive"
          />
        </div>
        <div class="">
          <div class="m-b-10">
            <h6 class="m-b-0">Sam Smith</h6>
            <p class="m-b-0 text-muted">2 days ago</p>
          </div>
          <div class="">
            <p class="m-b-0 text-muted">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
              nihil, dolorem asperiores ad pariatur placeat vel fuga velit
              expedita adipisci? Lorem, ipsum dolor sit amet consectetur
              adipisicing elit. Numquam nihil, dolorem asperiores ad pariatur
              placeat vel fuga velit expedita adipisci?
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex">
      <div class="m-r-12">
        <img
          src="assets/media/images/users/17.png"
          alt="logo"
          class="logo-md-circle img-respponsive"
        />
      </div>
      <div class="d-flex w-100 p-b-12">
        <textarea
          type="text"
          rows="3"
          placeholder="Write Comment Here..."
          class="form-control"
        ></textarea>
      </div>
    </div>
    <div class="text-right">
      <button type="button" class="btn btn-outline-primary">Send</button>
    </div>
  </div>
</div>
