.sm_icon_box {
  width: 25px;
  height: 25px;
  line-height: 26px !important;
  display: inline-block !important;
  align-items: center;
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
}
.bg-gred {
  background-color: #f73a3a;
}
.bg-fblue {
  background-color: #1976d2;
}
