<div class="card no-shadow custom-card">
  <div role="menuitem custom-card">
    <div
      class="
        d-flex
        align-items-center
        p-y-12
        custom-card-header
        px-3
        bg-primary
        justify-content-between
      "
    >
      <h6 class="m-b-0 text-white">Notification</h6>
    </div>
  </div>
  <div class="dropdown-scroll">
    <div role="menuitem">
      <a class="dropdown-item kpdropdown border-1">
        <div class="d-flex align-items-center">
          <div class="logo m-r-12 d-flex align-items-center">
            <span class="material-icons icon icon-info-circle">
              person_add_alt
            </span>
          </div>
          <div class="m-b-0">
            <h6 class="m-b-0 sub_heading2">New User Registered</h6>

            <p class="m-b-0 text-muted">just now</p>
          </div>
        </div>
      </a>
    </div>
    <div role="menuitem">
      <a class="dropdown-item kpdropdown border-1">
        <div class="d-flex align-items-center">
          <div class="logo m-r-12 d-flex align-items-center">
            <span class="material-icons-outlined icon icon-success-circle">
              card_giftcard
            </span>
          </div>
          <div class="m-b-0">
            <h6 class="m-b-0 sub_heading2">New Order Recieved</h6>
            <p class="m-b-0 text-muted">30 min ago</p>
          </div>
        </div>
      </a>
    </div>
    <div role="menuitem">
      <a class="dropdown-item kpdropdown border-1">
        <div class="d-flex align-items-center">
          <div class="logo m-r-12 d-flex align-items-center">
            <span class="material-icons-outlined icon icon-primary-circle">
              verified_user
            </span>
          </div>
          <div class="m-b-0">
            <h6 class="m-b-0 sub_heading2">Security update completed</h6>

            <p class="m-b-0 text-muted">10 min ago</p>
          </div>
        </div>
      </a>
    </div>
    <div role="menuitem">
      <a class="dropdown-item kpdropdown border-1">
        <div class="d-flex align-items-center">
          <div class="logo m-r-12 d-flex align-items-center">
            <span class="material-icons-outlined icon icon-danger-circle">
              error_outline
            </span>
          </div>
          <div class="m-b-0">
            <h6 class="m-b-0 sub_heading2">Server limit reached</h6>

            <p class="m-b-0 text-muted">10 min ago</p>
          </div>
        </div>
      </a>
    </div>
    <div role="menuitem">
      <a class="dropdown-item kpdropdown border-1">
        <div class="d-flex align-items-center">
          <div class="logo m-r-12 d-flex align-items-center">
            <span class="material-icons-outlined icon icon-warning-circle">
              file_download
            </span>
          </div>
          <div class="m-b-0">
            <h6 class="m-b-0 sub_heading2">Download Completed</h6>
            <p class="m-b-0 text-muted">5 min ago</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
