.comment-content {
  width: calc(100% - 50px);
  display: inline-block;
  padding-left: 15px;
}

.comment-scrollable {
  height: 400px;
  overflow-y: auto;
  @include scrollbar(
    $width: 0.25rem,
    $border-radius: 1rem,
    $background-color: $scrollbarColor
  );
}
.type_comment {
  width: 84%;
}
.send_comment {
  width: 13%;
  margin-left: auto;
}
.message-box {
  display: inline-block;
  padding: 10px;
  color: $text-color;
  background-color: $chatboxSender;
  border-radius: 2px;
}
.browser_logo {
  width: 40px;
}

.reply-box {
  @extend .message-box;
}

.reply {
  position: relative;
}

.reply-content {
  text-align: right;
  width: calc(100% - 0px);
  padding-left: 0;
  padding-right: 15px;
}
// for Mobile Portrait Mode
@include responsive-below(md) {
  .news_title {
    min-height: 60px;
  }
}
// For Mobile Landscape Mode
@include responsive-between(sm, md) {
  .day {
    &:nth-child(3){
      border-right: none;
    }
  }
  .border-right-1{
    &:nth-child(3){
      border-right: none;
    }
  }
  .news_title {
    min-height: 60px;
  }
}
// For tablet Portrait Mode
@include responsive-between(md, lg) {
  .email_new_tab{
    margin-bottom: 0px;
   .dropdown-scroll{
        max-height: 18rem;
    }
}
  .widget_card_row{
    margin-left: -10px;
    margin-right: -10px;
    & [class*="col-"] {
      
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }
  .widget_card_wrap{
    &.m-r-12{
        margin-right: 0;
    }
    .card-body{
        padding: 10px;
        .icon-16{
            font-size: 14px;
      
        }
    .card_date{
        font-size: 11px;
    }
    }
    .card_deck_new{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
  .news_title {
    min-height: 60px;
  }
  .on_ipad {
    width: 45%;
    float: left;
    margin-right: 5%;
  }
}
// For tablet Landscape Mode
@include responsive-between(lg, xl) {
  ._progress_widget{
    .card-body{
        padding: 14px;
    }
}
  .widget_card_row{
    margin-left: -10px;
    margin-right: -10px;
    & [class*="col-"] {
      
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }
  .widget_card_wrap{
    &.m-r-12{
        margin-right: 0;
    }
    .card-body{
        padding: 10px;
        .icon-16{
            font-size: 14px;
      
        }
    .card_date{
        font-size: 12px;
    }
    }
    .card_deck_new{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
  .news_title {
    min-height: 60px;
  }
}
