<div class="help-container">
  <div class="help">
    <div class="p-b-20 top-section">
      <div class="middle-text text-center m-b-12">
        <h5 class="text-white khelp_title">Hello, how can we help today ?</h5>
        <p class="text-white">
          Search for a topic or question, check out our FAQs and guides, contact
          us for detailed support
        </p>
      </div>
    </div>
    <div class="big-search">
      <form action="" class="d-flex justify-content-center align-items-center">
        <div class="search_bar-lg ksearchbar">
          <input
            type="text"
            placeholder="Search here..."
            class="form-control gap-left-lg pill-input-field"
          />
        </div>
      </form>
    </div>
  </div>
</div>
<div class="card custom-card help-cards">
  <div class="card-body">
    <div class="row no-gutters">
      <div class="col-lg-4 col-md-4 col-12 m-b-20">
        <div class="text-center p-x-8">
          <div class="">
            <div class="icon-circle-lg m-b-16 bg-success">
              <span class="material-icons-outlined text-white icon-30">
                class
              </span>
            </div>

            <h5 class="m-b-0">Guides</h5>
            <p class="p-y-12">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
              esse alias voluptate corporis molestias ipsam repudiandae ex
              reiciendis odio exercitationem.
            </p>
            <button class="btn btn-outline-success">View More</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-12 m-b-20">
        <div class="text-center border-left-1 kcontact border-right-1 p-x-4">
          <div class="">
            <div class="icon-circle-lg m-b-16 bg-info">
              <span class="material-icons-outlined text-white icon-30">
                contact_support
              </span>
            </div>
            <h5 class="m-b-0">FAQs</h5>
            <p class="p-y-12">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
              esse alias voluptate corporis molestias ipsam repudiandae ex
              reiciendis odio exercitationem.
            </p>
            <button class="btn btn-outline-info">View More</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-12 m-b-20">
        <div class="text-center p-x-8">
          <div class="">
            <div class="icon-circle-lg m-b-16 bg-orange">
              <span class="material-icons-outlined text-white icon-30">
                support_agent
              </span>
            </div>
            <h5 class="m-b-0">Support</h5>
            <p class="p-y-12">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
              esse alias voluptate corporis molestias ipsam repudiandae ex
              reiciendis odio exercitationem.
            </p>
            <button class="btn btn-outline-orange">View More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
