<!-- <div class="row">
  <div class="col-lg-6 col-12 m-b-20">
    <div class="card custom-card">
      <div class="card-header custom-card-header border-1">
        <h5 class="m-b-0">Traffic Map</h5>
      </div>
      <div class="card-body zp-0">
        <google-map
          class="map-height"
          [center]="center"
          [options]="options"
          [zoom]="zoom"
        >
          <map-traffic-layer [autoRefresh]="true"></map-traffic-layer>
        </google-map>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12 m-b-20">
    <div class="card custom-card">
      <div class="card-header custom-card-header border-1">
        <h5 class="m-b-0">Marker Map</h5>
      </div>
      <div class="card-body zp-0">
        <google-map
          class="map-height"
          [options]="options"
          [center]="center"
          [zoom]="zoom"
          (mapClick)="addMarker($event)"
        >
          <map-marker
            *ngFor="let markerPosition of markerPositions"
            [position]="markerPosition"
            [options]="markerOptions"
          ></map-marker>
        </google-map>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12 m-b-20">
    <div class="card custom-card">
      <div class="card-header custom-card-header border-1">
        <h5 class="m-b-0">Circle Map</h5>
      </div>
      <div class="card-body zp-0">
        <google-map
          class="map-height"
          [options]="options"
          [center]="center"
          [zoom]="zoom"
        >
          <map-circle [center]="circleCenter" [radius]="radius"></map-circle>
        </google-map>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12 m-b-20">
    <div class="card custom-card">
      <div class="card-header custom-card-header border-1">
        <h5 class="m-b-0">Polygon Map</h5>
      </div>
      <div class="card-body zp-0">
        <google-map
          class="map-height"
          [options]="options"
          [center]="center"
          [zoom]="zoom"
        >
          <map-polygon [paths]="vertices"></map-polygon>
        </google-map>
      </div>
    </div>
  </div>
</div> -->
