<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6 m-b-20">
    <app-card-lg1></app-card-lg1>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 m-b-20">
    <app-card-lg2></app-card-lg2>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 m-b-20">
    <app-card-lg3></app-card-lg3>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-12">
    <div class="row">
      <div class="col-lg-12 col-md-12 m-b-20">
        <div class="card custom-card no-radius">
          <div class="card-body">
            <div class="d-flex area_cc_wrap">
              <div>
                <div class="crpto_icon_wrap">
                  <i class="fw-700 cc BTC-alt icon_coin"></i>
                </div>
              </div>
              <div class="ml-auto text-right">
                <h6 class="area_cc_title">Bitcoin BTC</h6>
                <p class="text-muted m-b-0">0.00000112 BTC $0.05</p>
              </div>
            </div>
          </div>
          <div class="">
            <app-apex-sparkline-area
              [ChartColor]="chartColor"
            ></app-apex-sparkline-area>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 m-b-20">
        <div class="">
          <app-card-sm4></app-card-sm4>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 m-b-20">
        <div class="">
          <app-card-sm2></app-card-sm2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-12 m-b-20">
    <div class="card custom-card no-radius">
      <div
        class="card-header custom-card-header d-flex align-items-center justify-content-between border-1"
      >
        <div class="card-title m-b-0">
          <h5 class="card-label m-b-0">Bitcoin Exchange ETH/BTC</h5>
        </div>
        <div class="card-toolbar d-flex align-items-center">
          <span class="material-icons icon icon-gray"> grid_view </span>
        </div>
      </div>
      <div class="">
        <app-ppex-candel-stick></app-ppex-candel-stick>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-6 m-b-20">
    <div class="no-radius">
      <app-radial-bar-apx-chart></app-radial-bar-apx-chart>
    </div>
  </div>
  <div class="col-md-6 col-lg-6 m-b-20">
    <div class="row">
      <div class="col-lg-6 m-b-12 col-md-6">
        <div class="card custom-card no-radius">
          <div class="card_back back_c3">
            <div class="card_img">
              <img
                class="crpt_card_img"
                src="assets/media/images/crypto/c3.png"
              />
            </div>
          </div>
          <div class="card-detail">
            <div class="cpr_info">
              <div class="p-left">
                <span class="text-muted fs-12">CryptoKitties</span>
                <h6 class="crt_title">Dyya</h6>
              </div>
              <div class="p-right">
                <span class="text-muted fs-12">Price</span>
                <h6 class="crt_title">$19.56</h6>
              </div>
            </div>
            <div class="pb-detail">
              <p class="mb-0">Offer For <b>$215</b></p>
              <span><i class="ti ti-heart icon-16"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 m-b-12 col-md-6">
        <div class="card custom-card no-radius">
          <div class="card_back back_c3">
            <div class="card_img_2">
              <img
                class="crpt_card_img"
                src="assets/media/images/crypto/c2.png"
              />
            </div>
            <div class="card-detail">
              <div class="cpr_info">
                <div class="p-left">
                  <span class="text-muted fs-12">CryptoKitties</span>
                  <h6 class="crt_title">Anna</h6>
                </div>
                <div class="p-right">
                  <span class="text-muted fs-12">Price</span>
                  <h6 class="crt_title">$13.56</h6>
                </div>
              </div>
              <div class="pb-detail">
                <p class="mb-0">Offer For <b>$318</b></p>
                <span><i class="ti ti-heart icon-16"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-lg-4 grid-bottom">
    <div class="card custom-card">
      <div class="card-header custom-card-header border-1">
        <h5 class="crt_crd_title">Top Collections</h5>
      </div>
      <div class="crt_crd_body">
        <ul class="crt_crd_list_wrap">
          <li>
            <div class="crt_crd_details">
              <div class="crt_li_one">
                <img
                  src="assets/media/images/crypto/rgb.png"
                  class="crt_pr_logo"
                  alt=""
                />
              </div>
              <div class="crt_li_two">
                <h6 class="">Bored Ape Yacht Club</h6>
                <div class="crt_coin_details">
                  <p class="crt_rate m-r-4">Flore price:</p>
                  <span class="m-r-4"
                    ><i title="ETH" class="cc ETH crt_icon"></i
                  ></span>
                  <span class="crt_coin_amt">0.36</span>
                </div>
              </div>
            </div>
            <div class="crt_li_three">
              <p class="crt_price_chages text-danger">-10.46 %</p>
              <div class="d-flex align-items-center justify-content-end">
                <span class="m-r-4"
                  ><i title="ETH" class="cc ETH crt_icon"></i
                ></span>
                <span class="crt_coin_amt">7589</span>
              </div>
            </div>
          </li>
          <li>
            <div class="crt_crd_details">
              <div class="crt_li_one">
                <img
                  src="assets/media/images/crypto/cry3.png"
                  class="crt_pr_logo"
                  alt=""
                />
              </div>
              <div class="crt_li_two">
                <h6 class="">Kill Bears</h6>
                <div class="crt_coin_details">
                  <p class="crt_rate m-r-4">Flore price:</p>
                  <span class="m-r-4"
                    ><i title="ETH" class="cc ETH crt_icon"></i
                  ></span>
                  <span class="crt_coin_amt">0.73</span>
                </div>
              </div>
            </div>
            <div class="crt_li_three">
              <p class="crt_price_chages text-success">+34.67%</p>
              <div class="d-flex align-items-center justify-content-end">
                <span class="m-r-4"
                  ><i title="ETH" class="cc ETH crt_icon"></i
                ></span>
                <span class="crt_coin_amt">896</span>
              </div>
            </div>
          </li>
          <li>
            <div class="crt_crd_details">
              <div class="crt_li_one">
                <img
                  src="assets/media/images/crypto/all.png"
                  class="crt_pr_logo"
                  alt=""
                />
              </div>
              <div class="crt_li_two">
                <h6 class="">Mongo Dogs</h6>
                <div class="crt_coin_details">
                  <p class="crt_rate m-r-4">Flore price:</p>
                  <span class="m-r-4"
                    ><i title="ETH" class="cc ETH crt_icon"></i
                  ></span>
                  <span class="crt_coin_amt">32</span>
                </div>
              </div>
            </div>
            <div class="crt_li_three">
              <p class="crt_price_chages text-success">+87.23 %</p>
              <div class="d-flex align-items-center justify-content-end">
                <span class="m-r-4"
                  ><i title="ETH" class="cc ETH crt_icon"></i
                ></span>
                <span class="crt_coin_amt">8749</span>
              </div>
            </div>
          </li>
          <li>
            <div class="crt_crd_details">
              <div class="crt_li_one">
                <img
                  src="assets/media/images/crypto/cryp.png"
                  class="crt_pr_logo"
                  alt=""
                />
              </div>
              <div class="crt_li_two">
                <h6 class="">Yacht Jams</h6>
                <div class="crt_coin_details">
                  <p class="crt_rate m-r-4">Flore price:</p>
                  <span class="m-r-4"
                    ><i title="ETH" class="cc ETH crt_icon"></i
                  ></span>
                  <span class="crt_coin_amt">3.83</span>
                </div>
              </div>
            </div>
            <div class="crt_li_three">
              <p class="crt_price_chages text-danger">-43.44 %</p>
              <div class="d-flex align-items-center justify-content-end">
                <span class="m-r-4"
                  ><i title="ETH" class="cc ETH crt_icon"></i
                ></span>
                <span class="crt_coin_amt">0.06</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-lg-4 grid-bottom">
    <div class="card custom-card">
      <div class="card-header custom-card-header border-1">
        <h5 class="crt_crd_title">Top Creators</h5>
      </div>
      <div class="crt_crd_body">
        <ul class="crt_crd_list_wrap">
          <li>
            <div class="crt_crd_details">
              <div class="crt_li_one">
                <img
                  src="assets/media/images/crypto/crpt1.png"
                  class="crt_pr_logo"
                  alt=""
                />
              </div>
              <div class="crt_li_two">
                <h6 class="">Dodales</h6>
                <div class="crt_coin_details">
                  <p class="crt_rate m-r-4">Volume:</p>
                  <span class="m-r-4"><b>$</b></span>
                  <span class="crt_coin_amt">110.36</span>
                </div>
              </div>
            </div>
            <div class="crt_li_three">
              <p class="crt_price_chages text-success">+0.46 %</p>
              <div class="d-flex align-items-center justify-content-end">
                <span class="m-r-4"
                  ><i title="ETH" class="cc ETH crt_icon"></i
                ></span>
                <span class="crt_coin_amt">4589</span>
              </div>
            </div>
          </li>
          <li>
            <div class="crt_crd_details">
              <div class="crt_li_one">
                <img
                  src="assets/media/images/crypto/cross.png"
                  class="crt_pr_logo"
                  alt=""
                />
              </div>
              <div class="crt_li_two">
                <h6 class="">Primates</h6>
                <div class="crt_coin_details">
                  <p class="crt_rate m-r-4">Volume:</p>
                  <span class="m-r-4"><b>$</b></span>
                  <span class="crt_coin_amt">66.23</span>
                </div>
              </div>
            </div>
            <div class="crt_li_three">
              <p class="crt_price_chages text-danger">-12.89%</p>
              <div class="d-flex align-items-center justify-content-end">
                <span class="m-r-4"
                  ><i title="ETH" class="cc BTC-alt crt_icon"></i
                ></span>
                <span class="crt_coin_amt">5345</span>
              </div>
            </div>
          </li>
          <li>
            <div class="crt_crd_details">
              <div class="crt_li_one">
                <img
                  src="assets/media/images/crypto/crpt5.png"
                  class="crt_pr_logo"
                  alt=""
                />
              </div>
              <div class="crt_li_two">
                <h6 class="">nouns</h6>
                <div class="crt_coin_details">
                  <p class="crt_rate m-r-4">Volume:</p>
                  <span class="m-r-4"><b>$</b></span>
                  <span class="crt_coin_amt">74.23</span>
                </div>
              </div>
            </div>
            <div class="crt_li_three">
              <p class="crt_price_chages text-success">+47.33 %</p>
              <div class="d-flex align-items-center justify-content-end">
                <span class="m-r-4"
                  ><i title="ETH" class="cc BNB crt_icon"></i
                ></span>
                <span class="crt_coin_amt">8909</span>
              </div>
            </div>
          </li>
          <li>
            <div class="crt_crd_details">
              <div class="crt_li_one">
                <img
                  src="assets/media/images/crypto/crpt4.jpg"
                  class="crt_pr_logo"
                  alt=""
                />
              </div>
              <div class="crt_li_two">
                <h6 class="">Azuki</h6>
                <div class="crt_coin_details">
                  <p class="crt_rate m-r-4">Volume:</p>
                  <span class="m-r-4"><b>$</b></span>
                  <span class="crt_coin_amt">323.83</span>
                </div>
              </div>
            </div>
            <div class="crt_li_three">
              <p class="crt_price_chages text-success">+78.30 %</p>
              <div class="d-flex align-items-center justify-content-end">
                <span class="m-r-4"
                  ><i title="ETH" class="cc KORE-alt crt_icon"></i
                ></span>
                <span class="crt_coin_amt">6527</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-lg-4 grid-bottom">
    <div class="card custom-card shadow1 no-radius">
      <div class="card-header custom-card-header border-1">
        <h5 class="m-b-0">Top Plateforms</h5>
      </div>
      <div class="zp-10">
        <table class="table browser_table table-borderless">
          <tbody>
            <tr>
              <td>
                <div class="browser_logo">
                  <img
                    src="assets/media/images/crypto/rgb.png"
                    alt="logo"
                    class="browser_image"
                  />
                </div>
              </td>
              <td>My Myth</td>
              <td>
                <img
                  src="assets/media/images/crypto/growth.png"
                  alt="logo"
                  class="browser_image"
                />
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="assets/media/images/crypto/radiation.png"
                  alt="logo"
                  class="browser_image"
                />
              </td>
              <td>Open Sea</td>
              <td>
                <img
                  src="assets/media/images/crypto/growth.png"
                  alt="logo"
                  class="browser_image"
                />
              </td>
            </tr>
            <tr>
              <td>
                <div class="browser_logo">
                  <img
                    src="assets/media/images/crypto/multiple.png"
                    alt="logo"
                    class="browser_image"
                  />
                </div>
              </td>
              <td>Rarible</td>
              <td>
                <img
                  src="assets/media/images/crypto/growth.png"
                  alt="logo"
                  class="browser_image"
                />
              </td>
            </tr>
            <tr>
              <td>
                <div class="browser_logo">
                  <img
                    src="assets/media/images/crypto/lens-cap.png"
                    alt="logo"
                    class="browser_image"
                  />
                </div>
              </td>
              <td>Known Origin</td>
              <td>
                <img
                  src="assets/media/images/crypto/loss.png"
                  alt="logo"
                  class="browser_image"
                />
              </td>
            </tr>
            <tr>
              <td>
                <div class="browser_logo">
                  <img
                    src="assets/media/images/crypto/3d.png"
                    alt="logo"
                    class="browser_image"
                  />
                </div>
              </td>
              <td>Super Rare</td>
              <td>
                <img
                  src="assets/media/images/crypto/loss.png"
                  alt="logo"
                  class="browser_image"
                />
              </td>
            </tr>
            <tr>
              <td>
                <div class="browser_logo">
                  <img
                    src="assets/media/images/crypto/cat.png"
                    alt="logo"
                    class="browser_image"
                  />
                </div>
              </td>
              <td>Joise</td>
              <td>
                <img
                  src="assets/media/images/crypto/growth.png"
                  alt="logo"
                  class="browser_image"
                />
              </td>
            </tr>
            <tr>
              <td>
                <div class="browser_logo">
                  <img
                    src="assets/media/images/crypto/cat_1.png"
                    alt="logo"
                    class="browser_image"
                  />
                </div>
              </td>
              <td>Pixel Cats</td>
              <td>
                <img
                  src="assets/media/images/crypto/growth.png"
                  alt="logo"
                  class="browser_image"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 grid-bottom">
    <div class="card custom-card no-radius">
      <div
        class="card-header custom-card-header border-1 d-flex align-items-center"
      >
        <div class="card-title m-b-0">
          <h5 class="card-title m-b-0">Top NFTs</h5>
        </div>
      </div>
      <div class="table-responsive m-b-12">
        <table class="table my_tabel table-hover table-borderless mb-0">
          <thead class="thead">
            <tr class="thead-row">
              <th class="th"><span class="t_title">SN</span></th>
              <th class="th"><span class="t_title">CATEGORY</span></th>
              <th class="th"><span class="t_title">24H CHANGE</span></th>
              <th class="th"><span class="t_title">10d CHANGE</span></th>
              <th class="th"><span class="t_title">TOTAL VOLUME</span></th>
              <th class="th"><span class="t_title">AVG PRICE</span></th>
              <th class="th"><span class="t_title">OWNERS</span></th>
              <th class="th"><span class="t_title">ASSETS</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="crpto_th">1</th>
              <td>
                <span
                  ><img
                    class="img-responsive logo-sm2-rounded m-r-10"
                    src="assets/media/images/crypto/cryp.png" /></span
                ><span class="tabelcell">MLB Champions</span>
              </td>
              <td>
                <span class="tabelcell">$</span
                ><span class="tabelcell"> 0.133</span>
              </td>
              <td><span class="tabelcell"> 0.720%</span></td>
              <td>
                <span class="tabelcell">$</span
                ><span class="tabelcell"> 634.86</span>
              </td>
              <td>
                <span class="tabelcell">$</span
                ><span class="tabelcell"> 55.07</span>
              </td>
              <td><span class="tabelcell"> 33</span></td>
              <td><span class="tabelcell"> 240</span></td>
            </tr>
            <tr>
              <th class="crpto_th">2</th>
              <td>
                <span
                  ><img
                    class="img-responsive logo-sm2-rounded m-r-10"
                    src="assets/media/images/crypto/cross.png" /></span
                ><span class="tabelcell">FlemmingStr</span>
              </td>
              <td>
                <span class="tabelcell" class="tabelcell">$</span
                ><span class="tabelcell" class="tabelcell"> 0.25</span>
              </td>
              <td><span class="tabelcell" class="tabelcell"> 0.290%</span></td>
              <td>
                <span class="tabelcell" class="tabelcell">$</span
                ><span class="tabelcell" class="tabelcell"> 677.33</span>
              </td>
              <td>
                <span class="tabelcell" class="tabelcell">$</span
                ><span class="tabelcell" class="tabelcell"> 95.07</span>
              </td>
              <td><span class="tabelcell" class="tabelcell"> 24</span></td>
              <td><span class="tabelcell" class="tabelcell"> 240</span></td>
            </tr>
            <tr>
              <th class="crpto_th">3</th>
              <td>
                <span
                  ><img
                    class="img-responsive logo-sm2-rounded m-r-10"
                    src="assets/media/images/crypto/cry3.png" /></span
                ><span class="tabelcell">Blocklete Golf</span>
              </td>
              <td><span>$</span><span class="tabelcell"> 0.15</span></td>
              <td><span class="tabelcell"> 0.920%</span></td>
              <td>
                <span class="tabelcell">$</span
                ><span class="tabelcell"> 233.65</span>
              </td>
              <td>
                <span class="tabelcell">$</span
                ><span class="tabelcell"> 92.07</span>
              </td>
              <td><span class="tabelcell"> 23</span></td>
              <td><span class="tabelcell"> 240</span></td>
            </tr>
            <tr>
              <th class="crpto_th">4</th>
              <td>
                <span
                  ><img
                    class="img-responsive logo-sm2-rounded m-r-10"
                    src="assets/media/images/crypto/cryp.png" /></span
                ><span class="tabelcell">Player Tokens</span>
              </td>
              <td>
                <span class="tabelcell">$</span
                ><span class="tabelcell"> 0.45</span>
              </td>
              <td><span class="tabelcell"> 0.320%</span></td>
              <td>
                <span class="tabelcell">$</span
                ><span class="tabelcell"> 437.86</span>
              </td>
              <td>
                <span class="tabelcell">$</span
                ><span class="tabelcell"> 78.07</span>
              </td>
              <td><span class="tabelcell"> 54</span></td>
              <td><span class="tabelcell"> 200</span></td>
            </tr>
            <tr>
              <th class="crpto_th">5</th>
              <td>
                <span
                  ><img
                    class="img-responsive logo-sm2-rounded m-r-10"
                    src="assets/media/images/crypto/zt.png" /></span
                ><span class="tabelcell">Crypto Saga</span>
              </td>
              <td>
                <span class="tabelcell">$</span
                ><span class="tabelcell"> 0.15</span>
              </td>
              <td><span class="tabelcell"> 0.230%</span></td>
              <td>
                <span class="tabelcell">$</span
                ><span class="tabelcell"> 287.86</span>
              </td>
              <td>
                <span class="tabelcell">$</span
                ><span class="tabelcell"> 95.07</span>
              </td>
              <td><span class="tabelcell"> 24</span></td>
              <td><span class="tabelcell"> 200</span></td>
            </tr>
            <tr>
              <th class="crpto_th">6</th>
              <td>
                <span
                  ><img
                    class="img-responsive logo-sm2-rounded m-r-10"
                    src="assets/media/images/crypto/crypt.png" /></span
                ><span class="tabelcell">Crypto Punks</span>
              </td>
              <td>
                <span class="tabelcell">$</span
                ><span class="tabelcell"> 0.15</span>
              </td>
              <td><span class="tabelcell"> 0.40%</span></td>
              <td>
                <span class="tabelcell">$</span
                ><span class="tabelcell"> 787.86</span>
              </td>
              <td>
                <span class="tabelcell">$</span
                ><span class="tabelcell"> 95.07</span>
              </td>
              <td><span class="tabelcell"> 24</span></td>
              <td><span class="tabelcell"> 200</span></td>
            </tr>
            <tr>
              <th class="crpto_th">6</th>
              <td>
                <span
                  ><img
                    class="img-responsive logo-sm2-rounded m-r-10"
                    src="assets/media/images/crypto/all.png" /></span
                ><span class="tabelcell">Wraped Crypopunks</span>
              </td>
              <td>
                <span class="tabelcell">$</span
                ><span class="tabelcell"> 0.15</span>
              </td>
              <td><span class="tabelcell"> 0.00%</span></td>
              <td>
                <span class="tabelcell">$</span
                ><span class="tabelcell"> 347.86</span>
              </td>
              <td>
                <span class="tabelcell">$</span
                ><span class="tabelcell"> 95.07</span>
              </td>
              <td><span class="tabelcell"> 24</span></td>
              <td><span class="tabelcell"> 270</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
