.crpto_th{
    color: #342e49;
    font-size: 13px;
}
.card_back{
    .card_img{
        background-color: #aff7dc;
        border-radius: 4px 4px 0;
    }
    .card_img_2{
        background-color: #bdaff7;
        border-radius: 4px 4px 0;
    }
    .crpt_card_img{
        width: 100%;
    }
}
.card-detail{
    // background-color: #fff;
    padding: 0 8px 8px;
    .cpr_info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #eae5e5;
    }
    .pb-detail{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 5px;
    }
}
.crpto_icon_wrap{
    width: 46px;
    height: 46px;
    line-height: 46px;
    display: inline-block;
    border-radius: 50%;
    background-color:#6971ff;
    position: relative;
    box-shadow: 2px 1px 3px #9f9b9b;
}
.icon_coin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #fff;
}