<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6 m-b-20">
    <div class="">
      <app-areacardsm1></app-areacardsm1>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 m-b-20">
    <div class="">
      <app-areacardsm2></app-areacardsm2>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 m-b-20">
    <div class="">
      <app-areacardsm3></app-areacardsm3>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 m-b-20">
    <div class="">
      <app-areacardsm4></app-areacardsm4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-12 m-b-20">
    <div class="card custom-card shadow1 no-radius">
      <div
        class="
          card-header
          custom-card-header
          d-flex
          align-items-center
          justify-content-between
          border-1
        "
      >
        <div class="card-title m-b-0">
          <h5 class="card-label m-b-0">Population of world</h5>
        </div>
        <div class="card-toolbar d-flex align-items-center">
          <span class="material-icons icon-20 icon-gray"> grid_view </span>
        </div>
      </div>
      <div class="card-body p-x-12">
        <div class="chart-container">
          <app-bar-echarts></app-bar-echarts>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 m-b-20">
    <div class="card custom-card shadow1 no-radius">
      <div
        class="
          card-header
          custom-card-header
          d-flex
          justify-content-between
          align-items-center
          border-1
        "
      >
        <h5 class="card-label m-b-0">Budget</h5>
        <span class="material-icons icon icon-gray"> grid_view </span>
      </div>
      <div class="card-body p-x-12">
        <div class="chart-container">
          <app-echart-radar></app-echart-radar>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-12 m-b-20">
    <div class="">
      <app-bar-chart></app-bar-chart>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="row">
      <div class="col-lg-12 m-b-20">
        <div class="card custom-card">
          <div class="bg-success">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <div class="display-6 m-r-8 text-white">
                    <i class="ti ti-wallet"></i>
                  </div>
                  <div class="">
                    <h4 class="m-b-0 text-white">Total Income</h4>
                    <h6 class="m-b-0 text-white">Income</h6>
                  </div>
                </div>
                <div class="ml-auto">
                  <h3 class="m-b-0 fw-500 text-white"><span>$</span> 2500</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 m-b-20">
        <div class="card custom-card">
          <div class="bg-orange">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <div class="display-6 m-r-8 text-white">
                    <i class="ti ti-settings"></i>
                  </div>
                  <div class="">
                    <h4 class="m-b-0 text-white">Total Tasks</h4>
                    <h6 class="m-b-0 text-white">Pending</h6>
                  </div>
                </div>
                <div class="ml-auto">
                  <h3 class="m-b-0 fw-500 text-white">4390</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 m-b-20">
        <div class="card custom-card shadow1 no-radius">
          <div class="bg-info">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-center">
                <div class="display-6 m-r-8 text-white">
                  <i class="wi wi-sandstorm"></i>
                </div>
                <div class="">
                  <span class="display-6 text-white"
                    >20° <span class="text-white">C</span></span
                  >
                  <span class="text-white">/</span
                  ><span class="text-white"
                    >7° <span class="text-white">C</span></span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center zp-12">
            <p class="m-b-0 text-info">5 May 2020</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 m-b-20">
        <div class="card custom-card shadow1 no-radius">
          <div class="bg-purple">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-center">
                <div class="mr-2">
                  <span class="display-6 text-white"
                    >10° <span class="text-white">C</span></span
                  >
                  <span class="text-white">/</span
                  ><span class="text-white"
                    >7° <span class="text-white">C</span></span
                  >
                </div>
                <div class="display-6 text-white">
                  <i class="wi wi-sandstorm"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center zp-12">
            <div class="">
              <h6 class="m-b-0">
                <i class="wi wi-day-storm-showers m-r-4"></i> 15Kmph
              </h6>
            </div>
            <div class="ml-auto">
              <h6 class="m-b-0">40%</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-lg-12 m-b-20">
    <div class="card custom-card">
      <div
        class="
          card-header
          custom-card-header
          border-1
          d-flex
          align-items-center
        "
      >
        <div class="card-title m-b-0">
          <h5 class="card-title m-b-0">Recent Orders</h5>
        </div>
      </div>
      <app-orders></app-orders>
    </div>
  </div>
</div>
