<!-- Big-weather tile  -->
<div class="row m-b-12">
  <div class="col-lg-6 col-md-6 col-sm-6 m-b-12">
    <div class="card custom-card">
      <div class="bg-info">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-center">
            <div class="display-6 m-r-8 text-white">
              <i class="wi wi-sandstorm"></i>
            </div>
            <div class="">
              <span class="display-6 text-white"
                >20° <span class="text-white">C</span></span
              >
              <span class="text-white">/</span
              ><span class="text-white"
                >7° <span class="text-white">C</span></span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center py-3">
        <p class="mb-0 text-info">5 May 2020</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 m-b-12">
    <div class="card custom-card">
      <div class="bg-purple">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-center">
            <div class="m-r-8">
              <span class="display-6 text-white"
                >10° <span class="text-white">C</span></span
              >
              <span class="text-white">/</span
              ><span class="text-white"
                >7° <span class="text-white">C</span></span
              >
            </div>
            <div class="display-6 text-white">
              <i class="wi wi-sandstorm"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center zp-12">
        <div class="">
          <h6 class="mb-0">
            <i class="wi wi-day-storm-showers m-r-4"></i> 15Kmph
          </h6>
        </div>
        <div class="ml-auto">
          <h6 class="mb-0">40%</h6>
        </div>
      </div>
    </div>
  </div>
</div>
