<div class="card custom-card shadow1 no-radius">
  <div class="card-header custom-card-header border-1">
    <h5 class="m-b-0">Browser Stats</h5>
  </div>
  <div class="zp-10">
    <table class="table browser_table table-borderless">
      <tbody>
        <tr>
          <td>
            <div class="browser_logo">
              <img src="assets/media/images/Browsers/chrome.png" alt="logo" class="browser_image" />
            </div>
          </td>
          <td>Google Chrome</td>
          <td>
            <span class="text-white text-right b-radius k_browser bg-info"
              >25%</span
            >
          </td>
        </tr>
        <tr>
          <td>
            <div class="browser_logo">
              <img
                src="assets/media/images/Browsers/firefox-logo.png"
                alt="logo" class="browser_image"
              />
            </div>
          </td>
          <td>Mozila Firefox</td>
          <td>
            <span class="k_browser text-white text-right b-radius bg-orange"
              >35%</span
            >
          </td>
        </tr>
        <tr>
          <td>
            <img
              src="assets/media/images/Browsers/safari-logo.png"
              alt="logo" class="browser_image"
            />
          </td>
          <td>Safari</td>
          <td>
            <span class="k_browser text-white text-right b-radius bg-purple"
              >15%</span
            >
          </td>
        </tr>
        <tr>
          <td>
            <div class="browser_logo">
              <img src="assets/media/images/Browsers/chrome.png" alt="logo" class="browser_image" />
            </div>
          </td>
          <td>Google Chrome</td>
          <td>
            <span class="k_browser text-white text-right b-radius bg-info"
              >25%</span
            >
          </td>
        </tr>
        <tr>
          <td>
            <div class="browser_logo">
              <img
                src="assets/media/images/Browsers/browser.png"
                alt="logo" class="browser_image"
              />
            </div>
          </td>
          <td>Other Browser</td>
          <td>
            <span class="k_browser text-white text-right b-radius bg-danger"
              >01%</span
            >
          </td>
        </tr>
        <tr>
          <td>
            <div class="browser_logo">
              <img
                src="assets/media/images/Browsers/internet-logo.png"
                alt="logo" class="browser_image"
              />
            </div>
          </td>
          <td>Internet Explorer</td>
          <td>
            <span class="k_browser text-white text-right b-radius bg-danger"
              >05%</span
            >
          </td>
        </tr>
        <tr>
          <td>
            <div class="browser_logo">
              <img
                src="assets/media/images/Browsers/opera-logo.png"
                alt="logo" class="browser_image"
              />
            </div>
          </td>
          <td>Opera</td>
          <td>
            <span class="k_browser text-white text-right b-radius bg-info"
              >20%</span
            >
          </td>
        </tr>
        <tr>
          <td>
            <div class="browser_logo">
              <img
                src="assets/media/images/Browsers/microsoft.png"
                alt="logo" class="browser_image"
              />
            </div>
          </td>
          <td>Microsoft Edge</td>
          <td>
            <span class="k_browser text-white text-right b-radius bg-info"
              >02%</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
