<div class="card custom-card">
  <div class="card-body p-b-0">
    <div class="d-flex m-b-12">
      <div>
        <img
          src="assets/media/images/users/300_15.jpg"
          alt="user"
          class="logo-xl-rounded"
        />
      </div>
      <div class="p-l-20 p-b-8">
        <h5 class="">Daniel Hamsworth</h5>
        <p class=""><strong>UI/UX Designer</strong></p>
        <button class="btn d-flex align-items-center btn-square btn-primary">
          <i class="ti ti-plus icon-12 m-r-8"></i> Follow
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h5 class="mb-0">28</h5>
        <p class="fw-600 text-muted m-b-0">Photos</p>
      </div>
      <div class="col text-center">
        <h5 class="mb-0">74</h5>
        <p class="fw-600 text-muted m-b-0">Videos</p>
      </div>
      <div class="col text-center">
        <h5 class="mb-0">255</h5>
        <p class="fw-600 text-muted m-b-0">Tasks</p>
      </div>
    </div>
  </div>
  <div>
    <hr />
  </div>
  <div class="card-body p-t-0">
    <p class="text-center text-muted followscroll">
      Lorem ipsum dolor sit ametetur adipisicing elit, sed do eiusmod tempor
      incididunt adipisicing elit, sed do eiusmod tempor incididunLorem ipsum
      dolor sit ametetur adipisicing elit, sed do eiusmod tempor incididuntt
    </p>
    <ul class="d-flex text-center nav">
      <li class="col nav-item">
        <a tooltip="Web" title="Website">
          <i class="ti ti-world icon-20 text-dark"></i
        ></a>
      </li>
      <li class="col nav-item">
        <a tooltip="Twitter" title="twitter">
          <i class="ti ti-twitter-alt icon-20 twitter-base"></i>
        </a>
      </li>
      <li class="col nav-item">
        <a tooltip="Facebook" title="Facebook">
          <i class="ti ti-facebook icon-20 facebook-base"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
