<div class="card custom-card grid-bottom">
  <div class="card-header custom-card-header border-0">
    <h3 class="m-b-8">Tabs</h3>
    <p class="test-muted">
      Add quick, dynamic tab functionality to transition through panes of local
      content, even via dropdown menus. Nested tabs are not supported. Please
      visit the Official
      <a
        href="https://valor-software.com/ngx-bootstrap/#/tabs"
        target="_blank"
        class="custom-link"
        >Ngx-Bootstrap Documentation</a
      >
      for a full list of instructions and other options.
    </p>
  </div>
</div>
<div class="main_section">
  <div class="row">
    <div class="col-lg-6 grid-bottom">
      <app-basic-tab></app-basic-tab>
    </div>
    <div class="col-lg-6 grid-bottom">
      <app-full-width-tab></app-full-width-tab>
    </div>
    <div class="col-lg-6 grid-bottom">
      <app-horizontal-full-tabs></app-horizontal-full-tabs>
    </div>
  </div>
</div>
