<div class="card custom-card no-radius">
  <div
    class="
      card-header
      custom-card-header
      d-flex
      align-items-center
      justify-content-between
      border-1
    "
  >
    <div class="">
      <h5 class="m-b-0">Orders Record</h5>
    </div>
    <div class="card-toolbar d-flex align-items-center">
      <span class="material-icons icon-20 icon-gray"> grid_view </span>
    </div>
  </div>
  <div class="chart_body">
    <div id="chart" class="card-rounded-bottom chart-container">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [dataLabels]="chartOptions.dataLabels"
        [grid]="chartOptions.grid"
        [tooltip]="chartOptions.tooltip"
        [stroke]="chartOptions.stroke"
        [title]="chartOptions.title"
      ></apx-chart>
    </div>
  </div>
</div>
