<div class="row">
  <div class="col-lg-12 m-b-12">
    <div class="">
      <h5 class="m-y-8">Customers Lists</h5>
    </div>
    <div class="">
      <app-customers></app-customers>
    </div>
  </div>
  <div class="col-lg-12 m-b-12">
    <div class="">
      <h5 class="m-y-8">Task Tabel</h5>
    </div>

    <div class="">
      <app-task-manager></app-task-manager>
    </div>
  </div>
  <div class="col-lg-12 m-b-12">
    <div class="">
      <div class="">
        <h5 class="m-y-8">Products Category Tabel</h5>
      </div>
      <div class="m-b-12">
        <app-category></app-category>
      </div>
    </div>
  </div>
</div>
