<div class="card custom-card grid-bottom">
  <div class="card-header custom-card-header border-0">
    <h4 class="m-b-8">Tooltip</h4>
    <p class="text-muted">
      Tooltips are an updated version, which don’t rely on images, use CSS3 for
      animations, and much more. Please visit the Official
      <a
        href="https://valor-software.com/ngx-bootstrap/#/tooltip"
        target="_blank"
        class="custom-link"
        >Ngx-Bootstrap Documentation</a
      >
      for a full list of instructions and other options.
    </p>
  </div>
</div>
<div class="main_section">
  <div class="row">
    <div class="col-lg-6 grid-bottom">
      <app-basic></app-basic>
    </div>
    <div class="col-lg-6 grid-bottom">
      <app-dismiss></app-dismiss>
    </div>
    <div class="col-lg-6 grid-bottom">
      <app-placement></app-placement>
    </div>

    <div class="col-lg-6 grid-bottom">
      <app-dynanic></app-dynanic>
    </div>
  </div>
</div>
