<div class="card custom-card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="br_person_detail">
          <div class="per_logo">
            <img
              src="assets/media/images/users/15.png"
              class="img-responsive sm_profile_dp"
              alt=""
            />
          </div>
          <div class="per_name_de">
            <h4 class="">Monika Hamsworth</h4>
            <p class="text-muted">Member Since:June 2016</p>
            <div class="">
              <button class="btn btn-primary btn_config">
                <span class="material-icons-outlined icon-20 m-r-8">
                  rss_feed </span
                >follow
              </button>
              <button
                (click)="openEmails()"
                class="btn btn-secondary btn_config m-l-6"
              >
                <span class="material-icons-outlined icon-20 m-r-8">
                  email </span
                >email
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="br_sm_detail">
          <div class="right_person_details">
            <button (click)="openMessage()" class="btn btn-primary btn_config">
              message
            </button>
            <button
              (click)="editProfile()"
              class="btn btn-secondary btn_config m-l-6"
            >
              edit profile
            </button>
          </div>
          <div class="sm_spec_counts">
            <div class="smp_wid">
              <div class="icon_wrap">
                <span class="material-icons-outlined smp_icon bg-primary">
                  note_add
                </span>
              </div>
              <div class="sm_count_number">
                <p class="m-b-4 sm_count_title">Posts</p>
                <h4 class="_count_num"><b>353</b></h4>
              </div>
            </div>
            <div class="smp_wid">
              <div class="icon_wrap">
                <span class="material-icons-outlined smp_icon bg-success">
                  group
                </span>
              </div>
              <div class="sm_count_number">
                <p class="m-b-4 sm_count_title">Followers</p>
                <h4 class="_count_num"><b>150M</b></h4>
              </div>
            </div>
            <div class="smp_wid">
              <div class="icon_wrap">
                <span class="material-icons-outlined smp_icon bg-secondary">
                  rss_feed
                </span>
              </div>
              <div class="sm_count_number">
                <p class="m-b-4 sm_count_title">Following</p>
                <h4 class="_count_num"><b>500</b></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
