<div class="row">
  <div class="col-lg-12 col-md-12 grid-bottom-12">
    <div class="">
      <h5 class="m-y-8">Orders</h5>
    </div>
    <div class="">
      <app-orders></app-orders>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 grid-bottom-12">
    <div class="">
      <h5 class="m-y-8">Promo Codes Tabel</h5>
    </div>
    <div class="">
      <app-coupons></app-coupons>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 grid-bottom-12">
    <div class="">
      <h5 class="m-y-8">Products Inventory Tabel</h5>
    </div>
    <div class="">
      <app-inventory></app-inventory>
    </div>
  </div>
</div>
