<div class="card custom-card">
  <div class="card-body">
    <!-- filter parameters -->
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-md-6 grid-bottom-12">
        <div class="">
          <app-tabel-filter-component></app-tabel-filter-component>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6 grid-bottom-12">
        <div class="form-group m-b-0">
          <p-calendar
            class="prime_datepicker"
            [(ngModel)]="today"
            [ngModelOptions]="{ standalone: true }"
            [disabledDays]="[0, 6]"
            [readonlyInput]="true"
            selectionMode="range"
            inputId="range"
            placeholder="Date Picker"
          ></p-calendar>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6 grid-bottom-12">
        <div class="">
          <p-dropdown
            [options]="termsPara2"
            class="basic_dpdown"
            [(ngModel)]="selectedPara2"
            [ngModelOptions]="{ standalone: true }"
            optionLabel="para_name"
          ></p-dropdown>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6 grid-bottom-12">
        <div class="">
          <p-dropdown
            [options]="termsPara"
            class="basic_dpdown"
            [(ngModel)]="selectedPara"
            [ngModelOptions]="{ standalone: true }"
            optionLabel="para_name"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <!-- Table Starts here -->
    <div class="table-responsive table_hr_scroll grid-bottom-12">
      <table class="table my_tabel .table-hover table-borderless mb-0">
        <thead class="thead">
          <tr class="thead-row" style="left: 0px">
            <th class="th">
              <span class="t_title">Sr. No</span>
            </th>
            <th>
              <span class="t_title align-middle">Badge</span>
            </th>
            <th>
              <span class="t_title align-middle">Profile</span>
            </th>
            <th>
              <span class="t_title align-middle"> Name</span>
            </th>
            <th>
              <span class="t_title align-middle">Phone</span>
            </th>
            <th>
              <span class="t_title align-middle">Orders</span>
            </th>
            <th>
              <span class="t_title align-middle">Email</span>
            </th>
            <th>
              <span class="t_title align-middle">Rewards</span>
            </th>
            <th>
              <span class="t_title align-middle">Member Since</span>
            </th>
            <th>
              <span class="t_title align-middle">Action</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customerList; let i = index">
            <td>
              <span class="tabelcell">{{ i + 1 }}</span>
            </td>
            <td>
              <span class="tabelcell align-middle">
                <span
                  class="material-icons-outlined icon"
                  [ngClass]="{ 'text-warning': customer.star === 'true' }"
                >
                  star_border
                </span>
              </span>
            </td>
            <td>
              <span class="tabelcell align-middle">
                <img
                  [src]="customer.image"
                  alt=""
                  class="img-responsive logo-sm2-rounded"
                />
              </span>
            </td>
            <td>
              <span class="tabelcell align-middle">{{ customer.name }}</span>
            </td>
            <td>
              <span class="tabelcell align-middle">{{ customer.phone }}</span>
            </td>
            <td>
              <span class="tabelcell align-middle">{{ customer.orders }}</span>
            </td>
            <td>
              <span class="tabelcell align-middle">{{ customer.email }}</span>
            </td>
            <td>
              <span class="tabelcell align-middle">{{ customer.rewards }}</span>
            </td>
            <td>
              <span class="tabelcell align-middle">{{
                customer.joined_date
              }}</span>
            </td>
            <td>
              <span class="tabelcell">
                <div class="d-flex align-items-center">
                  <a
                    class="mr-3"
                    (click)="editCustomer(customer.id)"
                    tooltip="Edit"
                  >
                    <span class="material-icons-outlined icon-20 icon-gray">
                      edit
                    </span>
                  </a>
                  <a
                    class=""
                    (click)="deleteCustomer(customer.id)"
                    tooltip="delete"
                  >
                    <span class="material-icons-outlined icon text-danger">
                      delete
                    </span>
                  </a>
                </div>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table_bottom_filters">
      <app-tabel-filter-component-bottom></app-tabel-filter-component-bottom>
    </div>
  </div>
</div>
<!-- edit Customer -->
<p-dialog
  header="Customer Detail"
  [(visible)]="customerDetail"
  [modal]="true"
  class="e-com-customers custom-card"
>
  <div class="k_optional_scroll">
    <form action="" class="" (ngSubmit)="updateCustomer()">
      <div class="kprime_form_wrapper">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="form-group m-b-12">
              <label for="">Customer Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Customer Name"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group m-b-12">
              <label for="">Customer Phone</label>
              <input
                type="number"
                class="form-control"
                placeholder="Customer Phone"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group m-b-12">
              <label for="">Customer Email</label>
              <input type="email" class="form-control" placeholder="Email" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group m-b-12">
              <label for="Join Date">Join Date</label>
              <p-calendar
                class="prime_datepicker"
                [(ngModel)]="today"
                [ngModelOptions]="{ standalone: true }"
                [disabledDays]="[0, 6]"
                [readonlyInput]="true"
                inputId="basic"
                placeholder="Date Picker"
              ></p-calendar>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group m-b-12">
              <label for="">Customer Orders</label>
              <input
                type="number"
                class="form-control"
                placeholder="Customer orders"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group m-b-12">
              <label for="">Rewards</label>
              <input type="number" class="form-control" placeholder="rewards" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="d-flex justify-content-end kprime_footer align-items-center">
    <button
      (click)="closeModal()"
      class="btn btn-outline-danger m-r-8 btn-square"
    >
      Cancel
    </button>
    <button type="submit" class="btn btn-primary btn-square">Submit</button>
  </div>
</p-dialog>
