<div class="card custom-card">
    <div class="card-header custom-card-header">
        <h5 class="mb-0">List Orintation</h5>
    </div>
    <div class="card-body">
        <div class="d-flex align-items-center"  cdkDropList (cdkDropListDropped)="drop($event)">
            <ng-container *ngFor="let language of laguages">
                <div   class="  drag-card-full" >
                   <div cdkDrag class="text-center d-flex align-items-center drag-card ">
                    <div class="text-center">
                        <i class="material-icons-outlined pb-2 text-center text-info icon">
                            view_in_ar
                        </i>
                        <h6 class="mb-0 text-center">
                            {{language}}
                        </h6>
                    </div>
                   </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>