<div class="timeline-widgit p-r-5 timeline-scroll">
  <ul class="timeline">
    <li class="timeline-list">
      <div class="timeline-point timeline-point-primary"></div>
      <a class="timeline-panel text-light-primary text-primary decoration-none">
        <span>10 minutes ago</span>
        <p class="m-b-4 text-primary">
          Lorem ipsum dolor sit
          <strong class="text-primary">#BR-7883</strong>
        </p>
      </a>
    </li>
    <li class="timeline-list">
      <div class="timeline-point timeline-point-success"></div>
      <a class="timeline-panel text-light-success text-success decoration-none">
        <span>15 minutes ago</span>
        <p class="m-b-4 text-success">
          Lorem ipsum dolor sit
          <strong class="text-success">#BR-7883</strong>
        </p>
      </a>
    </li>
    <li class="timeline-list">
      <div class="timeline-point timeline-point-danger"></div>
      <a class="timeline-panel text-light-danger text-danger decoration-none">
        <span>30 minutes ago</span>
        <p class="m-b-4 text-danger">
          Lorem ipsum dolor sit
          <strong class="text-danger">#RX-TDF687</strong>
        </p>
      </a>
    </li>
    <li class="timeline-list">
      <div class="timeline-point timeline-point-info"></div>
      <a class="timeline-panel text-light-info text-info decoration-none">
        <span>20 minutes ago</span>
        <p class="m-b-4 text-info">
          Lorem ipsum dolor sit.
          <strong class="text-info">#ZT-53676.</strong>
        </p>
      </a>
    </li>

    <li class="timeline-list">
      <div class="timeline-point timeline-point-warning"></div>
      <a class="timeline-panel text-light-warning text-warning decoration-none">
        <span>20 minutes ago</span>
        <p class="m-b-4 text-warning">Lorem ipsum dolor sit</p>
      </a>
    </li>
    <li class="timeline-list">
      <div class="timeline-point timeline-point-primary"></div>
      <a class="timeline-panel text-light-primary text-primary decoration-none">
        <span>10 minutes ago</span>
        <p class="m-b-4 text-primary">
          Lorem ipsum dolor sit
          <strong class="text-primary">#BR-7883</strong>
        </p>
      </a>
    </li>
    <li class="timeline-list">
      <div class="timeline-point timeline-point-success"></div>
      <a class="timeline-panel text-light-success text-success decoration-none">
        <span>15 minutes ago</span>
        <p class="m-b-4 text-success">
          Lorem ipsum dolor sit
          <strong class="text-success">#BR-7883</strong>
        </p>
      </a>
    </li>
    <li class="timeline-list">
      <div class="timeline-point timeline-point-danger"></div>
      <a class="timeline-panel text-light-danger text-danger decoration-none">
        <span>30 minutes ago</span>
        <p class="m-b-4 text-danger">
          Lorem ipsum dolor sit
          <strong class="text-danger">#RX-TDF687</strong>
        </p>
      </a>
    </li>
  </ul>
</div>
