<div class="card custom-card shadow1 no-radius">
  <div
    class="
      card-header
      custom-card-header
      d-flex
      align-items-center
      justify-content-between
      border-1
    "
  >
    <div class="card-title mb-0">
      <h5 class="card-label mb-0">Orders</h5>
    </div>
    <div class="card-toolbar d-flex align-items-center">
      <span class="material-icons icon-20 icon-gray"> grid_view </span>
    </div>
  </div>
  <div class="">
    <div id="chart" class="card-rounded-bottom chart-container">
      <apx-chart
      
      class="bar_chart_new chart_new_id "
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [colors]="chartOptions.colors"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [xaxis]="chartOptions.xaxis"
        [tooltip]="chartOptions.tooltip"
        [yaxis]="chartOptions.yaxis"
        [legend]="chartOptions.legend"
      ></apx-chart>
    </div>
  </div>
</div>
