<div class="row">
  <div class="col-lg-6 grid-bottom">
    <app-bar-chart></app-bar-chart>
  </div>
  <div class="col-lg-6 grid-bottom">
    <div class="card custom-card no-radius">
      <div
        class="card-header custom-card-header d-flex align-items-center justify-content-between border-1"
      >
        <div class="">
          <h5 class="m-b-0">Order record</h5>
        </div>
        <div class="card-toolbar d-flex align-items-center">
          <span class="material-icons icon-20 icon-gray"> grid_view </span>
        </div>
      </div>
      <div class="chart_body">
        <app-line-chart></app-line-chart>
      </div>
    </div>
  </div>
  <div class="col-lg-6 grid-bottom">
    <app-area-apx-chart></app-area-apx-chart>
  </div>
  <div class="col-lg-6 grid-bottom">
    <app-pie-apx-chart></app-pie-apx-chart>
  </div>
  <div class="col-lg-6 grid-bottom">
    <app-radial-bar-apx-chart></app-radial-bar-apx-chart>
  </div>
  <div class="col-lg-6 grid-bottom">
    <div class="card custom-card">
      <div
        class="card-header custom-card-header d-flex align-items-center border-1"
      >
        <div class="card-title m-b-0">
          <h5 class="card-label m-b-0">Ticket Statistics</h5>
        </div>
      </div>
      <div class="chart_body">
        <app-doughnu-apx-chart></app-doughnu-apx-chart>
      </div>
    </div>
  </div>
  <div class="col-lg-6 grid-bottom">
    <div class="card custom-card">
      <div
        class="card-header custom-card-header d-flex align-items-center border-1"
      >
        <div class="card-title m-b-0">
          <h5 class="card-label m-b-0">Column Chart</h5>
        </div>
      </div>
      <div class="chart_body">
        <app-column-chart></app-column-chart>
      </div>
    </div>
  </div>
  <div class="col-lg-6 grid-bottom">
    <div class="card custom-card">
      <div
        class="card-header custom-card-header d-flex align-items-center border-1"
      >
        <div class="card-title m-b-0">
          <h5 class="card-label m-b-0">Radar Chart</h5>
        </div>
      </div>
      <div class="chart_body">
        <app-radar-chart></app-radar-chart>
      </div>
    </div>
  </div>
  <div class="col-lg-6 grid-bottom">
    <div class="card custom-card">
      <div
        class="card-header custom-card-header d-flex align-items-center border-1"
      >
        <div class="card-title m-b-0">
          <h5 class="card-label m-b-0">Polar Chart</h5>
        </div>
      </div>
      <div class="chart_body">
        <app-polar-chart></app-polar-chart>
      </div>
    </div>
  </div>

  <div class="col-lg-6 grid-bottom">
    <app-bubble-apx-chart></app-bubble-apx-chart>
  </div>
</div>
