<div class="card custom-card grid-bottom">
  <div class="card-header custom-card-header border-0">
    <h4 class="m-b-8">Date Picker</h4>
    <p class="text-muted">
      Datepicker is a highly configurable component that adds datepicker
      functionality to your pages. Please visit the Official
      <a
        href="https://valor-software.com/ngx-bootstrap/#/datepicker"
        target="_blank"
        class="custom-link"
        >Ngx-Bootstrap Documentation</a
      >
      for a full list of instructions and other options.
    </p>
  </div>
</div>
<div class="main_section">
  <div class="row">
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-basic-datepicker></app-basic-datepicker>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-range-datepicker></app-range-datepicker>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-dateformat-datepicker></app-dateformat-datepicker>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-dateformat-range-datepicker></app-dateformat-range-datepicker>
    </div>
  </div>
</div>
