<div class="row">
  <div class="col-lg-12 col-md-12 m-b-20">
    <div class="card custom-card">
      <div class="card-header custom-card-header border-1">
        <h5 class="m-b-0">Basic dropdown</h5>
      </div>
      <div class="card-body">
        <p-dropdown
          [options]="cities"
          class="basic_dpdown"
          [(ngModel)]="selectedCity"
          [ngModelOptions]="{ standalone: true }"
          optionLabel="name"
        ></p-dropdown>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12">
    <div class="card custom-card">
      <div class="card-header custom-card-header border-1">
        <h5 class="m-b-0">Basic MultiSelect</h5>
      </div>
      <div class="card-body">
        <p-multiSelect
          [options]="cities"
          [(ngModel)]="selectedCityCodes"
          [ngModelOptions]="{ standalone: true }"
          optionLabel="name"
          optionValue="code"
        ></p-multiSelect>
      </div>
    </div>
  </div>
</div>
