<div class="row">
  <div class="col-lg-6 m-b-20">
    <div class="card custom-card">
      <div class="card-header custom-card-header border-1">
        <h5 class="m-b-0">Basic dropdown</h5>
      </div>
      <div class="card-body">
        <p-dropdown
          [options]="cities"
          class="basic_dpdown"
          [(ngModel)]="selectedCity"
          [ngModelOptions]="{ standalone: true }"
          optionLabel="name"
        ></p-dropdown>
      </div>
    </div>
  </div>
  <div class="col-lg-6 m-b-20">
    <div class="card custom-card">
      <div class="card-header custom-card-header border-1">
        <h5 class="m-b-0">Single Tag Select</h5>
      </div>
      <div class="card-body">
        <app-custom-single-select></app-custom-single-select>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card custom-card">
      <div class="card-header custom-card-header border-1">
        <h5 class="m-b-0">Basic MultiSelect</h5>
      </div>
      <div class="card-body">
        <p-multiSelect
          [options]="cities"
          [(ngModel)]="selectedCityCodes"
          [ngModelOptions]="{ standalone: true }"
          optionLabel="name"
          optionValue="code"
        ></p-multiSelect>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card custom-card">
      <div class="card-header custom-card-header border-1">
        <h5 class="m-b-0">Multi Tag Select</h5>
      </div>
      <div class="card-body">
        <app-custom-multi-select></app-custom-multi-select>
      </div>
    </div>
  </div>
</div>
