<div class="card custom-card card-stretch ">
    <div  class="card-header custom-card-header border-0">
      <div class="card-title ">
          <h5 class="card-label mt-2">Input Switch </h5>
      </div>
  </div>

      <div class="card-body pt-0">
        <form #form ="ngForm" (ngSubmit)='saveDetail(form)' class="form_section">
                <div class="form-group d-flex align-items-center mb-3 ">
                    <div class="">
                        <p-inputSwitch name = "checked1" [ngModelOptions]="{standalone: true}" [(ngModel)]="checked1"></p-inputSwitch>                 
                    </div>
                </div>
                <div class="form-group d-flex align-items-center mb-3 ">
                    <div class="">
                        <p-inputSwitch name = "checked2" [ngModelOptions]="{standalone: true}" [(ngModel)]="checked2"></p-inputSwitch>                 
                    </div>
                </div>
        </form>
      </div>
    </div>