<div class="card custom-card grid-bottom">
  <div class="card-header custom-card-header border-0">
    <h4 class="m-b-8">List Group</h4>
    <p class="text-muted">
      List groups are a flexible and powerful component for displaying a series
      of content. Please visit the Official
      <a
        href="https://getbootstrap.com/docs/4.0/components/list-group/"
        target="_blank"
        class="custom-link"
        >Bootstrap Documentation</a
      >
      for a full list of instructions and other options.
    </p>
  </div>
</div>
<div class="main_section">
  <div class="row">
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-basic-list></app-basic-list>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-active-item-list></app-active-item-list>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-disable-item-list></app-disable-item-list>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-link-button-list></app-link-button-list>
    </div>
  </div>
</div>
