<div class="card custom-card card-stretch">
  <div class="card-header custom-card-header border-1">
    <h5 class="m-b-0">Form Input Grid Layout</h5>
  </div>
  <div class="card-body">
    <p class="text-danger m-b-8">Use Class .col-*-#</p>
    <p class="text-muted m-b-8">
      * Will be xl, lg, md, sm and # will be number 1-12 number of column you
      want
    </p>
    <form action="" class="form_section">
      <!-- Col-lg-1 start -->
      <div class="row">
        <div class="col-1">
          <div class="form-group m-b-12">
            <label for="" class="">Col-1</label>
            <div class="">
              <input type="text" class="form-control" placeholder="col-lg-1" />
            </div>
          </div>
        </div>
      </div>
      <!-- Col-lg-2 start -->
      <div class="row">
        <div class="col-lg-2">
          <div class="form-group m-b-12">
            <label for="" class="">Col-lg-2</label>
            <div class="">
              <input type="text" class="form-control" placeholder="col-lg-2" />
            </div>
          </div>
        </div>
      </div>
      <!-- col-lg-3 start -->
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group m-b-12">
            <label for="" class="">Col-lg-3</label>
            <div class="">
              <input type="text" class="form-control" placeholder="col-lg-3" />
            </div>
          </div>
        </div>
      </div>
      <!-- col-lg-4 start -->
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group m-b-12">
            <label for="" class="">Col-lg-4</label>
            <div class="">
              <input type="text" class="form-control" placeholder="col-lg-4" />
            </div>
          </div>
        </div>
      </div>
      <!-- col-lg-5 start -->
      <div class="row">
        <div class="col-lg-5">
          <div class="form-group m-b-12">
            <label for="" class="">Col-lg-5</label>
            <div class="">
              <input type="text" class="form-control" placeholder="col-lg-5" />
            </div>
          </div>
        </div>
      </div>
      <!-- col-lg-6 start -->
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group m-b-12">
            <label for="" class="">Col-lg-6</label>
            <div class="">
              <input type="text" class="form-control" placeholder="col-lg-6" />
            </div>
          </div>
        </div>
      </div>
      <!-- col-lg-7 start -->
      <div class="row">
        <div class="col-lg-7">
          <div class="form-group m-b-12">
            <label for="" class="">Col-lg-7</label>
            <div class="">
              <input type="text" class="form-control" placeholder="col-lg-7" />
            </div>
          </div>
        </div>
      </div>
      <!-- col-lg-8 start -->
      <div class="row">
        <div class="col-lg-8">
          <div class="form-group m-b-12">
            <label for="" class="">Col-lg-8</label>
            <div class="">
              <input type="text" class="form-control" placeholder="col-lg-8" />
            </div>
          </div>
        </div>
      </div>
      <!-- col-lg-9 start -->
      <div class="row">
        <div class="col-lg-9">
          <div class="form-group m-b-12">
            <label for="" class="">Col-lg-9</label>
            <div class="">
              <input type="text" class="form-control" placeholder="col-lg-9" />
            </div>
          </div>
        </div>
      </div>
      <!-- col-lg-10 start -->
      <div class="row">
        <div class="col-lg-10">
          <div class="form-group m-b-12">
            <label for="" class="">Col-lg-10</label>
            <div class="">
              <input type="text" class="form-control" placeholder="col-lg-10" />
            </div>
          </div>
        </div>
      </div>
      <!-- col-lg-11 start -->
      <div class="row">
        <div class="col-lg-11">
          <div class="form-group m-b-12">
            <label for="" class="">Col-lg-11</label>
            <div class="">
              <input type="text" class="form-control" placeholder="col-lg-11" />
            </div>
          </div>
        </div>
      </div>
      <!-- col-lg-12 start -->
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group m-b-12">
            <label for="" class="">Col-lg-12</label>
            <div class="">
              <input type="text" class="form-control" placeholder="col-lg-12" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
