<div class="row">
  <div class="col-lg-12 m-b-12">
    <div class="">
      <app-ticket-tile></app-ticket-tile>
    </div>
  </div>
  <div class="col-lg-12 m-b-12">
    <div class="d-flex align-items-center m-b-16">
      <div class="ml-auto">
        <button
          (click)="addTicket()"
          class="btn btn-pill btn-primary d-flex align-items-center"
        >
          <span class="material-icons-outlined icon m-r-4"> add </span>
          Tickets
        </button>
      </div>
    </div>
    <div class="">
      <app-task-tickets></app-task-tickets>
    </div>
  </div>
</div>
