<div class="card custom-card grid-bottom">
  <div class="card-header custom-card-header border-0">
    <h4 class="m-b-8">Time Picker</h4>
    <p class="text-mmuted">
      A lightweight & configurable timepicker directive Please visit the
      Official
      <a
        href="https://valor-software.com/ngx-bootstrap/#/timepicker"
        target="_blank"
        class="custom-link"
        >Ngx-Bootstrap Documentation</a
      >
      for a full list of instructions and other options.
    </p>
  </div>
</div>
<div class="main_section">
  <div class="row">
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-basic-time></app-basic-time>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-meridian-time></app-meridian-time>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-min-sec-time></app-min-sec-time>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-validation-time></app-validation-time>
    </div>
  </div>
</div>
