<div class="card custom-card">
  <div role="menuitem">
    <div
      class="
        zp-8
        custom-card-header
        bg-primary
        d-flex
        align-items-center
        justify-content-between
      "
    >
      <div class="d-flex align-items-center justify-content-start">
        <div class="logo m-r-12 d-flex zp-8 align-items-center profile_widgit">
          <span class="material-icons-outlined text-white icon">
            person_outline
          </span>
        </div>
        <div class="m-b-0">
          <h6 class="m-b-0 text-white">David Smith</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="dropdown-scroll">
    <div role="menuitem">
      <a class="dropdown-item kpdropdown">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <div class="logo m-r-12 d-flex align-items-center">
              <span class="material-icons-outlined icon icon-info-circle">
                account_circle
              </span>
            </div>
            <div class="m-b-0">
              <h6 class="m-b-0 sub_heading2">My Profile</h6>

              <p class="m-b-0 text-muted">Personal Information</p>
            </div>
          </div>
          <div class="">
            <span class="material-icons-outlined icon text-muted">
              chevron_right
            </span>
          </div>
        </div>
      </a>
    </div>
    <div role="menuitem">
      <a class="dropdown-item kpdropdown">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <div class="logo m-r-12 d-flex align-items-center">
              <span class="material-icons-outlined icon icon-primary-circle">
                move_to_inbox
              </span>
            </div>
            <div class="m-b-0">
              <h6 class="m-b-0 sub_heading2">My Inbox</h6>

              <p class="m-b-0 text-muted">Messages & Latest News</p>
            </div>
          </div>
          <div class="">
            <span class="material-icons-outlined icon text-muted">
              chevron_right
            </span>
          </div>
        </div>
      </a>
    </div>
    <div role="menuitem">
      <a class="dropdown-item kpdropdown">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <div class="logo m-r-12 d-flex align-items-center">
              <span class="material-icons-outlined icon icon-warning-circle">
                list_alt
              </span>
            </div>
            <div class="m-b-0">
              <h6 class="m-b-0 sub_heading2">My Projects</h6>

              <p class="m-b-0 text-muted">Tasks & Active Projects</p>
            </div>
          </div>
          <div class="">
            <span class="material-icons-outlined icon text-muted">
              chevron_right
            </span>
          </div>
        </div>
      </a>
    </div>
    <div role="menuitem">
      <a class="dropdown-item kpdropdown">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <div class="logo m-r-12 d-flex align-items-center">
              <span class="material-icons-outlined icon icon-success-circle">
                table_chart
              </span>
            </div>
            <div class="m-b-0">
              <h6 class="m-b-0 sub_heading2">Billing Information</h6>

              <p class="m-b-0 text-muted">Pricing & Current Plan</p>
            </div>
          </div>
          <div class="">
            <span class="material-icons-outlined icon text-muted">
              chevron_right
            </span>
          </div>
        </div>
      </a>
    </div>
    <div role="menuitem">
      <a class="dropdown-item kpdropdown">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <div class="logo m-r-12 d-flex align-items-center">
              <span class="material-icons-outlined icon icon-primary-circle">
                settings
              </span>
            </div>
            <div class="m-b-0">
              <h6 class="m-b-0 sub_heading2">Account Setting</h6>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div role="menuitem">
      <a class="dropdown-item kpdropdown">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <div class="logo m-r-12 d-flex align-items-center">
              <span class="material-icons-outlined icon icon-danger-circle">
                logout
              </span>
            </div>
            <div class="m-b-0">
              <h6 class="m-b-0 sub_heading2">Logout</h6>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
