<div class="card custom-card grid-bottom">
  <div class="card-header custom-card-header border-0">
    <h4 class="m-b-8">Cards</h4>
    <p class="text-muted">
      Bootstrap’s cards provide a flexible and extensible content container with
      multiple variants and options. Please visit the Official
      <a
        href="https://getbootstrap.com/docs/5.0/components/card/"
        target="_blank"
        class="custom-link"
        >Bootstrap Documentation</a
      >
      for a full list of instructions and other options.
    </p>
  </div>
</div>
<div class="main_section">
  <div class="row">
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-basic-cards></app-basic-cards>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-header-footer-card></app-header-footer-card>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-image-card></app-image-card>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-list-card></app-list-card>
    </div>

    <div class="col-lg-12 grid-bottom">
      <app-style1-card></app-style1-card>
    </div>
    <div class="col-lg-12 grid-bottom">
      <app-style2-card></app-style2-card>
    </div>
    <div class="col-lg-12 grid-bottom">
      <app-layout2-card></app-layout2-card>
    </div>
    <div class="col-lg-12 grid-bottom">
      <app-layout1-card></app-layout1-card>
    </div>
  </div>
</div>
