<div class="card custom-card no-radius">
  <div
    class="
      card-header
      custom-card-header
      d-flex
      justify-content-between
      align-items-center
      border-1
    "
  >
    <h5 class="card-label m-b-0">Orders In Season</h5>
    <span class="material-icons icon-20 icon-gray"> grid_view </span>
  </div>
  <div class="chart_body kk_chartjs">
    <div class="chartjs-container">
      <canvas
        baseChart
        [datasets]="chartValue.radarChartData"
        [labels]="chartValue.radarChartLabels"
        [options]="chartValue.radarChartOptions"
        [colors]="chartValue.radarChartColors"
        [chartType]="chartValue.radarChartType"
        [legend]="chartValue.radarChartLegend"
        [plugins]="chartValue.radarChartPlugins"
      >
      </canvas>
    </div>
  </div>
</div>
