<div class="brand w-100">
  <a routerLink="./dashboard" class="link">
    <!-- <h2 class="m-b-0 fw-600 brand-heading">{{ isMobile ? "Z" : "Zonvoir" }}</h2> -->
    <img
      src="assets/media/images/login/zonvoir-logo-01-(3).png"
      alt="image"
      class="brand_logo_pic"
    />
    <!-- <img
      *ngIf="isMobile; else userloggedOut"
      src="assets/media/images/login/small_logo.png"
      alt="image"
      class="brand_logo_pic"
    />
    <ng-template #userloggedOut>
      <img
        src="assets/media/images/login/zonvoir-logo-01-(3).png"
        alt="image"
        class="brand_logo_small_pic"
      />
    </ng-template> -->

    <!-- <h2 class="m-b-0 fw-600 brand_heading_overlay">Zonvoir</h2> -->
  </a>
</div>
