<div class="card custom-card shadow1 no-radius">
  <div
    class="
      card-header
      custom-card-header
      d-flex
      align-items-center
      justify-content-between
      border-1
    "
  >
    <div class="card-title m-b-0">
      <h5 class="card-label m-b-0">Sales Graph</h5>
    </div>
    <div class="card-toolbar d-flex align-items-center">
      <span class="material-icons icon icon-gray"> grid_view </span>
    </div>
  </div>
  <div class="chart_body">
    <div id="chart" class="chart-container">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [colors]="chartOptions.colors"
        [stroke]="chartOptions.stroke"
        [dataLabels]="chartOptions.dataLabels"
        [legend]="chartOptions.legend"
        [title]="chartOptions.title"
        [subtitle]="chartOptions.subtitle"
      ></apx-chart>
    </div>
  </div>
</div>
