<div class="row">
  <div class="col-lg-4 col-md-6 grid-bottom">
    <div class="grid-bottom">
      <app-weather-report></app-weather-report>
    </div>
    <div class="grid-bottom">
      <app-recent-chats-widgit></app-recent-chats-widgit>
    </div>
    <div class="grid-bottom">
      <app-list-wigit></app-list-wigit>
    </div>
    <div class="grid-bottom">
      <app-engauge></app-engauge>
    </div>
    <div class="grid-bottom">
      <app-browser-stats></app-browser-stats>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 grid-bottom">
    <div class="grid-bottom">
      <app-list1></app-list1>
    </div>
    <div class="grid-bottom">
      <app-follower-profile></app-follower-profile>
    </div>
    <div class="grid-bottom">
      <app-follower></app-follower>
    </div>
    <div class="grid-bottom">
      <app-drop-profile-wigit></app-drop-profile-wigit>
    </div>
    <div class="grid-bottom">
      <app-subscribe-wigit></app-subscribe-wigit>
    </div>
    <div class="grid-bottom">
      <app-browser-stats></app-browser-stats>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 grid-bottom">
    <div class="grid-bottom on_ipad">
      <app-reviews></app-reviews>
    </div>
    <div class="grid-bottom on_ipad">
      <app-poll></app-poll>
    </div>
    <div class="grid-bottom on_ipad">
      <app-poll-result></app-poll-result>
    </div>
    <div class="grid-bottom on_ipad">
      <app-email-wigit></app-email-wigit>
    </div>
    <div class="grid-bottom on_ipad">
      <app-list3></app-list3>
    </div>
    <div class="grid-bottom on_ipad">
      <div class="card custom-card">
        <div class="card-header custom-card-header border-1">
          <h5 class="m-b-0">Disscus</h5>
        </div>
        <div class="card-body">
          <app-discuss-chat></app-discuss-chat>
        </div>
      </div>
    </div>
  </div>
</div>
