<div [ngClass]="currentTheme">
  <div class="login-wrapper">
    <section class="login_bg_img">
      <div class="login_container">
        <div class="login_panel_data reset-password-center">
          <div class="login_head">
            <div class="main_logo">
              <img
                class="img-fluid"
                src="assets/media/images/login/zonvoir-logo-01-(3).png"
                alt="image"
              />
            </div>
            <h3 class="m-b-0 p-b-8 text-center">Reset Password</h3>
            <p class="m-b-0 text-muted text-center">
              Please enter your email address. You will receive a link to create
              a new password via email.
            </p>
          </div>

          <div class="login_form_panel">
            <form>
              <div class="form-group login-email">
                <input
                  type="email"
                  class="form-control login-inp-field"
                  placeholder="Email"
                />
              </div>
              <div class="p-y-8">
                <button
                  type="button"
                  class="btn login-btn btn-block btn-primary"
                >
                  Reset Password
                </button>
              </div>
            </form>

            <div class="text-center">
              <span class="text-muted">Return to</span>
              <a routerLink="/auth/login-1" class="text-primary link-none m-l-4"
                >SignIn !</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="bg_photo_login"></div>
    </section>
  </div>
</div>
