<div class="card custom-card card-stretch">
  <div
    class="
      card-header
      d-flex
      justify-content-between
      align-items-center
      custom-card-header
      border-1
    "
  >
    <div class="card-title m-b-0">
      <h5 class="card-label m-b-0">Basic Dropdown</h5>
    </div>
    <div class="code">
      <button
        class="btn d-flex align-items-center btn-outline-primary"
        (click)="showCode = !showCode"
      >
        <span *ngIf="!showCode" class="material-icons icon-20 m-r-12">
          code
        </span>
        <span *ngIf="showCode" class="material-icons icon-20 m-r-12">
          code_off
        </span>
        code
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="content zp-12">
      <div class="">
        <div class="btn-group" dropdown>
          <button
            id="button-basic"
            dropdownToggle
            type="button"
            class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic"
          >
            Button dropdown <span class="caret"></span>
          </button>
          <ul
            id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="button-basic"
          >
            <li role="menuitem">
              <a class="dropdown-item" href="#" target="_blank">Action</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#" target="_blank"
                >Another action</a
              >
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#" target="_blank"
                >Something else here</a
              >
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a class="dropdown-item" href="#" target="_blank"
                >Separated link</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div [collapse]="!showCode" [isAnimated]="true" class="code_container">
      <div class="nav_bar w-100">
        <ul>
          <li>
            <a [ngClass]="{ active: tabId === '0' }" (click)="tabToggle('0')">
              HTML
            </a>
          </li>
          <li>
            <a [ngClass]="{ active: tabId === '1' }" (click)="tabToggle('1')">
              TS
            </a>
          </li>
        </ul>
      </div>
      <!-- code -->
      <ng-template [ngIf]="tabId === '0'">
        <pre class="m-b-0">
            <code [highlight]="htmlcode" (highlighted)="onHighlight($event)" [lineNumbers]="true">
            </code>
          </pre>
      </ng-template>
      <ng-template [ngIf]="tabId === '1'">
        <pre class="m-b-0">
            <code [highlight]="tscode" (highlighted)="onHighlight($event)" [lineNumbers]="true">
            </code>
          </pre>
      </ng-template>
    </div>
  </div>
</div>
