<div class="row">
  <div class="col-lg-3 col-md-3 col-md-6 col-sm-6 grid-bottom">
    <div class="card custom-card project_tile_wrap">
      <h5 class="project_title">Total Project</h5>
      <div class="data_main_wrap">
        <div class="data_left_val">
          <h3>679K</h3>
          <small
            ><b class="badge rounded-pill bg-success text-white fs-11">30%</b
            ><span class="px-1">Higher</span></small
          >
        </div>
        <div class="icons_pro_wrap bg-light-primary text-primary">
          <i class="fa fa-suitcase project_tile_icon" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-md-6 col-sm-6 grid-bottom">
    <div class="card custom-card project_tile_wrap">
      <h5 class="project_title">Completed Project</h5>
      <div class="data_main_wrap">
        <div class="data_left_val">
          <h3>250K</h3>
          <small
            ><b class="badge rounded-pill bg-success text-white fs-11">70%</b
            ><span class="px-1">Last year</span></small
          >
        </div>
        <div class="icons_pro_wrap bg-light-success text-success">
          <i class="fa fa-check project_tile_icon" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-md-6 col-sm-6 grid-bottom">
    <div class="card custom-card project_tile_wrap">
      <h5 class="project_title">Running Project</h5>
      <div class="data_main_wrap">
        <div class="data_left_val">
          <h3>542K</h3>
          <small
            ><b class="badge rounded-pill bg-success text-white fs-11">20%</b
            ><span class="px-1">Higher</span></small
          >
        </div>
        <div class="icons_pro_wrap bg-light-info text-info">
          <i class="fa fa-tasks project_tile_icon" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-md-6 col-sm-6 grid-bottom">
    <div class="card custom-card project_tile_wrap">
      <h5 class="project_title">Pending Project</h5>
      <div class="data_main_wrap">
        <div class="data_left_val">
          <h3>105K</h3>
          <small
            ><b class="badge rounded-pill bg-danger text-white fs-11">5%</b
            ><span class="px-1">Lower</span></small
          >
        </div>
        <div class="icons_pro_wrap bg-light-warning text-warning">
          <i
            class="fa fa-hourglass-start project_tile_icon"
            aria-hidden="true"
          ></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- project card one -->
  <div class="col-lg-3 col-md-3 col-sm-6 grid-bottom">
    <div class="card custom-card zp-12">
      <div class="project_title_wrap p-b-8">
        <h5 class="">MoreToLike</h5>
        <div class="prj_img_wpap bg-light-info">
          <img src="assets/media/images/profile/react.png" alt="" />
        </div>
      </div>
      <div class="pro_content_wrap p-t-8 p-b-8">
        <h6 class="m-b-8">Header shrinking issue fixed</h6>
        <p class="m-b-0">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis
          doloremque natus sapiente dolorum harum, eos ullam maxime cum.
        </p>
      </div>
      <div class="pro_bottom_wrap">
        <div class="d-flex justify-content-between align-items-center p-b-8">
          <h5 class="m-b-0 p-b-8">70%</h5>
          <p class="m-b-0 p-b-8">Completed</p>
        </div>
        <div class="p-b-10">
          <progressbar
            [value]="70"
            type="info"
            max="100"
            style="height: 5px"
          ></progressbar>
        </div>
        <div
          class="d-flex justify-content-between align-items-center p-t-8 p-b-8"
        >
          <div class="reacted_on_post">
            <img
              src="assets/media/images/users/300_1.jpg"
              alt=""
              class="reacted_people"
            /><img
              src="assets/media/images/users/300_2.jpg"
              alt=""
              class="reacted_people"
            />
            <span class="m-l-4 text-muted fs-13"> +2 more</span>
          </div>
          <div class="project_stat_wrap">
            <span class="project_stat text-info bg-light-info">Low</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- project card two -->
  <div class="col-lg-3 col-md-3 col-sm-6 grid-bottom">
    <div class="card custom-card zp-12">
      <div class="project_title_wrap p-b-8">
        <h5 class="">MoreThanDigital</h5>
        <div class="prj_img_wpap bg-light-success">
          <img src="assets/media/images/profile/vue.png" alt="" />
        </div>
      </div>
      <div class="pro_content_wrap p-t-8 p-b-8">
        <h6 class="m-b-8">Sidebar Responsive issue fixed</h6>
        <p class="m-b-0">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis
          doloremque natus sapiente dolorum harum, eos ullam maxime cum.
        </p>
      </div>
      <div class="pro_bottom_wrap">
        <div class="d-flex justify-content-between align-items-center p-b-8">
          <h5 class="m-b-0 p-b-8">80%</h5>
          <p class="m-b-0 p-b-8">Completed</p>
        </div>
        <div class="p-b-10">
          <progressbar
            [value]="80"
            type="success"
            max="100"
            style="height: 5px"
          ></progressbar>
        </div>
        <div
          class="d-flex justify-content-between align-items-center p-t-8 p-b-8"
        >
          <div class="reacted_on_post">
            <img
              src="assets/media/images/users/300_1.jpg"
              alt=""
              class="reacted_people"
            /><img
              src="assets/media/images/users/300_2.jpg"
              alt=""
              class="reacted_people"
            />
            <span class="m-l-4 text-muted fs-13"> +2 more</span>
          </div>
          <div class="project_stat_wrap">
            <span class="project_stat text-success bg-light-success"
              >Pending</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- project  card -three -->
  <div class="col-lg-3 col-md-3 col-sm-6 grid-bottom">
    <div class="card custom-card zp-12">
      <div class="project_title_wrap p-b-8">
        <h5 class="">Foody App</h5>
        <div class="prj_img_wpap bg-light-success">
          <img src="assets/media/images/profile/nodejs.png" alt="" />
        </div>
      </div>
      <div class="pro_content_wrap p-t-8 p-b-8">
        <h6 class="m-b-8">credit card validation issue fixed</h6>
        <p class="m-b-0">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis
          doloremque natus sapiente dolorum harum, eos ullam maxime cum.
        </p>
      </div>
      <div class="pro_bottom_wrap">
        <div class="d-flex justify-content-between align-items-center p-b-8">
          <h5 class="m-b-0 p-b-8">40%</h5>
          <p class="m-b-0 p-b-8">Completed</p>
        </div>
        <div class="p-b-10">
          <progressbar
            [value]="80"
            type="danger"
            max="100"
            style="height: 5px"
          ></progressbar>
        </div>
        <div
          class="d-flex justify-content-between align-items-center p-t-8 p-b-8"
        >
          <div class="reacted_on_post">
            <img
              src="assets/media/images/users/300_1.jpg"
              alt=""
              class="reacted_people"
            /><img
              src="assets/media/images/users/300_2.jpg"
              alt=""
              class="reacted_people"
            /><img
              src="assets/media/images/users/300_2.jpg"
              alt=""
              class="reacted_people"
            />
            <span class="m-l-4 text-muted fs-13"> +2 more</span>
          </div>
          <div class="project_stat_wrap">
            <span class="project_stat text-success bg-light-success">High</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- project card four -->
  <div class="col-lg-3 col-md-3 col-sm-6 grid-bottom">
    <div class="card custom-card zp-12">
      <div class="project_title_wrap p-b-8">
        <h5 class="">Intelza.com</h5>
        <div class="prj_img_wpap bg-light-danger">
          <img src="assets/media/images/profile/angular.png" alt="" />
        </div>
      </div>
      <div class="pro_content_wrap p-t-8 p-b-8">
        <h6 class="m-b-8">Music filter issue fixed</h6>
        <p class="m-b-0">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis
          doloremque natus sapiente dolorum harum, eos ullam maxime cum.
        </p>
      </div>
      <div class="pro_bottom_wrap">
        <div class="d-flex justify-content-between align-items-center p-b-8">
          <h5 class="m-b-0 p-b-8">100%</h5>
          <p class="m-b-0 p-b-8">Completed</p>
        </div>
        <div class="p-b-10">
          <progressbar
            [value]="100"
            type="warn"
            max="100"
            style="height: 5px"
          ></progressbar>
        </div>
        <div
          class="d-flex justify-content-between align-items-center p-t-8 p-b-8"
        >
          <div class="reacted_on_post">
            <img
              src="assets/media/images/users/300_1.jpg"
              alt=""
              class="reacted_people"
            /><img
              src="assets/media/images/users/300_2.jpg"
              alt=""
              class="reacted_people"
            />
            <span class="m-l-4 text-muted fs-13"> +2 more</span>
          </div>
          <div class="project_stat_wrap">
            <span class="project_stat text-danger bg-light-danger">High</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-md-7 col-sm-7 grid-bottom">
    <div class="card custom-card no-radius">
      <div
        class="card-header custom-card-header d-flex justify-content-between border-1 align-items-center"
      >
        <h5 class="card-label m-b-0">Projects Statistics</h5>
        <span class="material-icons icon-20 icon-gray"> grid_view </span>
      </div>
      <div class="zp-4">
        <div class="chart-container">
          <app-multiline-echarts></app-multiline-echarts>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-5 col-sm-5 grid-bottom">
    <div class="no-radius">
      <app-list-wigit></app-list-wigit>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-sm-6 col-md-4 grid-bottom">
    <div class="card custom-card">
      <div class="card-header custom-card-header border-1">
        <h5 class="crt_crd_title">Activities</h5>
      </div>
      <div class="pro_activity_body prjt">
        <ul class="">
          <li class="">
            <div class="prt_details">
              <a href="JavaScript:Void(0);" class="pro_act_title">
                <h6 class="">@Tom completed task</h6>
                <span class="pro_activity_sub">Just now</span>
              </a>
              <span class="pro_activity_sub"
                >Versions updates and issues Fixed</span
              >
            </div>
          </li>
          <li class="primary">
            <div class="prt_details">
              <a href="JavaScript:Void(0);" class="pro_act_title">
                <h6 class="">@John completed task</h6>
                <span class="pro_activity_sub">40 Min ago</span>
              </a>
              <span class="pro_activity_sub">Today Evening 6:30 Pm</span>
            </div>
          </li>
          <li class="secondary">
            <div class="prt_details">
              <a href="JavaScript:Void(0);" class="pro_act_title">
                <h6 class="">@Steave completed task</h6>
                <span class="pro_activity_sub">today</span>
              </a>
              <span class="pro_activity_sub">Git merge and issues Fixed</span>
            </div>
          </li>
          <li class="success">
            <div class="prt_details">
              <a href="JavaScript:Void(0);" class="pro_act_title">
                <h6 class="">@Crish completed task</h6>
                <span class="pro_activity_sub">20 min</span>
              </a>
              <span class="pro_activity_sub">task added at 5PM</span>
            </div>
          </li>
          <li class="purple">
            <div class="prt_details">
              <a href="JavaScript:Void(0);" class="pro_act_title">
                <h6 class="">@David completed task</h6>
                <span class="pro_activity_sub">yesterday</span>
              </a>
              <span class="pro_activity_sub"
                >Designing Team Meeting Completed</span
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 col-md-4 grid-bottom">
    <div class="card custom-card milestones_containers">
      <div class="card-header custom-card-header border-1">
        <h5 class="crt_crd_title">MileStones</h5>
      </div>
      <div class="pro_reminders_body">
        <ul class="">
          <li class="">
            <div class="remds_details">
              <div class="d-flex align-items-center">
                <div class="pro_rem__left_wrap bg-light-primary text-primary">
                  <i class="fa fa-suitcase" aria-hidden="true"></i>
                </div>
                <div class="pro_rem_title">
                  <h6 class="">Job MGT</h6>
                  <span class="pro_activity_sub">Second Phase completed</span>
                </div>
              </div>
            </div>
          </li>
          <li class="">
            <div class="remds_details">
              <div class="d-flex align-items-center">
                <div class="pro_rem__left_wrap bg-light-warning text-warning">
                  <i class="fa fa-tint" aria-hidden="true"></i>
                </div>
                <div class="pro_rem_title">
                  <h6 class="">WaterPlanet.com</h6>
                  <span class="pro_activity_sub"
                    >Customer Module completed</span
                  >
                </div>
              </div>
            </div>
          </li>
          <li class="">
            <div class="remds_details">
              <div class="d-flex align-items-center">
                <div class="pro_rem__left_wrap bg-light-success text-success">
                  <i class="fa fa-laptop" aria-hidden="true"></i>
                </div>
                <div class="pro_rem_title">
                  <h6 class="">Altor.com</h6>
                  <span class="pro_activity_sub"
                    >Calling module intigrated</span
                  >
                </div>
              </div>
            </div>
          </li>
          <li class="">
            <div class="remds_details">
              <div class="d-flex align-items-center">
                <div
                  class="pro_rem__left_wrap bg-light-secondary text-secondary"
                >
                  <i class="fa fa-home" aria-hidden="true"></i>
                </div>
                <div class="pro_rem_title">
                  <h6 class="">DreamHome App</h6>
                  <span class="pro_activity_sub">PSD is completed</span>
                </div>
              </div>
            </div>
          </li>
          <li class="">
            <div class="remds_details">
              <div class="d-flex align-items-center">
                <div class="pro_rem__left_wrap bg-light-danger text-danger">
                  <i class="fa fa-heartbeat" aria-hidden="true"></i>
                </div>
                <div class="pro_rem_title">
                  <h6 class="">PerfectHealth.com</h6>
                  <span class="pro_activity_sub"
                    >Project testing completed</span
                  >
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 col-md-4 grid-bottom">
    <div class="card custom-card reminders_containers">
      <div class="card-header custom-card-header border-1">
        <h5 class="crt_crd_title">Reminders</h5>
      </div>
      <div class="pro_reminders_body">
        <ul class="">
          <li class="">
            <div class="remds_details">
              <div class="d-flex align-items-center">
                <div class="pro_rem__left_wrap bg-light-success">
                  <span class="rem_date_value">
                    <p class="rem_date text-success">8</p>
                    <p class="rem_month_name text-success">June</p>
                  </span>
                </div>
                <div class="pro_rem_title">
                  <h6 class="">Joe Lobo</h6>
                  <span class="pro_activity_sub">Ready to join</span>
                </div>
              </div>
              <div class="">
                <span class="pro_activity_sub">3 Day</span>
              </div>
            </div>
          </li>
          <li class="">
            <div class="remds_details">
              <div class="d-flex align-items-center">
                <div class="pro_rem__left_wrap bg-light-secondary">
                  <span class="rem_date_value">
                    <p class="rem_date text-secondary">20</p>
                    <p class="rem_month_name text-secondary">Jan</p>
                  </span>
                </div>
                <div class="pro_rem_title">
                  <h6 class="">MTL Deadline</h6>
                  <span class="pro_activity_sub"
                    >Project ready to deliever</span
                  >
                </div>
              </div>
              <div class="">
                <span class="pro_activity_sub">today</span>
              </div>
            </div>
          </li>
          <li class="">
            <div class="remds_details">
              <div class="d-flex align-items-center">
                <div class="pro_rem__left_wrap bg-light-danger">
                  <span class="rem_date_value">
                    <p class="rem_date text-danger">16</p>
                    <p class="rem_month_name text-danger">Mar</p>
                  </span>
                </div>
                <div class="pro_rem_title">
                  <h6 class="">FoodMinds React</h6>
                  <span class="pro_activity_sub">New Project to start</span>
                </div>
              </div>
              <div class="">
                <span class="pro_activity_sub">10 day</span>
              </div>
            </div>
          </li>
          <li class="">
            <div class="remds_details">
              <div class="d-flex align-items-center">
                <div class="pro_rem__left_wrap bg-light-primary">
                  <span class="rem_date_value">
                    <p class="rem_date text-primary">23</p>
                    <p class="rem_month_name text-primary">DEC</p>
                  </span>
                </div>
                <div class="pro_rem_title">
                  <h6 class="">MGT Desinging</h6>
                  <span class="pro_activity_sub">Desinging complete</span>
                </div>
              </div>
              <div class="">
                <span class="pro_activity_sub">1 day</span>
              </div>
            </div>
          </li>
          <li class="">
            <div class="remds_details">
              <div class="d-flex align-items-center">
                <div class="pro_rem__left_wrap bg-light-warning">
                  <span class="rem_date_value">
                    <p class="rem_date text-warning">16</p>
                    <p class="rem_month_name text-warning">Mar</p>
                  </span>
                </div>
                <div class="pro_rem_title">
                  <h6 class="">FoodMinds React</h6>
                  <span class="pro_activity_sub">New Project to start</span>
                </div>
              </div>
              <div class="">
                <span class="pro_activity_sub">10 day</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-sm-5 col-md-5 grid-bottom">
    <div class="card custom-card no-radius">
      <div class="card-header custom-card-header border-1">
        <h5 class="card-title m-b-0">Projects Status</h5>
      </div>
      <div class="card-body">
        <div class="progress_project_value">
          <div class="d-flex aligin-items-center justify-content-between">
            <h6 class="m-b-0 p-b-8">Care Ninja</h6>
            <h6 class="m-b-0 p-b-8">56%</h6>
          </div>
          <div class="">
            <progressbar
              [value]="56"
              type="info"
              max="100"
              style="height: 8px"
              [striped]="true"
              [animate]="true"
            ></progressbar>
          </div>
        </div>
        <div class="progress_project_value">
          <div class="d-flex aligin-items-center justify-content-between">
            <h6 class="m-b-0 p-b-8">Anna Car Rental</h6>
            <h6 class="m-b-0 p-b-8">46%</h6>
          </div>
          <div class="">
            <progressbar
              [value]="46"
              type="success"
              max="100"
              style="height: 8px"
              [striped]="true"
              [animate]="true"
            ></progressbar>
          </div>
        </div>
        <div class="progress_project_value">
          <div class="d-flex aligin-items-center justify-content-between">
            <h6 class="m-b-0 p-b-8">Intelza Code</h6>
            <h6 class="m-b-0 p-b-8">75%</h6>
          </div>
          <div class="">
            <progressbar
              [value]="75"
              type="success"
              max="100"
              style="height: 8px"
              [striped]="true"
              [animate]="true"
            ></progressbar>
          </div>
        </div>
        <div class="progress_project_value">
          <div class="d-flex aligin-items-center justify-content-between">
            <h6 class="m-b-0 p-b-8">SafeGaurd</h6>
            <h6 class="m-b-0 p-b-8">83%</h6>
          </div>
          <div class="">
            <progressbar
              [value]="83"
              type="primary"
              max="100"
              style="height: 8px"
              [striped]="true"
              [animate]="true"
            ></progressbar>
          </div>
        </div>
        <div class="progress_project_value">
          <div class="d-flex aligin-items-center justify-content-between">
            <h6 class="m-b-0 p-b-8">Job Compare</h6>
            <h6 class="m-b-0 p-b-8">29%</h6>
          </div>
          <div class="">
            <progressbar
              [value]="29"
              type="danger"
              max="100"
              style="height: 8px"
              [striped]="true"
              [animate]="true"
            ></progressbar>
          </div>
        </div>
        <div class="progress_project_value">
          <div class="d-flex aligin-items-center justify-content-between">
            <h6 class="m-b-0 p-b-8">TeachMore.com</h6>
            <h6 class="m-b-0 p-b-8">96%</h6>
          </div>
          <div class="">
            <progressbar
              [value]="96"
              type="dark"
              max="100"
              style="height: 8px"
              [striped]="true"
              [animate]="true"
            ></progressbar>
          </div>
        </div>
        <div class="progress_project_value">
          <div class="d-flex aligin-items-center justify-content-between">
            <h6 class="m-b-0 p-b-8">FoodMinds App</h6>
            <h6 class="m-b-0 p-b-8">68%</h6>
          </div>
          <div class="">
            <progressbar
              [value]="68"
              type="secondary"
              max="100"
              style="height: 8px"
              [striped]="true"
              [animate]="true"
            ></progressbar>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-sm-7 col-md-7 grid-bottom">
    <div class="card custom-card no-radius">
      <div
        class="card-header custom-card-header d-flex justify-content-between align-items-center border-1"
      >
        <h5 class="card-label m-b-0">New Projects and Running Project</h5>
        <span class="material-icons icon-20 icon-gray"> grid_view </span>
      </div>
      <div class="chart_body kk_chartjs">
        <app-line-chartjs></app-line-chartjs>
      </div>
    </div>
    <div class="no-radius"></div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 grid-bottom">
    <app-task-manager></app-task-manager>
  </div>
</div>
