<div class="row">
  <div class="col-lg-3 col-md-3 col-md-6 col-sm-6 m-b-20">
    <app-linecardsm1></app-linecardsm1>
  </div>
  <div class="col-lg-3 col-md-3 col-md-6 col-sm-6 m-b-20">
    <app-linecardsm2></app-linecardsm2>
  </div>
  <div class="col-lg-3 col-md-3 col-md-6 col-sm-6 m-b-20">
    <app-linecardsm4></app-linecardsm4>
  </div>
  <div class="col-lg-3 col-md-3 col-md-6 col-sm-6 m-b-20">
    <app-linecardsm3></app-linecardsm3>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-md-12 m-b-20">
    <div class="card custom-card no-radius">
      <div
        class="card-header custom-card-header d-flex justify-content-between border-1 align-items-center"
      >
        <h5 class="card-label m-b-0">Sales</h5>
        <span class="material-icons icon-20 icon-gray"> grid_view </span>
      </div>
      <div class="zp-4">
        <div class="chart-container">
          <app-multiline-echarts></app-multiline-echarts>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 m-b-20">
    <div class="no-radius">
      <app-list-wigit></app-list-wigit>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-12 m-b-20">
    <app-browser-stats></app-browser-stats>
  </div>
  <div class="col-lg-8 col-md-12 m-b-20">
    <div class="card custom-card no-radius">
      <div
        class="card-header custom-card-header d-flex justify-content-between align-items-center border-1"
      >
        <h5 class="card-label m-b-0">Orders and Users</h5>
        <span class="material-icons icon-20 icon-gray"> grid_view </span>
      </div>
      <div class="chart_body kk_chartjs">
        <app-line-chartjs></app-line-chartjs>
      </div>
    </div>
    <div class="no-radius"></div>
  </div>
</div>
<div class="row">
  <!-- project card one -->
  <div class="col-lg-3 col-md-3 grid-bottom">
    <div class="card custom-card zp-12">
      <div class="project_title_wrap p-b-8">
        <h5 class="">MoreToLike</h5>
        <div class="prj_img_wpap bg-light-info">
          <img src="assets/media/images/profile/react.png" alt="" />
        </div>
      </div>
      <div class="pro_content_wrap p-t-8 p-b-8">
        <h6 class="m-b-8">Header shrinking issue fixed</h6>
        <p class="m-b-0">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis
          doloremque natus sapiente dolorum harum, eos ullam maxime cum.
        </p>
      </div>
      <div class="pro_bottom_wrap">
        <div class="d-flex justify-content-between align-items-center p-b-8">
          <h5 class="m-b-0 p-b-8">70%</h5>
          <p class="m-b-0 p-b-8">Completed</p>
        </div>
        <div class="p-b-10">
          <progressbar
            [value]="70"
            type="info"
            max="100"
            style="height: 5px"
          ></progressbar>
        </div>
        <div
          class="d-flex justify-content-between align-items-center p-t-8 p-b-8"
        >
          <div class="reacted_on_post">
            <img
              src="assets/media/images/users/300_1.jpg"
              alt=""
              class="reacted_people"
            /><img
              src="assets/media/images/users/300_2.jpg"
              alt=""
              class="reacted_people"
            />
            <span class="m-l-4 text-muted fs-13"> +2 more</span>
          </div>
          <div class="project_stat_wrap">
            <span class="project_stat text-info bg-light-info">Low</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- project card two -->
  <div class="col-lg-3 col-md-3 grid-bottom">
    <div class="card custom-card zp-12">
      <div class="project_title_wrap p-b-8">
        <h5 class="">MoreThanDigital</h5>
        <div class="prj_img_wpap bg-light-success">
          <img src="assets/media/images/profile/vue.png" alt="" />
        </div>
      </div>
      <div class="pro_content_wrap p-t-8 p-b-8">
        <h6 class="m-b-8">Sidebar Responsive issue fixed</h6>
        <p class="m-b-0">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis
          doloremque natus sapiente dolorum harum, eos ullam maxime cum.
        </p>
      </div>
      <div class="pro_bottom_wrap">
        <div class="d-flex justify-content-between align-items-center p-b-8">
          <h5 class="m-b-0 p-b-8">80%</h5>
          <p class="m-b-0 p-b-8">Completed</p>
        </div>
        <div class="p-b-10">
          <progressbar
            [value]="80"
            type="success"
            max="100"
            style="height: 5px"
          ></progressbar>
        </div>
        <div
          class="d-flex justify-content-between align-items-center p-t-8 p-b-8"
        >
          <div class="reacted_on_post">
            <img
              src="assets/media/images/users/300_1.jpg"
              alt=""
              class="reacted_people"
            /><img
              src="assets/media/images/users/300_2.jpg"
              alt=""
              class="reacted_people"
            />
            <span class="m-l-4 text-muted fs-13"> +2 more</span>
          </div>
          <div class="project_stat_wrap">
            <span class="project_stat text-success bg-light-success"
              >Pending</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- project  card -three -->
  <div class="col-lg-3 col-md-3 grid-bottom">
    <div class="card custom-card zp-12">
      <div class="project_title_wrap p-b-8">
        <h5 class="">Foody App</h5>
        <div class="prj_img_wpap bg-light-success">
          <img src="assets/media/images/profile/nodejs.png" alt="" />
        </div>
      </div>
      <div class="pro_content_wrap p-t-8 p-b-8">
        <h6 class="m-b-8">credit card validation issue fixed</h6>
        <p class="m-b-0">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis
          doloremque natus sapiente dolorum harum, eos ullam maxime cum.
        </p>
      </div>
      <div class="pro_bottom_wrap">
        <div class="d-flex justify-content-between align-items-center p-b-8">
          <h5 class="m-b-0 p-b-8">40%</h5>
          <p class="m-b-0 p-b-8">Completed</p>
        </div>
        <div class="p-b-10">
          <progressbar
            [value]="80"
            type="danger"
            max="100"
            style="height: 5px"
          ></progressbar>
        </div>
        <div
          class="d-flex justify-content-between align-items-center p-t-8 p-b-8"
        >
          <div class="reacted_on_post">
            <img
              src="assets/media/images/users/300_1.jpg"
              alt=""
              class="reacted_people"
            /><img
              src="assets/media/images/users/300_2.jpg"
              alt=""
              class="reacted_people"
            /><img
              src="assets/media/images/users/300_2.jpg"
              alt=""
              class="reacted_people"
            />
            <span class="m-l-4 text-muted fs-13"> +2 more</span>
          </div>
          <div class="project_stat_wrap">
            <span class="project_stat text-success bg-light-success">High</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- project card four -->
  <div class="col-lg-3 col-md-3 grid-bottom">
    <div class="card custom-card zp-12">
      <div class="project_title_wrap p-b-8">
        <h5 class="">Intelsa.com</h5>
        <div class="prj_img_wpap bg-light-danger">
          <img src="assets/media/images/profile/angular.png" alt="" />
        </div>
      </div>
      <div class="pro_content_wrap p-t-8 p-b-8">
        <h6 class="m-b-8">Music filter issue fixed</h6>
        <p class="m-b-0">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis
          doloremque natus sapiente dolorum harum, eos ullam maxime cum.
        </p>
      </div>
      <div class="pro_bottom_wrap">
        <div class="d-flex justify-content-between align-items-center p-b-8">
          <h5 class="m-b-0 p-b-8">100%</h5>
          <p class="m-b-0 p-b-8">Completed</p>
        </div>
        <div class="p-b-10">
          <progressbar
            [value]="100"
            type="warn"
            max="100"
            style="height: 5px"
          ></progressbar>
        </div>
        <div
          class="d-flex justify-content-between align-items-center p-t-8 p-b-8"
        >
          <div class="reacted_on_post">
            <img
              src="assets/media/images/users/300_1.jpg"
              alt=""
              class="reacted_people"
            /><img
              src="assets/media/images/users/300_2.jpg"
              alt=""
              class="reacted_people"
            />
            <span class="m-l-4 text-muted fs-13"> +2 more</span>
          </div>
          <div class="project_stat_wrap">
            <span class="project_stat text-danger bg-light-danger">High</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 grid-bottom">
    <div class="card custom-card">
      <div class="card-header custom-card-header border-1">
        <h5 class="crt_crd_title">Activities</h5>
      </div>
      <div class="pro_activity_body">
        <ul class="">
          <li class="">
            <div class="prt_details">
              <a href="JavaScript:Void(0);" class="pro_act_title">
                <h6 class="">@Tom completed task</h6>
                <span class="pro_activity_sub">Just now</span>
              </a>
              <span class="pro_activity_sub"
                >Versions updates and issues Fixed</span
              >
            </div>
          </li>
          <li class="primary">
            <div class="prt_details">
              <a href="JavaScript:Void(0);" class="pro_act_title">
                <h6 class="">@John completed task</h6>
                <span class="pro_activity_sub">40 Min ago</span>
              </a>
              <span class="pro_activity_sub">Today Evening 6:30 Pm</span>
            </div>
          </li>
          <li class="secondary">
            <div class="prt_details">
              <a href="JavaScript:Void(0);" class="pro_act_title">
                <h6 class="">@Steave completed task</h6>
                <span class="pro_activity_sub">today</span>
              </a>
              <span class="pro_activity_sub">Git merge and issues Fixed</span>
            </div>
          </li>
          <li class="success">
            <div class="prt_details">
              <a href="JavaScript:Void(0);" class="pro_act_title">
                <h6 class="">@Crish completed task</h6>
                <span class="pro_activity_sub">20 min</span>
              </a>
              <span class="pro_activity_sub">task added at 5PM</span>
            </div>
          </li>
          <li class="purple">
            <div class="prt_details">
              <a href="JavaScript:Void(0);" class="pro_act_title">
                <h6 class="">@David completed task</h6>
                <span class="pro_activity_sub">yesterday</span>
              </a>
              <span class="pro_activity_sub"
                >Designing Team Meeting Completed</span
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 grid-bottom">
    <div class="card custom-card">
      <div class="card-header custom-card-header border-1">
        <h5 class="crt_crd_title">Project Status</h5>
      </div>
      <div class="pro_activity_body">
        <ul class="">
          <li class="">
            <div class="prt_details">
              <a href="JavaScript:Void(0);" class="pro_act_title">
                <h6 class="">@Tom completed task</h6>
                <span class="pro_activity_sub">Just now</span>
              </a>
              <span class="pro_activity_sub"
                >Versions updates and issues Fixed</span
              >
            </div>
          </li>
          <li class="primary">
            <div class="prt_details">
              <a href="JavaScript:Void(0);" class="pro_act_title">
                <h6 class="">@John completed task</h6>
                <span class="pro_activity_sub">40 Min ago</span>
              </a>
              <span class="pro_activity_sub">Today Evening 6:30 Pm</span>
            </div>
          </li>
          <li class="info">
            <div class="prt_details">
              <a href="JavaScript:Void(0);" class="pro_act_title">
                <h6 class="">@Steave completed task</h6>
                <span class="pro_activity_sub">today</span>
              </a>
              <span class="pro_activity_sub">Git merge and issues Fixed</span>
            </div>
          </li>
          <li class="success">
            <div class="prt_details">
              <a href="JavaScript:Void(0);" class="pro_act_title">
                <h6 class="">@Crish completed task</h6>
                <span class="pro_activity_sub">20 min</span>
              </a>
              <span class="pro_activity_sub">task added at 5PM</span>
            </div>
          </li>
          <li class="danger">
            <div class="prt_details">
              <a href="JavaScript:Void(0);" class="pro_act_title">
                <h6 class="">@David completed task</h6>
                <span class="pro_activity_sub">yesterday</span>
              </a>
              <span class="pro_activity_sub"
                >Designing Team Meeting Completed</span
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 grid-bottom">
    <div class="card custom-card">
      <div class="card-header custom-card-header border-1">
        <h5 class="crt_crd_title">Reminders</h5>
      </div>
      <div class="pro_reminders_body">
        <ul class="">
          <li class="">
            <div class="remds_details">
              <div class="pro_rem_date">
                <p class="rem_date">20</p>
                <p class="rem_month_name">June</p>
              </div>
              <div class="pro_rem_title">
                <h6 class=""></h6>
                <span class="pro_activity_sub">3 Days to left</span>
              </div>
            </div>
            <div class="">
              <span class="pro_activity_sub">3 Days to left</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 m-b-20">
    <div class="card custom-card no-radius">
      <div class="card-header custom-card-header border-1">
        <h5 class="card-title m-b-0">Recent Projects</h5>
      </div>
      <app-task-manager></app-task-manager>
    </div>
  </div>
</div>
