<div class="card custom-card grid-bottom">
  <div class="card-header custom-card-header border-0">
    <h4 class="grid-bottom">Spinners</h4>
    <p class="text-muted">
      Indicate the loading state of a component or page with Bootstrap spinners,
      built entirely with HTML, CSS, Please visit the Official
      <a
        href="https://getbootstrap.com/docs/5.0/components/spinners/"
        target="_blank"
        class="custom-link"
        >Bootstrap Documentation</a
      >
      for a full list of instructions and other options.
    </p>
  </div>
</div>
<div class="main_section">
  <div class="row">
    <div class="col-lg-6 grid-bottom">
      <app-basic-spinner></app-basic-spinner>
    </div>
    <div class="col-lg-6 grid-bottom">
      <app-colors-spinner></app-colors-spinner>
    </div>
    <div class="col-lg-6 grid-bottom">
      <app-glow-spinner></app-glow-spinner>
    </div>
    <div class="col-lg-6 grid-bottom">
      <app-button-spinner></app-button-spinner>
    </div>
    <div class="col-lg-6 grid-bottom">
      <app-alignment-spinner></app-alignment-spinner>
    </div>
    <div class="col-lg-6 grid-bottom">
      <app-size-spinner></app-size-spinner>
    </div>
  </div>
</div>
