.map-height {
  .map-container {
    width: 100% !important;
    height: 300px !important;
  }
}
.list-group{
  .list-group-item{
    font-size: 14px;
  }
}
.coursel_size{
  img{
      height:16rem;
  }
  .carousel-caption{
    h3{

      color: $white !important;
    }
    p{
      color: $white !important;
    }
  }
}

// For Mobile Portrait Mode
@include responsive-below(md) {
  .map-height {
    .map-container {
      width: 100% !important;
      height: 300px !important;
    }
  }
  .coursel_size{
    img{
        height:auto;
    }
  }
}
// For Mobile Landscape Mode
@include responsive-between(sm, md) {
  .map-height {
    .map-container {
      width: 100% !important;
      height: 400px !important;
    }
  }
}
// For Mobile Landscape Mode
@include responsive-between(md, lg) {
  .map-height {
    .map-container {
      width: 100% !important;
      height: 400px !important;
    }
  }
}
// For laptop Landscape Mode
@include responsive-between(lg, xl) {
  .map-height {
    .map-container {
      width: 100% !important;
      height: 400px !important;
    }
  }
}
