// drag and drop strat
.drag-list {
  color: $muteColor;
  background-color: $background-color;
  border-bottom: 1px solid $border-color;
  padding: 16px 20px;
}
.interchange-drag-drop-title {
  color: $text-color;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.84rem;
  font-weight: 600;
}
.cdk-drag-preview.purple-light-color .card {
  background: $background-color;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0;
  padding: 10px 20px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border-radius: 0;
  color: $text-color;
  background-color: $background-color !important;
  border-bottom: 1px solid $border-color;
  background-clip: border-box;
  width: 100%;
  padding: 12px 8px;

  .basic-drag-drop {
    display: flex;
    margin: 0;
    align-items: center;
    padding: 0;
    padding-bottom: 12px;
    width: 100%;
  }
  .icon-20 {
    color: #008ffb;
    margin-right: 8px;
    font-size: 20px;
    margin-top: 0;
  }
  h6 {
    color: $text-color !important ;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.977rem !important;
    font-weight: 500;
    line-height: 1.2;
    padding: 12px 8px;
  }
}
.cdk-drag-preview {
  color: $muteColor;
  background-color: $background-color;
  border-bottom: 1px solid $border-color;
}
.basic-drag-drop {
  color: $muteColor;
}
.one-way-drag-drop-title {
  color: $text-color;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.84rem;
  font-weight: 500;
}

// drag and drop
.scrum-box-continer {
  background-color: $scrumBox;
  color: $text-color;
  position: relative;
  z-index: 9;
}
.tsk_add_btn {
  width: 30px !important;
  height: 30px !important;
  border-radius: 4px !important;
  border: 1px solid $light !important;
  background-color: $light !important;
}
.scrumb-task-card {
  .scrum-notice-box {
    .icon-16 {
      color: $white;
    }
    p {
      color: $white;
    }
  }
  .card-img-top {
    width: 100%;
    height: 9.75rem;
  }

  .bar {
    border-radius: 6px;
    height: 4px;
    max-width: 32px;
    flex: 1 1 0%;
    box-sizing: border-box;
    margin-right: 12px;
  }
}

.scrum-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  .scrum-new-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darken($color: $scrumBox, $amount: 5%);
    color: $text-color;
    &:hover {
      background-color: darken($color: $scrumBox, $amount: 8%);
    }
  }
}

.buttons-labels {
  display: flex !important;
  flex-direction: row-reverse !important;
}
.tag_btn_title_new {
  padding: 0 10px;
  font-weight: 500;
  white-space: nowrap;
  color: #fff;
}
.prime_content_new {
  margin-left: 2.2rem;
}
.attach_icon {
  width: 6%;
}
.attach_file_title {
  width: 94%;
}
.tag_button_new {
  line-height: 32px;
  font-size: 12px;
  border-radius: 4px;
  margin-right: 5px;
  height: 32px;
  margin-bottom: 4px;
}

.multiselect_custom_new {
  .p-component {
    padding: 0;
  }
  .pi-chevron-down:before {
    content: "\e90d";
  }
  .p-multiselect-trigger {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: transparent;
    &:hover {
      background-color: $email_circle_color;
    }
    .p-multiselect-trigger-icon {
      color: $text-color;
    }
  }
  .p-multiselect {
    border: 0 !important;
    .p-multiselect-label {
      padding: 0.3rem 0.4rem;
    }
    &:hover {
      box-shadow: none;
    }
    &:focus {
      box-shadow: none;
    }
    &:active {
      box-shadow: none;
      &:focus {
        box-shadow: none;
      }
    }
  }
  .p-multiselect-items {
    margin: 0;
  }
  .p-multiselect-label-container {
    display: none;
  }
  .option_item_prime {
    display: inline-flex;
    align-items: center;
  }
  .prime_option_title {
    font-size: 13px;
    color: $text-color;
    padding: 0 4px;
  }

  .p-multiselect-items-wrapper {
    max-height: 13rem;
    margin-right: 2px;
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    @include scrollbar($width: 0.3rem, $border-radius: 1rem);
    &:hover {
      @include scrollbar(
        $width: 0.3rem,
        $border-radius: 1rem,
        $background-color: $scrollbarColor
      );
    }
  }
}

.acttachment-card {
  .small-card-img {
    width: 100%;
    height: calc(100% - 5rem);
  }
}

.mr_scroll {
  max-height: 19rem;
  margin-right: 5px;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  @include scrollbar($width: 0.4rem, $border-radius: 1rem);
  &:hover {
    @include scrollbar(
      $width: 0.4rem,
      $border-radius: 1rem,
      $background-color: $scrollbarColor
    );
  }
}
.k_scrum_card_width {
  width: 100%;
}
.vr_scroll {
  max-height: 60vh;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 16px 0 16px 8px;
  @include scrollbar($width: 0.4rem, $border-radius: 1rem);
  &:hover {
    @include scrollbar(
      $width: 0.4rem,
      $border-radius: 1rem,
      $background-color: $scrollbarColor
    );
  }
}

.hr_scroll {
  width: 100%;
  overflow-x: auto;
  cursor: pointer;
  padding: 0;
  @include scrollbar(
    $height: 0.5rem,
    $border-radius: 1rem,
    $background-color: #d4d6da8c
  );
}

.scrum-lable-scroll-tags {
  max-width: 30rem;
  flex-wrap: wrap;
}
.scrum-members-scroll {
  max-width: 20rem;
  flex-wrap: wrap;
}
.member_tags_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
// for Mobile Portrait Mode
@include responsive-below(md) {
  .label_title {
    text-align: left;
  }

  .scrum-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
  }
  .vr_scroll {
    max-height: 62vh;
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 12px 40px 12px;
    @include scrollbar($width: 0.4rem, $border-radius: 1rem);
    &:hover {
      @include scrollbar(
        $width: 0.4rem,
        $border-radius: 1rem,
        $background-color: $scrollbarColor
      );
    }
  }
  .member_tags_container {
    display: block;
  }
  .scrum-lable-scroll-tags {
    max-width: 12rem;
    flex-wrap: wrap;
  }
  .scrum-members-scroll {
    max-width: 8rem;
    flex-wrap: wrap;
  }
  .members_tags {
    margin-bottom: 12px;
    .logo-md-rounded {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  .task_tags {
    margin-bottom: 12px;
    .btn-pill,
    .btn-square {
      padding: 4px 12px !important;
      font-size: 0.75rem !important;
    }
  }
  .scrum-box-continer {
    background-color: #d4d6da8c;
    color: $text-color;
    position: relative;
    z-index: 9;
  }
}
// For Mobile Landscape Mode
@include responsive-between(sm, md) {
  .scrum-lable-scroll-tags {
    max-width: 20rem;
    flex-wrap: wrap;
  }
  .scrum-members-scroll {
    max-width: 16rem;
    flex-wrap: wrap;
  }

  .vr_scroll {
    max-height: 91vh;
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 12px 40px 12px;
    @include scrollbar($width: 0.4rem, $border-radius: 1rem);
    &:hover {
      @include scrollbar(
        $width: 0.4rem,
        $border-radius: 1rem,
        $background-color: $scrollbarColor
      );
    }
  }
}
// For tablet Portrait Mode
@include responsive-between(md, lg) {
  .vr_scroll {
    max-height: 75vh;
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 12px 40px 12px;
    @include scrollbar($width: 0.4rem, $border-radius: 1rem);
    &:hover {
      @include scrollbar(
        $width: 0.4rem,
        $border-radius: 1rem,
        $background-color: $scrollbarColor
      );
    }
  }
  .scrum-lable-scroll-tags {
    max-width: 20rem;
    flex-wrap: wrap;
  }
  .scrum-members-scroll {
    max-width: 15rem;
    flex-wrap: wrap;
  }
}
// For tablet Landscape Mode
@include responsive-between(lg, xl) {
  .scrum-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
  }
  .vr_scroll {
    max-height: 67vh;
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 12px 40px 12px;
    @include scrollbar($width: 0.4rem, $border-radius: 1rem);
    &:hover {
      @include scrollbar(
        $width: 0.4rem,
        $border-radius: 1rem,
        $background-color: $scrollbarColor
      );
    }
  }
}
