<div class="card custom-card grid-bottom">
  <div class="card-header custom-card-header border-0">
    <h5 class="m-b-8">Carousel</h5>
    <p class="text-muted">
      A slideshow component for cycling through elements—images or slides of
      text—like a carousel. Please visit the Official
      <a
        href="https://valor-software.com/ngx-bootstrap/#/carousel"
        target="_blank"
        class="custom-link"
        >Ngx-Bootstrap Documentation</a
      >
      for a full list of instructions and other options.
    </p>
  </div>
</div>
<div class="main_section">
  <div class="row">
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-basic-carousel></app-basic-carousel>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-caption-carousel></app-caption-carousel>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-dynamic-carousel></app-dynamic-carousel>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-custom-carousel></app-custom-carousel>
    </div>
  </div>
</div>
