<div class="card custom-card grid-bottom">
  <div class="card-header custom-card-header border-0">
    <h4 class="m-b-8">Alert</h4>
    <p class="text-muted">
      Provides contextual feedback messages for typical user actions with the
      handful of available and flexible alert messages. Please visit the
      Official
      <a
        href="https://valor-software.com/ngx-bootstrap/#/alerts"
        target="_blank"
        class="custom-link"
        >Ngx-Bootstrap Documentation</a
      >
      for a full list of instructions and other options.
    </p>
  </div>
</div>
<div class="main_section">
  <div class="row">
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-basic-alert></app-basic-alert>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-link-color-alert></app-link-color-alert>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-dissmiss-alert></app-dissmiss-alert>
    </div>

    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-content-alert></app-content-alert>
    </div>
  </div>
</div>
