<div class="card custom-card border-0">
  <div
    class="card-header custom-card-header d-flex align-items-center border-1"
  >
    <div class="">
      <h5 class="m-b-0">Ticket Info</h5>
    </div>
    <div class="m-l-auto">
      <div class="d-flex align-items-center">
        <h6 class="m-b-0 d-flex align-items-center">
          <span class="material-icons-outlined icon-20 m-r-1">
            calendar_today </span
          ><span>June 9, 2021 09:45</span>
        </h6>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="">
      <div class="">
        <div class="">
          <div class="m-b-12 p-b-8 d-flex align-items-center">
            <h5 class="m-b-0">Ticket Status</h5>
            <div class="m-l-auto">
              <h5 class="m-b-0 text-white badge-tag bg-success">
                In Progreass
              </h5>
            </div>
          </div>
        </div>
        <div class="">
          <div class="m-b-12 p-b-8 d-flex align-items-center">
            <h5 class="m-b-0">Ticket Creater</h5>
            <div class="m-l-auto">
              <h5 class="m-b-0 text-muted">Jone Doe</h5>
            </div>
          </div>
        </div>

        <div class="m-b-12 p-b-8 d-flex align-items-center">
          <h5 class="m-b-0">Support Agent</h5>
          <div class="m-l-auto">
            <h5 class="m-b-0 text-muted">Tom Hidelson</h5>
          </div>
        </div>
        <div class="pt-2">
          <button class="btn btn-pill btn-block btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
