<div class="row">
  <div class="col-lg-6 mb-3">
    <div class="card custom-card">
      <div
        class="
          card-header
          custom-card-header
          d-flex
          justify-content-between
          align-items-center
        "
      >
        <h5 class="card-label mb-0">Bar Chart</h5>
        <span class="material-icons icon icon-gray"> grid_view </span>
      </div>
      <div class="chart_body">
        <div class="chart-container">
          <app-google-bar-charts></app-google-bar-charts>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mb-3">
    <div class="card custom-card">
      <div
        class="
          card-header
          custom-card-header
          d-flex
          justify-content-between
          align-items-center
        "
      >
        <h5 class="card-label mb-0">Pie Chart</h5>
        <span class="material-icons icon icon-gray"> grid_view </span>
      </div>
      <div class="chart_body">
        <div class="chart-container">
          <app-google-pie-charts></app-google-pie-charts>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mb-3">
    <div class="card custom-card">
      <div
        class="
          card-header
          custom-card-header
          d-flex
          justify-content-between
          align-items-center
        "
      >
        <h5 class="card-label mb-0">Scatterd Chart</h5>
        <span class="material-icons icon icon-gray"> grid_view </span>
      </div>
      <div class="chart_body">
        <div class="chart-container">
          <app-google-scatter-chart></app-google-scatter-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mb-3">
    <div class="card custom-card">
      <div
        class="
          card-header
          custom-card-header
          d-flex
          justify-content-between
          align-items-center
        "
      >
        <h5 class="card-label mb-0">Stacked Bar Chart</h5>
        <span class="material-icons icon icon-gray"> grid_view </span>
      </div>
      <div class="chart_body">
        <div class="chart-container">
          <app-google-stacked-chart></app-google-stacked-chart>
        </div>
      </div>
    </div>
  </div>
</div>
