<div class="card custom-card">
  <div class="card-header custom-card-header border-1">
    <h6 class="m-b-0">Deactivate Account</h6>
  </div>
  <div class="card-body">
    <div class="d-flex align-items-center">
      <div class="form-check p-l-0 m-r-12">
        <label class="container-checkbox kkkcheck_lable"
          >I confirm my account deactivation
          <input type="checkbox" />
          <span class="material-icons check-mark icon"> </span>
        </label>
      </div>
    </div>
    <div class="text-right">
      <button class="btn btn-danger">Deactivate Account</button>
    </div>
  </div>
</div>
