<div class="card custom-card">
  <div class="card-header custom-card-header border-1">
    <h5 class="m-b-0">Reviews</h5>
  </div>
  <div class="card-body">
    <p class="text-muted m-b-0">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A sapiente
      ducimus aperiam aliquid tempora.
    </p>
    <div class="p-y-12 d-flex align-items-center">
      <img
        src="assets/media/images/users/300_20.jpg"
        alt="user"
        class="logo-medium-circle m-r-2"
      />
      <img
        src="assets/media/images/users/300_21.jpg"
        alt="user"
        class="logo-medium-circle m-r-2"
      />
      <img
        src="assets/media/images/users/300_22.jpg"
        alt="user"
        class="logo-medium-circle m-r-2"
      />
      <img
        src="assets/media/images/users/300_23.jpg"
        alt="user"
        class="logo-medium-circle m-r-2"
      />
    </div>
    <button class="btn btn-square btn-primary">All Review</button>
  </div>
</div>
