<div class="row">
  <div class="col-lg-6 m-b-20">
    <div class="card custom-card">
      <div
        class="
          card-header
          custom-card-header
          d-flex
          justify-content-between
          align-items-center
          border-1
        "
      >
        <h5 class="card-label m-b-0">Bar Horizontal Chart</h5>
        <span class="material-icons icon-20 icon-gray"> grid_view </span>
      </div>
      <div class="chart_body">
        <app-ngx-horihontal-bar-chart></app-ngx-horihontal-bar-chart>
      </div>
    </div>
  </div>
  <div class="col-lg-6 m-b-20">
    <div class="card custom-card">
      <div
        class="
          card-header
          custom-card-header
          d-flex
          justify-content-between
          align-items-center
          border-1
        "
      >
        <h5 class="card-label m-b-0">Pie Chart</h5>
        <span class="material-icons icon-20 icon-gray"> grid_view </span>
      </div>
      <div class="chart_body">
        <app-ngx-pie-chart></app-ngx-pie-chart>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 m-b-20">
    <div class="card custom-card">
      <div
        class="
          card-header
          custom-card-header
          d-flex
          justify-content-between
          align-items-center
          border-1
        "
      >
        <h5 class="card-label m-b-0">Bar Vertical Chart</h5>
        <span class="material-icons icon-20 icon-gray"> grid_view </span>
      </div>
      <div class="chart_body">
        <app-ngx-bar-chart></app-ngx-bar-chart>
      </div>
    </div>
  </div>
</div>
