<div class="card custom-card">
  <div class="card-header custom-card-header border-1">
    <h5 class="m-b-0 sugg_page_title">Poll of the Today</h5>
  </div>
  <div class="card-body">
    <p class="m-b-0 text-muted p-b-8">Here is latest poll.</p>
    <h5 class="fw-600 m-b-12 sugg_page_title">
      What is mobile app usage daily ?
    </h5>
    <div class="">
      <form action="" class="">
        <div class="form-check p-l-0">
          <label class="container-radio sugg_other">
            <b class="m-r-8"> A</b> 30 Minutes
            <input
              type="radio"
              [checked]="isChecked"
              value="true"
              name="radio"
            />
            <span class="check-circle"></span>
          </label>
        </div>
        <div class="form-check p-l-0">
          <label class="container-radio sugg_other">
            <b class="m-r-8"> B </b> More than 30 Minutes
            <input
              type="radio"
              [checked]="isChecked"
              value="true"
              name="radio"
            />
            <span class="check-circle"></span>
          </label>
        </div>
        <div class="form-check p-l-0">
          <label class="container-radio sugg_other">
            <b class="m-r-8"> C </b> 1 Hour
            <input
              type="radio"
              [checked]="isChecked"
              value="true"
              name="radio"
            />
            <span class="check-circle"></span>
          </label>
        </div>
        <div class="form-check p-l-0">
          <label
            [ngClass]="isChecked ? 'text-primary' : null"
            class="container-radio sugg_other"
          >
            <b class="m-r-8"> D </b> More than 1 Hour
            <input
              type="radio"
              [checked]="isChecked"
              value="true"
              name="radio"
            />
            <span class="check-circle"></span>
          </label>
        </div>
        <div class="p-t-4">
          <button type="button" class="btn btn-primary btn-square">
            Submit Answer
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
