<div class="card custom-card shadow1 no-radius">
  <div
    class="
      card-header
      custom-card-header
      d-flex
      justify-content-between
      align-items-center
      border-1
    "
  >
    <h5 class="card-label m-b-0">Product Revenue</h5>
    <span class="material-icons icon-20 icon-gray"> grid_view </span>
  </div>
  <div class="chart_body kk_chartjs">
    <div class="chartjs-container">
      <canvas
        baseChart
        [datasets]="chartValue.bubbleChartData"
        [labels]="chartValue.bubbleChartLabels"
        [options]="chartValue.bubbleChartOptions"
        [colors]="chartValue.bubbleChartColors"
        [legend]="chartValue.bubbleChartLegend"
        [chartType]="chartValue.bubbleChartType"
        [plugins]="chartValue.bubbleChartPlugins"
      >
      </canvas>
    </div>
  </div>
</div>
