<!-- crypto-cards -->
<div class="row m-b-12">
  <div class="col-lg-3">
    <div class="card custom-card">
      <div class="bg-dark">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="cursor-pointer">
              <i title="ETH" class="display-6 cc ETH text-white"></i>
            </div>
            <div class="ml-3">
              <h5 class="fw-600 m-b-0 text-white">Ethereum</h5>
              <h6 class="text-white m-b-0"><span>$</span> 3847.00k</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card custom-card">
      <div class="bg-info">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="cursor-pointer">
              <i title="LTC" class="display-6 cc DASH-alt text-white"></i>
            </div>
            <div class="ml-3">
              <h5 class="fw-600 m-b-0 text-white">Dash</h5>
              <h6 class="text-white m-b-0"><span>$</span> 5547.00k</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card custom-card">
      <div class="bg-orange">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="cursor-pointer">
              <i title="BTC" class="display-6 cc BTC-alt text-white"></i>
            </div>
            <div class="ml-3">
              <h5 class="fw-600 m-b-0 text-white">Bitcoin</h5>
              <h6 class="text-white m-b-0"><span>$</span> 847.00k</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card custom-card">
      <div class="bg-primary">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="cursor-pointer">
              <i title="AMP" class="display-6 cc AMP-alt text-white"></i>
            </div>
            <div class="ml-3">
              <h5 class="fw-600 m-b-0 text-white">Ripple</h5>
              <h6 class="text-white m-b-0"><span>$</span> 384.00k</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- crypto-big-cards -->
<div class="row m-b-12">
  <div class="col-lg-4 m-b-12">
    <div class="card custom-card">
      <div class="bg-orange">
        <div class="card-body">
          <div class="pb-4">
            <div class="d-flex align-items-center">
              <div class="cursor-pointer">
                <i title="BTC" class="cc BTC text-white display-6"></i>
              </div>
              <div class="ml-3">
                <h5 class="fw-600 m-b-0 text-white">Bitcoin</h5>
                <h6 class="text-white m-b-0">Realestate</h6>
              </div>
            </div>
          </div>
          <div class="row tex-center">
            <div class="col-4 text-center">
              <p class="m-b-0 text-white">% 1h</p>
              <p class="fw-600 m-b-0 d-flex align-items-center text-white pb-4">
                <span class="material-icons-outlined icon mr-1">
                  arrow_downward
                </span>
                -3.12
              </p>
            </div>
            <div class="col-4 text-center">
              <p class="m-b-0 text-white">% 24h</p>
              <p class="fw-600 m-b-0 d-flex align-items-center text-white pb-4">
                <span class="material-icons-outlined icon mr-1">
                  arrow_downward
                </span>
                -4.34
              </p>
            </div>
            <div class="col-4 text-center">
              <p class="m-b-0 text-white">% 7d</p>
              <p class="fw-600 m-b-0 d-flex align-items-center text-white pb-4">
                <span class="material-icons-outlined icon mr-1">
                  arrow_upward
                </span>
                0.45
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 m-b-12">
    <div class="card custom-card">
      <div class="bg-success">
        <div class="card-body">
          <div class="pb-4">
            <div class="d-flex align-items-center">
              <div class="cursor-pointer">
                <i title="EOS" class="display-6 cc EOS-alt text-white"></i>
              </div>
              <div class="ml-3">
                <h5 class="fw-600 m-b-0 text-white">EOS</h5>
                <h6 class="text-white m-b-0">Banking</h6>
              </div>
            </div>
          </div>
          <div class="row tex-center">
            <div class="col-4 text-center">
              <p class="m-b-0 text-white">% 1h</p>
              <p class="fw-600 m-b-0 d-flex align-items-center text-white pb-4">
                <span class="material-icons-outlined icon mr-1">
                  arrow_upward
                </span>
                5.25
              </p>
            </div>
            <div class="col-4 text-center">
              <p class="m-b-0 text-white">% 24h</p>
              <p class="fw-600 m-b-0 d-flex align-items-center text-white pb-4">
                <span class="material-icons-outlined icon mr-1">
                  arrow_downward
                </span>
                - 0.34
              </p>
            </div>
            <div class="col-4 text-center">
              <p class="m-b-0 text-white">% 7d</p>
              <p class="fw-600 m-b-0 d-flex align-items-center text-white pb-4">
                <span class="material-icons-outlined icon mr-1">
                  arrow_upward
                </span>
                0.45
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 m-b-12">
    <div class="card custom-card">
      <div class="bg-dark">
        <div class="card-body">
          <div class="pb-4">
            <div class="d-flex align-items-center">
              <div class="cursor-pointer">
                <i title="ETH" class="display-6 cc ETH text-white"></i>
              </div>
              <div class="ml-3">
                <h5 class="fw-600 m-b-0 text-white">Ethereum</h5>
                <h6 class="text-white m-b-0">Exchange</h6>
              </div>
            </div>
          </div>
          <div class="row tex-center">
            <div class="col-4 text-center">
              <p class="m-b-0 text-white">% 1h</p>
              <p class="fw-600 m-b-0 d-flex align-items-center text-white pb-4">
                <span class="material-icons-outlined icon mr-1">
                  arrow_upward
                </span>
                2.34
              </p>
            </div>
            <div class="col-4 text-center">
              <p class="m-b-0 text-white">% 24h</p>
              <p class="fw-600 m-b-0 d-flex align-items-center text-white pb-4">
                <span class="material-icons-outlined icon mr-1">
                  arrow_downward
                </span>
                - 0.84
              </p>
            </div>
            <div class="col-4 text-center">
              <p class="m-b-0 text-white">% 7d</p>
              <p class="fw-600 m-b-0 d-flex align-items-center text-white pb-4">
                <span class="material-icons-outlined icon mr-1">
                  arrow_upward
                </span>
                5.45
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 m-b-12">
    <div class="card custom-card">
      <div class="bg-secondary">
        <div class="card-body">
          <div class="pb-4">
            <div class="d-flex align-items-center">
              <div class="cursor-pointer">
                <i title="BTM" class="cc BTM-alt text-white display-6"></i>
              </div>
              <div class="ml-3">
                <h5 class="fw-600 m-b-0 text-white">BitMark</h5>
                <h6 class="text-white m-b-0">Advertising</h6>
              </div>
            </div>
          </div>
          <div class="row tex-center">
            <div class="col-4 text-center">
              <p class="m-b-0 text-white">% 1h</p>
              <p class="fw-600 m-b-0 d-flex align-items-center text-white pb-4">
                <span class="material-icons-outlined icon mr-1">
                  arrow_downward
                </span>
                - 3.12
              </p>
            </div>
            <div class="col-4 text-center">
              <p class="m-b-0 text-white">% 24h</p>
              <p class="fw-600 m-b-0 d-flex align-items-center text-white pb-4">
                <span class="material-icons-outlined icon mr-1">
                  arrow_downward
                </span>
                - 4.34
              </p>
            </div>
            <div class="col-4 text-center">
              <p class="m-b-0 text-white">% 7d</p>
              <p class="fw-600 m-b-0 d-flex align-items-center text-white pb-4">
                <span class="material-icons-outlined icon mr-1">
                  arrow_upward
                </span>
                0.45
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 m-b-12">
    <div class="card custom-card">
      <div class="bg-info">
        <div class="card-body">
          <div class="pb-4">
            <div class="d-flex align-items-center">
              <div class="cursor-pointer">
                <i title="DASH" class="display-6 cc DASH-alt text-white"></i>
              </div>
              <div class="ml-3">
                <h5 class="fw-600 m-b-0 text-white">Dash</h5>
                <h6 class="text-white m-b-0">Trading</h6>
              </div>
            </div>
          </div>
          <div class="row tex-center">
            <div class="col-4 text-center">
              <p class="m-b-0 text-white">% 1h</p>
              <p class="fw-600 m-b-0 d-flex align-items-center text-white pb-4">
                <span class="material-icons-outlined icon mr-1">
                  arrow_upward
                </span>
                5.25
              </p>
            </div>
            <div class="col-4 text-center">
              <p class="m-b-0 text-white">% 24h</p>
              <p class="fw-600 m-b-0 d-flex align-items-center text-white pb-4">
                <span class="material-icons-outlined icon mr-1">
                  arrow_downward
                </span>
                - 0.34
              </p>
            </div>
            <div class="col-4 text-center">
              <p class="m-b-0 text-white">% 7d</p>
              <p class="fw-600 m-b-0 d-flex align-items-center text-white pb-4">
                <span class="material-icons-outlined icon mr-1">
                  arrow_upward
                </span>
                0.45
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 m-b-12">
    <div class="card custom-card">
      <div class="bg-purple">
        <div class="card-body">
          <div class="pb-4">
            <div class="d-flex align-items-center">
              <div class="cursor-pointer">
                <i title="GEMZ" class="display-6 cc GEMZ-alt text-white"></i>
              </div>
              <div class="ml-3">
                <h5 class="fw-600 m-b-0 text-white">GetGems</h5>
                <h6 class="text-white m-b-0">Exchange</h6>
              </div>
            </div>
          </div>
          <div class="row tex-center">
            <div class="col-4 text-center">
              <p class="m-b-0 text-white">% 1h</p>
              <p class="fw-600 m-b-0 d-flex align-items-center text-white pb-4">
                <span class="material-icons-outlined icon mr-1">
                  arrow_upward
                </span>
                2.34
              </p>
            </div>
            <div class="col-4 text-center">
              <p class="m-b-0 text-white">% 24h</p>
              <p class="fw-600 m-b-0 d-flex align-items-center text-white pb-4">
                <span class="material-icons-outlined icon mr-1">
                  arrow_downward
                </span>
                - 0.84
              </p>
            </div>
            <div class="col-4 text-center">
              <p class="m-b-0 text-white">% 7d</p>
              <p class="fw-600 m-b-0 d-flex align-items-center text-white pb-4">
                <span class="material-icons-outlined icon mr-1">
                  arrow_upward
                </span>
                5.45
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
