<div class="row">
  <div class="col-lg-6 grid-bottom">
    <app-form-wizard></app-form-wizard>
  </div>
  <div class="col-lg-6 grid-bottom">
    <app-form-wizard-validation></app-form-wizard-validation>
  </div>
  <div class="col-lg-6 grid-bottom">
    <app-stacked></app-stacked>
  </div>
  <div class="col-lg-6 grid-bottom">
    <app-horizontal></app-horizontal>
  </div>
  <div class="col-lg-12 grid-bottom">
    <app-input-element></app-input-element>
  </div>
  <div class="col-lg-12 grid-bottom">
    <app-form-wigits></app-form-wigits>
  </div>
  <div class="col-lg-12 grid-bottom">
    <app-form-layout></app-form-layout>
  </div>
</div>
