<div class="card custom-card card-stretch">
  <div
    class="
      card-header
      d-flex
      justify-content-between
      align-items-center
      custom-card-header
      border-1
    "
  >
    <div class="card-title m-b-0">
      <h5 class="card-label m-b-0">Card Borderr</h5>
    </div>
    <div class="code">
      <button
        class="btn d-flex align-items-center btn-outline-primary"
        (click)="showCode = !showCode"
      >
        <span *ngIf="!showCode" class="material-icons icon"> code </span>
        <span *ngIf="showCode" class="material-icons icon"> code_off </span>
        code
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="content p-3">
      <div class="row">
        <div class="col-md-6 col-sm-6 m-b-12">
          <div
            class="card card-section border-primary m-b-12"
            style="max-width: 18rem"
          >
            <div class="card-header">Header</div>
            <div class="card-body text-primary">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 m-b-12">
          <div
            class="card card-section border-secondary m-b-12"
            style="max-width: 18rem"
          >
            <div class="card-header">Header</div>
            <div class="card-body text-secondary">
              <h5 class="card-title">Secondary card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 m-b-12">
          <div
            class="card card-section border-success m-b-12"
            style="max-width: 18rem"
          >
            <div class="card-header">Header</div>
            <div class="card-body text-success">
              <h5 class="card-title">Success card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 m-b-12">
          <div
            class="card card-section border-danger m-b-12"
            style="max-width: 18rem"
          >
            <div class="card-header">Header</div>
            <div class="card-body text-danger">
              <h5 class="card-title">Danger card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 m-b-12">
          <div
            class="card card-section border-warning m-b-12"
            style="max-width: 18rem"
          >
            <div class="card-header">Header</div>
            <div class="card-body text-warning">
              <h5 class="card-title">Warning card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 m-b-12">
          <div
            class="card card-section border-info m-b-12"
            style="max-width: 18rem"
          >
            <div class="card-header">Header</div>
            <div class="card-body text-info">
              <h5 class="card-title">Info card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 m-b-12">
          <div
            class="card card-section border-light m-b-12"
            style="max-width: 18rem"
          >
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Light card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 m-b-12">
          <div
            class="card card-section border-dark m-b-12"
            style="max-width: 18rem"
          >
            <div class="card-header">Header</div>
            <div class="card-body text-dark">
              <h5 class="card-title">Dark card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div [collapse]="!showCode" [isAnimated]="true" class="code_container">
        <div class="nav_bar w-100">
          <ul>
            <li>
              <a [ngClass]="{ active: tabId === '0' }" (click)="tabToggle('0')">
                HTML
              </a>
            </li>
            <li>
              <a [ngClass]="{ active: tabId === '1' }" (click)="tabToggle('1')">
                TS
              </a>
            </li>
          </ul>
        </div>
        <!-- code -->
        <ng-template [ngIf]="tabId === '0'">
          <pre class="m-b-0">
            <code [highlight]="htmlcode" (highlighted)="onHighlight($event)" [lineNumbers]="true">
            </code>
          </pre>
        </ng-template>
        <ng-template [ngIf]="tabId === '1'">
          <pre class="m-b-0">
            <code [highlight]="tscode" (highlighted)="onHighlight($event)" [lineNumbers]="true">
            </code>
          </pre>
        </ng-template>
      </div>
    </div>
  </div>
</div>
