<div class="card custom-card">
  <div class="row no-gutters d-flex notes-container">
    <div class="notes-section col-lg-3 col-md-3">
      <div class="text-center p-y-16 border-1">
        <div class="d-flex justify-content-center align-items-center">
          <i class="ti ti-clipboard icon-30 text-dark m-r-12"></i>
          <h5 class="">Notepad</h5>
        </div>
      </div>
      <div class="note-lists scroll">
        <app-notes-sidebar
          (makeANote)="openNoteModal($event)"
        ></app-notes-sidebar>
      </div>
    </div>
    <div class="note-desc w-100 col-lg-9 col-md-9">
      <div class="d-flex align-items-center zp-12 border-1">
        <div class="app_toggle">
          <div class="menu-wrapper">
            <a
              (click)="openAppSidebar()"
              class="toggle-icon link-none hoverable align-items-center"
              ><span class="material-icons icon-gray cursor-pointer icon-20">
                menu
              </span></a
            >
          </div>
        </div>
        <div class="search_field">
          <form action="form">
            <div class="search_bar">
              <input
                type="text"
                class="form-control gap-left"
                placeholder="Search here..."
              />
            </div>
          </form>
        </div>
        <div class="ml-auto">
          <div class="d-flex align-items-center">
            <h6 class="m-b-0 m-r-8">Filter :</h6>
            <app-custom-dropdown
              [custom-Dropdown]="custom_dropdown"
            ></app-custom-dropdown>
          </div>
        </div>
      </div>
      <div class="zp-15 notes_scroll">
        <div class="row">
          <ng-container *ngFor="let note of notes; let i = index">
            <div class="col-lg-4 col-sm-6 col-md-6">
              <app-note-card [customNote]="note"></app-note-card>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<p-sidebar
  [(visible)]="notesSidebarModal"
  [modal]="false"
  class="application_sidebar"
>
  <div class="text-center p-y-8 border-1">
    <div class="d-flex justify-content-center align-items-center">
      <i class="ti ti-clipboard icon-30 text-dark m-r-12"></i>
      <h5 class="">Notepad</h5>
    </div>
  </div>
  <div class="note_lists scroll">
    <app-notes-sidebar (makeANote)="openNoteModal($event)"></app-notes-sidebar>
  </div>
</p-sidebar>
<!-- add a Note -->
<p-dialog
  header="Add Note "
  class=""
  [(visible)]="noteDialog"
  [modal]="true"
  class="notes-modal"
>
  <div class="add_task_to_control">
    <form action="" [formGroup]="noteForm" (ngSubmit)="addNewNote()">
      <div class="kprime_form_wrapper">
        <div class="form-group m-b-12">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            formControlName="note_title"
            placeholder="Enter Title"
          />
        </div>
        <div class="form-group m-b-12">
          <label for="description">Description</label>
          <textarea
            rows="2"
            type="text"
            formControlName="note_description"
            class="form-control"
            placeholder="Enter Note Description"
          ></textarea>
        </div>
      </div>
    </form>
    <div class="d-flex justify-content-end kprime_footer align-items-center">
      <button
        (click)="closeModal()"
        class="btn btn-outline-danger m-r-8 btn-square"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-primary btn-square">Submit</button>
    </div>
  </div>
</p-dialog>
