.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.42rem;

  @each $name, $color in $theme-light-colors {
    &.alert-#{$name} {
      @include bg-colors($color, $name);
    }
  }
}
@each $name, $color in $theme-light-colors {
  .timeline-point-#{$name} {
    border-color: $color;
    @if map-has-key($theme-colors, $name) {
      $color-value: map-get($theme-colors, $name);
      color: $color-value;
      &::after {
        content: "";
        background-color: $color-value !important;
        box-shadow: 0 5px 10px 0 rgb(14 138 116 / 20%);
      }
    }
  }
}

@each $name, $color in $theme-light-colors {
  .icon-#{$name}-circle {
    display: grid;
    place-items: center;
    @include logo-icon(2.5rem, $circle: true);
    @include bg-colors($color, $name);
  }
}
