.angle {
  position: absolute;
  top: 13px;
  right: 10px;

  i {
    font-size: 20px;
    color: $icon-color;
  }
}

.select {
  position: relative;

  .list {
    width: 100%;
    margin-top: 2px;
    border-radius: 4px;
    overflow-y: auto;
    height: 150px;
    padding-left: 0;
    background-color: $background-color;
    border: solid 1px $border-color;
    box-shadow: 0px 5px 20px 1px $cardShadow;
    position: absolute;
    z-index: 99;

    .focus {
      background-color: $background-color;
    }

    .filter_field {
      list-style: none;

      .inp_field {
        &:focus {
          outline: none !important;
        }
      }
    }

    .option {
      cursor: pointer;
      font-weight: 400;
      line-height: 40px;
      list-style: none;
      min-height: 40px;
      outline: none;
      padding-left: 18px;
      padding-right: 29px;
      text-align: left;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;

      &:hover {
        background-color: $primary;
        color: $white;
      }
      @include scrollbar($width: 0.4rem, $border-radius: 0.5rem);
      &:hover {
        @include scrollbar(
          $width: 0.4rem,
          $border-radius: 0.5rem,
          $background-color: $scrollbarColor
        );
      }
    }
  }
}
