.timeline-widgit {
  position: relative;
}
.timeline {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
  &:before {
    top: 20px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    left: 9px;
    margin-right: -1.5px;
    background-color: #c8c8c8;
  }
}
.k_message_box {
  background-color: $chatboxSender !important;
}

.timeline-alternate {
  list-style: none;
  position: relative;
  padding: 20px 0 20px;
  margin: 0;
  &:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #c8c8c8;
    left: 50%;
    margin-left: -1.5px;
  }
}
.timeline-list {
  margin-bottom: 15px;
  position: relative;
  list-style: none;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }

  .timeline-point {
    border-radius: 50%;
    height: 22px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 22px;
    border-width: 2px;
    border-style: solid;
    background-color: $background-color;
    padding: 4px;
    &::after {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 100%;
      display: block;
    }
  }
  .timeline-panel {
    border-radius: 0.5rem;
    padding: 5px 8px;
    position: relative;
    display: block;
    margin-left: 40px;
    border-width: 1px;
    border-style: solid;
    &::after {
      content: "";
      width: 10px;
      height: 10px;
      background: inherit;
      border-color: inherit;
      border-style: solid;
      border-width: 0px 0px 1px 1px;
      display: block;
      position: absolute;
      left: -5px;
      transform: rotate(45deg);
      top: 15px;
    }
    span {
      font-size: 13px;
    }
    p {
      font-size: 13px !important;
    }
  }
}
.main_time_line{

  .timeline-scroll {
    height: 79vh;
    margin-right: 5px;
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    @include scrollbar($width: 0.3rem, $border-radius: 1rem);
    &:hover {
      $background-light: $scrollbarColor;
      @include scrollbar($width: 0.3rem, $border-radius: 1rem, $background-color: $background-light);
    }
  }
}
.time_line_ecom{

  .timeline-scroll {
    height: 62vh;
    margin-right: 5px;
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    @include scrollbar($width: 0.3rem, $border-radius: 1rem);
    &:hover {
      $background-light: $scrollbarColor;
      @include scrollbar($width: 0.3rem, $border-radius: 1rem, $background-color: $background-light);
    }
  }
}

// For Mobile portrait Screen
@include responsive-below(md) {
  .main_time_line{
    .timeline-scroll {
      height: 43vh;
    }
  }
}

// For Mobile landscrape mode Screen
@include responsive-between(sm, md) {

  .time_line_ecom{
    .timeline-scroll {
      height: 102vh;
    }
  }
}

// For laptop Landscape Mode
@include responsive-between(lg, xl) {
  .main_time_line{
    .timeline-scroll {
      height: 62vh;
    }
  }

  .time_line_ecom{
    .timeline-scroll {
      height: 47vh;
    }
  }
}

// For tablet portrait Mode
@include responsive-between(md, lg) {
  .time_line_ecom{
    .timeline-scroll {
      height: 33vh;
    }
  }

  .main_time_line{
    .timeline-scroll {
      height: 42vh;
    }
  }
}