// Headings
h1 {
  @include font-size($h1-font-size, true);
}

h2 {
  @include font-size($h2-font-size, true);
}

h3 {
  @include font-size($h3-font-size, true);
}

h4 {
  @include font-size($h4-font-size, true);
}

h5 {
  @include font-size($h5-font-size, true);
  font-weight: 600;
}

h6 {
  @include font-size($h6-font-size, true);
  font-weight: 600;
}
//
.sub_heading {
  font-size: $headingSize2;
  font-weight: 400;
  color: $heading-color !important;
}
@each $name, $size in $sizes {
  .fs-#{$name} {
    font-size: $size;
  }
  .border-radius-#{$name} {
    border-radius: $size;
  }
  .line-height-#{$name} {
    line-height: $size;
  }
}
.p-12 {
  padding: 12px;
}

.ma-auto {
  margin: 0 auto;
  margin-right: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.fw-600 {
  font-weight: 500; //change here
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.font-20 {
  font-size: 1.125rem;
}

.b-radius {
  border-radius: 2px;
}

.display-4 {
  font-size: 3rem;
}

.display-5 {
  font-size: 2.5rem;
}

.display-6 {
  font-size: 2rem;
}
.display-1 {
  font-size: 4.5rem;
}

.display-2 {
  font-size: 4rem;
}

.display-3 {
  font-size: 3.5rem;
}

.d-block {
  display: block;
}

//heading
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
}

.text-heading {
  color: $heading-color;
}

p {
  color: $paraColor;
}
