<div class="card custom-card grid-bottom">
  <div class="card-header custom-card-header border-0">
    <h4 class="mb-2">Dropdown</h4>
    <p class="text-muted">
      Dropdowns are toggleable, contextual overlays for displaying lists of
      links and more. They’re made interactive with the included dropdown
      directives. Please visit the Official
      <a
        href="https://valor-software.com/ngx-bootstrap/#/dropdowns"
        target="_blank"
        class="custom-link"
        >Ngx-Bootstrap Documentation</a
      >
      for a full list of instructions and other options.
    </p>
  </div>
</div>
<div class="main_section">
  <div class="row">
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-basic-dropdown></app-basic-dropdown>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-split-dropdown></app-split-dropdown>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-position-dropdown></app-position-dropdown>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-varient-dropdown></app-varient-dropdown>
    </div>
  </div>
</div>
