<div class="row">
  <div class="col-lg-6 m-b-20">
    <div class="card custom-card">
      <div
        class="
          card-header
          custom-card-header
          d-flex
          justify-content-between
          align-items-center
          border-1
        "
      >
        <h5 class="card-label m-b-0">Line Chart</h5>
        <span class="material-icons icon-20 icon-gray"> grid_view </span>
      </div>
      <div class="chart_body">
        <div class="chart-container">
          <app-line-echarts></app-line-echarts>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 m-b-20">
    <div class="card custom-card">
      <div
        class="
          card-header
          custom-card-header
          d-flex
          justify-content-between
          align-items-center
          border-1
        "
      >
        <h5 class="card-label m-b-0">Bar Chart</h5>
        <span class="material-icons icon icon-gray"> grid_view </span>
      </div>
      <div class="chart_body">
        <div class="chart-container">
          <app-multiline-echarts></app-multiline-echarts>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 m-b-20">
    <div class="card custom-card">
      <div
        class="
          card-header
          custom-card-header
          d-flex
          justify-content-between
          align-items-center
          border-1
        "
      >
        <h5 class="card-label m-b-0">Line Chart</h5>
        <span class="material-icons icon icon-gray"> grid_view </span>
      </div>
      <div class="chart_body">
        <div class="chart-container">
          <app-donut-echarts></app-donut-echarts>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 m-b-20">
    <div class="card custom-card">
      <div
        class="
          card-header
          custom-card-header
          d-flex
          justify-content-between
          align-items-center
          border-1
        "
      >
        <h5 class="card-label m-b-0">Bar Chart</h5>
        <span class="material-icons icon icon-gray"> grid_view </span>
      </div>
      <div class="chart_body">
        <div class="chart-container">
          <app-bar-echarts></app-bar-echarts>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 m-b-20">
    <div class="card custom-card">
      <div
        class="
          card-header
          custom-card-header
          d-flex
          justify-content-between
          align-items-center
          border-1
        "
      >
        <h5 class="card-label m-b-0">Radar Chart</h5>
        <span class="material-icons icon icon-gray"> grid_view </span>
      </div>
      <div class="chart_body">
        <div class="chart-container">
          <app-echart-radar></app-echart-radar>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 m-b-20">
    <div class="card custom-card">
      <div
        class="
          card-header
          custom-card-header
          d-flex
          justify-content-between
          align-items-center
          border-1
        "
      >
        <h5 class="card-label m-b-0">Scatter Chart</h5>
        <span class="material-icons icon icon-gray"> grid_view </span>
      </div>
      <div class="chart_body">
        <div class="chart-container">
          <app-scatter-echarts></app-scatter-echarts>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 m-b-20">
    <div class="card custom-card">
      <div
        class="
          card-header
          custom-card-header
          d-flex
          justify-content-between
          align-items-center
          border-1
        "
      >
        <h5 class="card-label m-b-0">Pie Chart</h5>
        <span class="material-icons icon icon-gray"> grid_view </span>
      </div>
      <div class="chart_body">
        <div class="chart-container">
          <app-pie-echarts></app-pie-echarts>
        </div>
      </div>
    </div>
  </div>
</div>
