<div class="row">
  <div class="col-lg-8 col-md-7">
    <div class="">
      <div class="card custom-card border-0 m-b-20">
        <div class="card-header custom-card-header border-1">
          <div class="">
            <h5 class="m-b-0">Ticket</h5>
          </div>
        </div>
        <div class="card-body">
          <div class="">
            <div class="text-muted">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
              reprehenderit architecto pariatur placeat, porro quod laborum
              quae, ratione esse, repellat eum molestias. Rerum perferendis in
              eveniet ducimus dolore quia enim?
            </div>
          </div>
        </div>
      </div>
      <div class="m-b-20">
        <app-ticket-reply></app-ticket-reply>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-5 m-b-20">
    <div class="row">
      <div class="col-lg-12 m-b-20">
        <app-ticket-info></app-ticket-info>
      </div>
      <div class="col-lg-12 m-b-20">
        <app-ticket-user-info></app-ticket-user-info>
      </div>
    </div>
  </div>
</div>
