<div class="card custom-card grid-bottom">
  <div class="card-header custom-card-header border-0">
    <h4 class="m-b-8">Accordions</h4>
    <p class="text-muted">
      The accordion component builds on top of the collapse directive to provide
      a list of items, with collapsible bodies Please visit the Official
      <a
        href="https://valor-software.com/ngx-bootstrap/#/accordion"
        target="_blank"
        class="custom-link"
        >Ngx-Bootstrap Documentation</a
      >
      for a full list of instructions and other options.
    </p>
  </div>
</div>
<div class="main_section">
  <div class="row">
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-basic-accordion></app-basic-accordion>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-style-accordion></app-style-accordion>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-dynamic-accordion></app-dynamic-accordion>
    </div>
    <div class="col-lg-6 col-md-6 grid-bottom">
      <app-only-one-accordion></app-only-one-accordion>
    </div>
  </div>
</div>
