<div class="">
  <div class="row filterbar custom-card">
    <div class="col-lg-4 col-sm-8 col-7 m-b-12 col-md-6">
      <form action="form" class="form">
        <div class="search_bar">
          <input
            type="text"
            placeholder="Search here..."
            class="form-control gap-left"
          />
        </div>
      </form>
    </div>
    <div
      class="col-lg-4 col-5 col-sm-4 m-b-12 col-md-6 text-right d-flex justify-content-end offset-lg-4"
    >
      <div class="text-right">
        <button
          (click)="showFilterDialog()"
          class="btn btn-outline-primary btn-square d-flex align-items-center"
        >
          <span class="material-icons-outlined icon-20 m-r-8"> tune </span>
          Filter Result
        </button>
      </div>
    </div>
  </div>

  <div class="hr_scroll">
    <div class="p-b-12 scrum_container">
      <div
        class="scrum-box-continer m-r-20"
        style="display: table; width: 19rem"
      >
        <div
          class="d-flex align-items-center shadow1 border-1 border-top-3-info"
        >
          <div class="m-r-12">
            <h5 class="m-b-0 zp-12">TODO</h5>
          </div>
          <p class="m-b-0 p-x-4 border-radius-2 fs-12 fw-500 bg-light">5</p>
          <div class="ml-auto">
            <app-custom-dropdown
              [custom-Dropdown]="dropdowns"
            ></app-custom-dropdown>
          </div>
        </div>

        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListConnectedTo]="[progressList, toreviewList, compltedList]"
          [cdkDropListData]="holds"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="vr_scroll">
            <ng-container *ngFor="let hold of holds">
              <app-scrubboard-task
                class="scrumb-task-card {{ activeTheme }}"
                [tasks]="hold"
                (taskInfoModal)="taskDetailDialog($event)"
                cdkDrag
              ></app-scrubboard-task>
            </ng-container>
          </div>
          <div class="scrum-footer text-center">
            <a
              type="button"
              class="p-y-6 text-center no-link scrum-new-card"
              (click)="addTaskDialog()"
            >
              <span class="material-icons-outlined"> add </span>
              Add Task
            </a>
          </div>
        </div>
      </div>
      <div
        class="scrum-box-continer m-r-20"
        style="display: table; width: 19rem"
      >
        <div
          class="d-flex align-items-center shadow1 border-1 border-top-3-warning"
        >
          <div class="m-r-12">
            <h5 class="m-b-0 zp-12">In Progress</h5>
          </div>
          <p class="m-b-0 p-x-4 border-radius-2 fs-12 fw-500 bg-light">8</p>
          <div class="ml-auto">
            <app-custom-dropdown
              [custom-Dropdown]="dropdowns"
            ></app-custom-dropdown>
          </div>
        </div>
        <div
          cdkDropList
          [cdkDropListData]="holds"
          #progressList="cdkDropList"
          [cdkDropListData]="progresing"
          [cdkDropListConnectedTo]="[todoList, compltedList, toreviewList]"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="vr_scroll">
            <ng-container *ngFor="let progress of progresing">
              <app-scrubboard-task
                class="scrumb-task-card {{ activeTheme }} "
                [tasks]="progress"
                (taskInfoModal)="taskDetailDialog($event)"
                cdkDrag
              ></app-scrubboard-task>
            </ng-container>
          </div>
          <div class="scrum-footer text-center">
            <a
              type="button"
              class="p-y-6 text-center no-link scrum-new-card"
              (click)="addTaskDialog()"
              ><span class="material-icons-outlined"> add </span> Add Task</a
            >
          </div>
        </div>
      </div>
      <div
        class="scrum-box-continer m-r-20"
        style="display: table; width: 19rem"
      >
        <div
          class="d-flex align-items-center shadow1 border-1 border-top-3-orange"
        >
          <div class="m-r-12">
            <h5 class="m-b-0 zp-12">Testing</h5>
          </div>
          <p class="m-b-0 p-x-4 border-radius-2 fs-12 fw-500 bg-light">3</p>
          <div class="ml-auto">
            <app-custom-dropdown
              [custom-Dropdown]="dropdowns"
            ></app-custom-dropdown>
          </div>
        </div>
        <div
          cdkDropList
          #toreviewList="cdkDropList"
          [cdkDropListConnectedTo]="[todoList, progressList, compltedList]"
          [cdkDropListData]="testing"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="vr_scroll">
            <ng-container *ngFor="let tests of testing">
              <app-scrubboard-task
                class="scrumb-task-card {{ activeTheme }}"
                [tasks]="tests"
                (taskInfoModal)="taskDetailDialog($event)"
                cdkDrag
              ></app-scrubboard-task>
            </ng-container>
          </div>
          <div class="scrum-footer text-center">
            <a
              type="button"
              class="p-y-6 text-center no-link scrum-new-card"
              (click)="addTaskDialog()"
            >
              <span class="material-icons-outlined m-r-8 icon-20">add</span>
              Add Task</a
            >
          </div>
        </div>
      </div>
      <div
        class="scrum-box-continer m-r-20"
        style="display: table; width: 19rem"
      >
        <div
          class="d-flex align-items-center shadow1 border-1 border-top-3-success"
        >
          <div class="m-r-12">
            <h5 class="m-b-0 zp-12">Completed</h5>
          </div>
          <p class="m-b-0 p-x-4 border-radius-2 fs-12 fw-500 bg-light">10</p>
          <div class="ml-auto">
            <app-custom-dropdown
              [custom-Dropdown]="dropdowns"
            ></app-custom-dropdown>
          </div>
        </div>
        <div
          cdkDropList
          [cdkDropListData]="holds"
          #compltedList="cdkDropList"
          [cdkDropListData]="completed"
          [cdkDropListConnectedTo]="[todoList, progressList, toreviewList]"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="vr_scroll">
            <ng-container *ngFor="let complete of completed">
              <app-scrubboard-task
                class="scrumb-task-card {{ activeTheme }}"
                [tasks]="complete"
                (taskInfoModal)="taskDetailDialog($event)"
                cdkDrag
              ></app-scrubboard-task>
            </ng-container>
          </div>
          <div class="scrum-footer text-center">
            <a
              type="button"
              class="p-y-6 text-center no-link scrum-new-card"
              (click)="addTaskDialog()"
            >
              <span class="material-icons-outlined"> add </span>
              Add Task
            </a>
          </div>
        </div>
      </div>
      <div
        class="scrum-box-continer m-r-20"
        style="display: table; width: 19rem"
      >
        <div class="d-flex align-items-center border-1 border-top-3-purple">
          <div class="m-r-12">
            <h5 class="m-b-0 zp-12">Mile Stone</h5>
          </div>
          <p class="m-b-0 p-x-4 border-radius-2 fs-12 fw-500 bg-light">1</p>
          <div class="ml-auto">
            <app-custom-dropdown
              [custom-Dropdown]="dropdowns"
            ></app-custom-dropdown>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- add task  modal -->
<p-dialog
  header="Task Detail"
  [(visible)]="displaytaskDetail"
  [modal]="true"
  class="scrunboard_add_task"
>
  <div id="add-new-task">
    <form action="" class="" [formGroup]="myForm" (ngSubmit)="addTask()">
      <div class="kprime_form_wrapper">
        <div class="form-group">
          <label for="">Task Title</label>
          <input type="text" formControlName="title" class="form-control" />
        </div>
        <div class="form-group">
          <label for="">Description</label>
          <textarea
            type="text"
            rows="2"
            cols="5"
            formControlName="content"
            class="form-control"
          ></textarea>
        </div>
      </div>

      <div class="d-flex align-items-center kprime_footer justify-content-end">
        <button type="submit" class="btn btn-primary m-r-8">Save</button>
        <button type="reset" class="btn btn-secondary">Cancel</button>
      </div>
    </form>
  </div>
</p-dialog>
<!-- filter tasks Modal -->
<p-dialog
  header="Filter"
  [(visible)]="displayfilter"
  [modal]="true"
  class="scrunboard_filter_modal"
>
  <div class="filter-wrap">
    <div class="for_scroll">
      <form action="" class="form_section">
        <div class="kprime_form_wrapper">
          <div class="row m-b-12">
            <div class="col-lg-6">
              <div class="form-group m-b-12">
                <label for="" class="">From </label>
                <div class="">
                  <p-calendar
                    class="prime_datepicker"
                    [(ngModel)]="fromDate"
                    [disabledDays]="[0, 6]"
                    [readonlyInput]="true"
                    [ngModelOptions]="{ standalone: true }"
                    inputId="basic"
                    placeholder="Date Picker"
                  ></p-calendar>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group m-b-12">
                <label for="" class="">To </label>
                <div class="">
                  <p-calendar
                    class="prime_datepicker"
                    [(ngModel)]="toDate"
                    [ngModelOptions]="{ standalone: true }"
                    [disabledDays]="[0, 6]"
                    [readonlyInput]="true"
                    inputId="basic"
                    placeholder="Date Picker"
                  ></p-calendar>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group m-b-12">
                <label for="" class="">Select Project </label>
                <div class="">
                  <p-multiSelect
                    placeholder="Select Project"
                    [options]="projects"
                    [(ngModel)]="selectedProjects"
                    [ngModelOptions]="{ standalone: true }"
                    optionLabel="label"
                    optionValue="value"
                  ></p-multiSelect>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group m-b-12">
                <label for="" class="">Select Client</label>
                <div class="">
                  <p-multiSelect
                    placeholder="Select Client"
                    [options]="clients"
                    [(ngModel)]="selectedClients"
                    [ngModelOptions]="{ standalone: true }"
                    optionLabel="label"
                    optionValue="value"
                  ></p-multiSelect>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group m-b-12">
                <label for="" class="">Assigned To</label>
                <div class="">
                  <p-multiSelect
                    placeholder="Select People"
                    [options]="assignTo"
                    [(ngModel)]="selectedAssignTo"
                    [ngModelOptions]="{ standalone: true }"
                    optionLabel="label"
                    optionValue="value"
                  ></p-multiSelect>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group m-b-12">
                <label for="" class="">Asssingn By</label>
                <div class="">
                  <p-multiSelect
                    placeholder="Select People"
                    [options]="assignBy"
                    [(ngModel)]="selectedAssignBy"
                    [ngModelOptions]="{ standalone: true }"
                    optionLabel="label"
                    optionValue="value"
                  ></p-multiSelect>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="kprime_footer">
          <div class="d-flex justify-content-end align-items-center">
            <button type="submit" class="btn btn-primary m-r-8">Submit</button>
            <button type="cancel" class="btn btn-secondary">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-dialog>

<!-- Task Card detail Modal -->
<p-dialog
  header="Details"
  class="scrumb-card-detail scrum_task_full_deatil"
  [modal]="true"
  [(visible)]="tasKCardkDetail"
>
  <div class="kprime_form_wrapper">
    <div class="task-card-detail m-b-12">
      <div class="p-b-12">
        <div class="row no-gutters">
          <div class="col-lg-12 col-sm-12 col-md-12 col-12">
            <div class="d-inline-flex">
              <span class="material-icons-outlined icon-20 text-muted m-r-14">
                article
              </span>
              <h5 class="m-b-0">Fix Issue #45</h5>
            </div>
            <div class="prime_content_new">
              <p class="m-b-6 text-muted">Zonvoir Board . Holds</p>

              <div class="member_tags_container">
                <div class="d-block">
                  <p class="m-b-5 text-muted">Members</p>
                  <div class="d-flex members_tags flex-wrap">
                    <!-- Members scrum-members-scroll -->
                    <div class="d-flex">
                      <ng-template [ngIf]="selectedMembers">
                        <div class="" *ngFor="let member of selectedMembers">
                          <img
                            [src]="member.file"
                            [alt]="member.label"
                            class="img-responsive logo-sm2-circle m-r-4 m-b-2"
                          />
                        </div>
                      </ng-template>
                      <!-- Multi select for members -->
                      <p-multiSelect
                        #multiSelectref
                        [options]="members"
                        [(ngModel)]="selectedMembers"
                        defaultLabel="Select a Country"
                        optionLabel="name"
                        optionLabel="name"
                        class="multiselect_custom_new"
                      >
                        <ng-template let-member pTemplate="item">
                          <div class="option_item_prime">
                            <img
                              [src]="member.file"
                              alt=""
                              class="logo-sm2-circle"
                            />
                            <span class="prime_option_title">{{
                              member.label
                            }}</span>
                          </div>
                        </ng-template>
                      </p-multiSelect>
                    </div>
                  </div>
                </div>
                <div class="d-block">
                  <p class="m-b-5 text-muted label_title">Labels</p>
                  <div class="d-flex task_tags flex-wrap">
                    <!-- scrum-lable-scroll-tags -->
                    <ng-template [ngIf]="selectedTaskLabels">
                      <div
                        *ngFor="let taskLabel of selectedTaskLabels"
                        class="buttons-labels"
                      >
                        <div [ngClass]="taskLabel.value" class="tag_button_new">
                          <span class="tag_btn_title_new">{{
                            taskLabel.label
                          }}</span>
                        </div>
                      </div>
                    </ng-template>
                    <!-- toggle dropdown button -->
                    <!-- Multi select for members -->
                    <p-multiSelect
                      #multiSelectref
                      [options]="taskLabels"
                      [(ngModel)]="selectedTaskLabels"
                      defaultLabel="Select a Country"
                      optionLabel="label"
                      class="multiselect_custom_new"
                    >
                      <ng-template let-tagLabel pTemplate="item">
                        <div class="option_item_prime">
                          <span
                            [ngClass]="tagLabel.value"
                            class="m-r-12 d-flex align-items-center logo-small-circle"
                          ></span>
                          <span class="prime_option_title">{{
                            tagLabel.label
                          }}</span>
                        </div>
                      </ng-template>
                    </p-multiSelect>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mr_scroll p-r-8">
        <div class="p-t-12">
          <div class="row no-gutters">
            <div class="col-lg-12 col-sm-12 col-md-12 col-12">
              <div class="d-inline-flex">
                <span class="material-icons-outlined icon-20 text-muted m-r-14">
                  article
                </span>
                <h5 class="m-b-0">Task Title</h5>
              </div>
              <div class="prime_content_new">
                <div class="p-y-12">
                  <form action="">
                    <input
                      name=""
                      class="form-control"
                      [value]="task_title"
                      placeholder="Task Title"
                    />
                  </form>
                </div>
              </div>
            </div>

            <div class="col-lg-12 col-sm-12 col-md-12 col-12">
              <div class="d-inline-flex">
                <span class="material-icons-outlined icon-20 text-muted m-r-14">
                  article
                </span>
                <h5 class="m-b-0">Description</h5>
              </div>
              <div class="prime_content_new">
                <div class="p-y-12">
                  <form action="">
                    <textarea
                      name="Description"
                      class="form-control"
                      [value]="desc"
                      rows="3"
                      cols="7"
                      placeholder="Add Description"
                    ></textarea>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-t-12">
          <div class="row no-gutters">
            <div class="col-lg-12 col-sm-12 col-md-12 col-12">
              <div class="d-flex">
                <div class="attach_icon">
                  <span
                    class="material-icons-outlined text-muted icon-20 m-r-12"
                  >
                    attach_file
                  </span>
                </div>
                <div
                  (click)="fileAttachmentDialog()"
                  class="d-flex justify-content-between attach_file_title align-items-center"
                >
                  <div class="">
                    <h5 class="m-b-0">Attachments</h5>
                  </div>
                  <div class="m-l-auto">
                    <a
                      class="d-inline-flex no-decoration text-primary fw-600 no-link align-items-center"
                    >
                      <span class="material-icons-outlined icon-20 m-r-8"
                        >add</span
                      >
                      Files
                    </a>
                  </div>
                </div>
              </div>
              <div class="prime_content_new">
                <div class="p-b-12 border-1">
                  <div class="row p-y-12">
                    <div class="col-lg-4 col-md-4 col-sm-6 m-b-12">
                      <div class="acttachment-card custom-card zp-10">
                        <div class="d-flex p-b-8 alin-items-center">
                          <div class="ttask_card">
                            <p class="m-b-0 text-muted">
                              Business-Case-study.jpg
                            </p>
                          </div>
                        </div>

                        <div class="p-b-8">
                          <img
                            src="assets/media/images/cards/4.jpg"
                            alt=""
                            class="card-img small-card-img"
                          />
                        </div>
                        <div class="d-flex align-items-center">
                          <p class="m-b-0 text-muted">55 KB</p>
                          <div class="ml-auto">
                            <div class="d-flex-align-items-center">
                              <span
                                class="material-icons-outlined icon-16 text-muted m-r-8"
                              >
                                calendar_today</span
                              >
                              <span class="text-muted"> 17 June</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 m-b-12">
                      <div class="acttachment-card custom-card zp-10">
                        <div class="d-flex p-b-8 alin-items-center">
                          <div class="ttask_card">
                            <p class="m-b-0 text-muted">Case-study.jpg</p>
                          </div>
                        </div>

                        <div class="p-b-8">
                          <img
                            src="assets/media/images/cards/3.jpg"
                            alt=""
                            class="card-img small-card-img"
                          />
                        </div>
                        <div class="d-flex align-items-center">
                          <p class="m-b-0 text-muted">55 KB</p>
                          <div class="ml-auto">
                            <div class="d-flex-align-items-center">
                              <span
                                class="material-icons-outlined icon-16 text-muted m-r-8"
                              >
                                calendar_today</span
                              >
                              <span class="text-muted"> 17 June</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 m-b-12">
                      <div class="acttachment-card custom-card zp-10">
                        <div class="d-flex p-b-8 alin-items-center">
                          <div class="ttask_card">
                            <p class="m-b-0 text-muted">
                              Product-Case-study.jpg
                            </p>
                          </div>
                        </div>

                        <div class="p-b-8">
                          <img
                            src="assets/media/images/cards/6.jpg"
                            alt=""
                            class="card-img small-card-img"
                          />
                        </div>
                        <div class="d-flex align-items-center">
                          <p class="m-b-0 text-muted">55 KB</p>
                          <div class="ml-auto">
                            <div class="d-flex-align-items-center">
                              <span
                                class="material-icons-outlined icon-16 text-muted m-r-8"
                              >
                                calendar_today</span
                              >
                              <span class="text-muted"> 17 June</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-t-12 pb-2">
          <div class="row no-gutters">
            <div class="col-lg-12 col-sm-12 col-md-12 col-12">
              <div class="d-inline-flex">
                <span class="material-icons-outlined icon-20 text-muted m-r-12">
                  chat
                </span>
                <h5 class="m-b-0">Comments</h5>
              </div>
              <div class="prime_content_new">
                <div class="p-b-12">
                  <div class="d-flex p-b-12">
                    <div class="m-r-12">
                      <img
                        src="assets/media/images/users/100_5.jpg"
                        alt="logo"
                        class="logo-md-circle img-respponsive"
                      />
                    </div>
                    <div class="">
                      <div class="m-b-10">
                        <h6 class="m-b-0">David Smith</h6>
                        <p class="m-b-0 text-muted">2 days ago</p>
                      </div>
                      <div class="">
                        <p class="m-b-0 text-muted">
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Numquam nihil, dolorem asperiores ad pariatur
                          placeat vel fuga velit expedita adipisci? Lorem, ipsum
                          dolor sit amet consectetur adipisicing elit. Numquam
                          nihil, dolorem asperiores ad pariatur placeat vel fuga
                          velit expedita adipisci?
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="p-b-12">
                  <div class="d-flex p-b-12">
                    <div class="m-r-12">
                      <img
                        src="assets/media/images/users/100_6.jpg"
                        alt="logo"
                        class="logo-md-circle img-respponsive"
                      />
                    </div>
                    <div class="">
                      <div class="m-b-10">
                        <h6 class="m-b-0">Peter Edward</h6>
                        <p class="m-b-0 text-muted">1 days ago</p>
                      </div>
                      <div class="">
                        <p class="m-b-0 text-muted">
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Numquam nihil, dolorem asperiores ad pariatur
                          placeat vel fuga velit expedita adipisci? Lorem, ipsum
                          dolor sit amet consectetur adipisicing elit. Numquam
                          nihil, dolorem asperiores ad pariatur placeat vel fuga
                          velit expedita adipisci?
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="p-b-12">
                  <div class="d-flex p-b-12">
                    <div class="m-r-12">
                      <img
                        src="assets/media/images/users/100_1.jpg"
                        alt="logo"
                        class="logo-md-circle img-respponsive"
                      />
                    </div>
                    <div class="">
                      <div class="m-b-10">
                        <h6 class="m-b-0">Sam Smith</h6>
                        <p class="m-b-0 text-muted">2 days ago</p>
                      </div>
                      <div class="">
                        <p class="m-b-0 text-muted">
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Numquam nihil, dolorem asperiores ad pariatur
                          placeat vel fuga velit expedita adipisci? Lorem, ipsum
                          dolor sit amet consectetur adipisicing elit. Numquam
                          nihil, dolorem asperiores ad pariatur placeat vel fuga
                          velit expedita adipisci?
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="m-r-12">
                    <img
                      src="assets/media/images/users/default.jpg"
                      alt="logo"
                      class="logo-md-circle img-respponsive"
                    />
                  </div>
                  <div class="d-flex w-100 p-b-12">
                    <textarea
                      type="text"
                      rows="3"
                      placeholder="Write Comment Here..."
                      class="form-control"
                    ></textarea>
                  </div>
                </div>
                <div class="text-right">
                  <button type="button" class="btn btn-outline-primary">
                    Send
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center kprime_footer justify-content-end pt-2">
    <button class="btn btn-square btn-primary m-r-8">Save</button>
    <button class="btn btn-square btn-secondary m-r-8">Cancel</button>
  </div>
</p-dialog>
<!-- File dialog Attachment -->
<p-dialog
  header="Upload File"
  [(visible)]="fileAttachment"
  [modal]="true"
  class="add_card_scrum"
>
  <div class="kprime_form_wrapper p-b-16">
    <div class="m-b-12">
      <app-file-drag-n-drop></app-file-drag-n-drop>
    </div>
  </div>
</p-dialog>
