<div class="card custom-card shadow1 no-radius">
    <div class="bg-dark">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div  class=" cursor-pointer">
                    <i title="ETH" class="display-6 cc ETH text-white"></i>
                </div>
                <div class="ml-3">
                    <h5 class="fw-500 m-b-5 text-white">Ethereum</h5>
                    <h6 class="text-white mb-0"><span>$</span> 3847.00k </h6>
                </div>
            </div>
        </div>
    </div>
</div>