<div class="card custom-card s_media_post m-b-20">
  <div
    class="
      card-header
      custom-card-header
      d-flex
      align-items-center
      justify-content-between
      border-1
    "
  >
    <div class="d-flex align-items-center justify-content-start">
      <div class="m-r-12 d-flex align-items-center">
        <img
          [src]="post.user_pic"
          class="img-responsive logo-md-circle"
          alt=""
        />
      </div>
      <div class="m-b-0">
        <h6 class="m-b-0">{{ post.user_name }}</h6>
        <p class="m-b-0 text-muted p-b-4">{{ post.post_date }}</p>
      </div>
    </div>
    <div class="">
      <div class="btn-group" dropdown>
        <a
          id="button-basic"
          dropdownToggle
          type="button"
          aria-controls="dropdown-basic"
        >
          <span class="material-icons-outlined icon-20 custom-circle-sm2">
            more_horiz
          </span>
        </a>
        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu dropdown-menu-left"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li role="menuitem">
            <a class="dropdown-item px-3 p-y-8">
              <div class="d-flex align-items-center">
                <div class="m-r-12 d-flex align-items-center">
                  <span class="material-icons-outlined icon-20"> edit </span>
                </div>
                <div class="m-b-0">
                  <p class="m-b-0">Edit Post</p>
                </div>
              </div>
            </a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item px-3 p-y-8">
              <div class="d-flex align-items-center">
                <div class="m-r-12 d-flex align-items-center">
                  <span class="material-icons-outlined icon-20"> delete </span>
                </div>
                <div class="m-b-0">
                  <p class="m-b-0">Delete Post</p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body p-b-0">
    <div class="p-b-12">
      <p class="m-b-0 s_post_content">
        {{ post.post_content }}
      </p>
    </div>
    <div class="p-b-12">
      <img class="profile-user-post" [src]="post.post_file" alt="Card image" />
    </div>
  </div>
  <div class="card-footer custom-card-footer border-top-1">
    <div class="d-flex align-items-center justify-content-around">
      <div class="d-flex align-items-center cursor-pointer">
        <span class="material-icons  m-r-8 icon-20 post_like">
          thumb_up
        </span>
        <span class="m-r-4">{{ post.post_likes }}</span>
        <span class="post_action">Like</span>
      </div>
      <div class="d-flex align-items-center cursor-pointer">
        <span class="material-icons m-r-8 icon-20 post_comment ">
          mode_comment
        </span>
        <span class="m-r-4">{{ post.post_comments }}</span>
        <span class="post_action">Comment</span>
      </div>
      <div class="d-flex align-items-center cursor-pointer">
        <span class="material-icons m-r-8 icon-20  "> share </span>
        <span class="m-r-4">{{ post.post_share }}</span>
        <span class="post_action">Share</span>
      </div>
    </div>
  </div>
</div>
