@use "sass:math";

@mixin circle(
  $size,
  $background-color: null,
  $color: null,
  $custom-border: null,
  $circle: null
) {
  width: $size;
  height: $size;
  line-height: $size;
  display: inline-block;
  text-align: center;

  @if ($circle !=null) {
    border-radius: math.div($size, 2);
  }

  @if ($background-color !=null) {
    background-color: $background-color;
  }

  @if ($custom-border !=null) {
    border: $custom-border;
  }

  @if ($color !=null) {
    color: $color !important;
  }
}

@mixin circlular-button($size, $color: null, $background-color: null) {
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: math.div($size, 2);
  display: flex;
  align-items: center;
  justify-content: center;

  @if ($background-color !=null) {
    background-color: $background-color;
  }
  @if ($color !=null) {
    color: $color;
  }
}
@mixin rounded-squrare(
  $color,
  $bgcolor,
  $size,
  $borderRadius,
  $fontSize,
  $fontWeight: null
) {
  color: $color;
  background-color: $bgcolor;
  font-size: $fontSize;
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: $borderRadius;
  text-align: center;
  display: inline-block;
  @if ($fontWeight!=null) {
    font-weight: $fontWeight;
  }
}
