<div class="card custom-card shadow1 no-radius">
  <div class="card-header custom-card-header border-1">
    <div class="d-flex align-items-center justify-content-between">
      <h5 class="m-b-0">Users</h5>
      <div class="btn-group" dropdown>
        <a
          id="button-basic"
          dropdownToggle
          class="bell"
          type="button"
          aria-controls="dropdown-basic"
        >
          <span class="material-icons icon-gray icon"> more_vert </span>
        </a>
        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu dropdown-menu-left"
          role="menu"
          aria-labelledby="button-basic"
          placement="bottom right"
        >
          <li role="menuitem">
            <a class="dropdown-item px-3 p-y-8">
              <div class="d-flex align-items-center">
                <div class="logo m-r-12 d-flex align-items-center">
                  <span class="material-icons-outlined icon-gray icon">
                    add
                  </span>
                </div>
                <div class="m-b-0">
                  <p class="m-b-0">Create User</p>
                </div>
              </div>
            </a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item px-3 p-y-8">
              <div class="d-flex align-items-center">
                <div class="logo m-r-12 d-flex align-items-center">
                  <span class="material-icons-outlined icon-gray icon">
                    edit
                  </span>
                </div>
                <div class="m-b-0">
                  <p class="m-b-0">Edit User</p>
                </div>
              </div>
            </a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item px-3 p-y-8">
              <div class="d-flex align-items-center">
                <div class="logo m-r-12 d-flex align-items-center">
                  <span class="material-icons-outlined icon-gray icon">
                    delete
                  </span>
                </div>
                <div class="m-b-0">
                  <p class="m-b-0">Delete User</p>
                </div>
              </div>
            </a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item px-3 p-y-8">
              <div class="d-flex align-items-center">
                <div class="logo m-r-12 d-flex align-items-center">
                  <span class="material-icons-outlined icon-gray icon">
                    description
                  </span>
                </div>
                <div class="m-b-0">
                  <p class="m-b-0">All Users</p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body py-3">
    <div class="d-flex align-items-center border-1 p-b-8 m-b-8">
      <div class="logo m-r-12 d-flex align-items-center">
        <img
          src="assets/media/images/users/user1.jpg"
          alt=""
          class="img-responsive logo-md-circle"
        />
      </div>
      <div
        class="m-b-0 d-flex justify-content-between w-100 align-items-center"
      >
        <div class="">
          <h6 class="m-b-0">Jimmy Siddle</h6>
          <p class="m-b-0">Php Developer, Sql</p>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center border-1 p-b-8 m-b-8">
      <div class="logo m-r-12 d-flex align-items-center">
        <img
          src="assets/media/images/users/user5.jpg"
          alt=""
          class="img-responsive logo-md-circle"
        />
      </div>
      <div
        class="m-b-0 d-flex justify-content-between w-100 align-items-center"
      >
        <div class="">
          <h6 class="m-b-0">Kyle Jamison</h6>
          <p class="m-b-0">Node Js Developer</p>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center border-1 p-b-8 m-b-8">
      <div class="logo m-r-12 d-flex align-items-center">
        <img
          src="assets/media/images/users/user2.jpg"
          alt=""
          class="img-responsive logo-md-circle"
        />
      </div>
      <div
        class="m-b-0 d-flex justify-content-between w-100 align-items-center"
      >
        <div class="">
          <h6 class="m-b-0">Sarena potts</h6>
          <p class="m-b-0">Java Developer</p>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center border-1 p-b-8 m-b-8">
      <div class="logo m-r-12 d-flex align-items-center">
        <img
          src="assets/media/images/users/user3.jpg"
          alt=""
          class="img-responsive logo-md-circle"
        />
      </div>
      <div
        class="m-b-0 d-flex justify-content-between w-100 align-items-center"
      >
        <div class="">
          <h6 class="m-b-0">Laura Finch</h6>
          <p class="m-b-0">Python Developer</p>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center border-1 p-b-8 m-b-8">
      <div class="logo m-r-12 d-flex align-items-center">
        <img
          src="assets/media/images/users/user3.jpg"
          alt=""
          class="img-responsive logo-md-circle"
        />
      </div>
      <div
        class="m-b-0 d-flex justify-content-between w-100 align-items-center"
      >
        <div class="">
          <h6 class="m-b-0">Jonathon Milne</h6>
          <p class="m-b-0">IoT Developer</p>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <div class="logo m-r-12 d-flex align-items-center">
        <img
          src="assets/media/images/users/user4.jpg"
          alt=""
          class="img-responsive logo-md-circle"
        />
      </div>
      <div
        class="m-b-0 d-flex justify-content-between w-100 align-items-center"
      >
        <div class="">
          <h6 class="m-b-0">Denial Sams</h6>
          <p class="m-b-0">Angular Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>
