<div [ngClass]="currentTheme">
  <div class="login-wrapper1">
    <section class="login_bg_img2">
      <div class="container">
        <div class="login-contianer custom-card">
          <div class="login1-body">
            <div class="row no-gutters">
              <div class="col-lg-6 col-md-6 zp-0 left-section">
                <div class="text-center login-illus">
                  <img
                    src="assets/media/images/login/undraw_q6p7.svg"
                    class="illustration"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="main_logo K_brand_logo m-b-0 text-center">
                  <img
                    class="img-fluid klogo"
                    src="assets/media/images/login/strife4.png"
                    alt="image"
                  />
                </div>
                <div class="login1_panel_data">
                  <div class="p-b-12">
                    <div class="d-flex p-b-8 align-items-center">
                      <h3 class="m-b-0 auth_page_title">Sign In</h3>

                      <a
                        routerLink="/auth/signup-2"
                        class="text-primary link-none fs-15 ml-auto"
                        >Sign Up!</a
                      >
                    </div>
                    <p class="m-b-0 login_new_sub fs-14">
                      Welcome Back ! Login to your account
                    </p>
                  </div>

                  <div class="login1_form_panel">
                    <form>
                      <div class="form-group m-b-12">
                        <label for="" class="login_form_label">Email</label>
                        <input
                          type="email"
                          class="form-control login1-inp"
                          placeholder="text@123.com"
                        />
                      </div>

                      <div class="form-group m-b-12">
                        <label for="" class="login_form_label">Password</label>
                        <input
                          type="password"
                          class="form-control login1-inp"
                          placeholder="ex. admin@123"
                        />
                      </div>

                      <div class="d-flex align-items-center m-b-12">
                        <div class="d-flex align-items-center">
                          <div class="form-check p-l-0">
                            <label
                              class="container-checkbox m-b-0 login_new_sub"
                              >Remember Me
                              <input type="checkbox" />
                              <span class="material-icons check-mark icon">
                              </span>
                            </label>
                          </div>
                        </div>

                        <div class="ml-auto">
                          <a
                            routerLink="/auth/forgot-password"
                            class="text-primary fs-14"
                            >Forget Password ?</a
                          >
                        </div>
                      </div>

                      <div class="login_sub_btn">
                        <button
                          type="button"
                          class="btn login1-btn btn-block btn-primary"
                        >
                          Login
                        </button>
                      </div>
                      <div class="line_login">
                        <hr />
                        <span class="text-muted fs-13">or login</span>
                      </div>

                      <div class="d-flex justify-content-center social_login">
                        <div class="google_sign-circle">
                          <a href="#" class="btn btn-outline-danger link-none">
                            <span class="m-r-4">
                              <img
                                class="img-fluid"
                                src="assets/media/images/login/google.png"
                                alt="image"
                              />
                            </span>
                            Google
                          </a>
                        </div>
                        <div class="google_facebook-circle ml-auto">
                          <a href="#" class="btn btn-outline-primary link-none">
                            <span class="m-r-4">
                              <img
                                class="img-fluid"
                                src="assets/media/images/login/facebook.png"
                                alt="image"
                              />
                            </span>
                            Facebook
                          </a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
