<div class="card custom-card">
  <div class="card-header custom-card-header border-1">
    <h5 class="crt_crd_title">Activities</h5>
  </div>
  <div class="crt_crd_body">
    <ul class="crt_crd_list_wrap">
      <li>
        <div class="crt_crd_details">
          <div class="crt_li_one">
            <img
              src="assets/media/images/crypto/crpt1.png"
              class="crt_pr_logo"
              alt=""
            />
          </div>
          <div class="crt_li_two">
            <h6 class="">Dodales</h6>
            <div class="crt_coin_details">
              <p class="crt_rate m-r-4">Volume:</p>
              <span class="m-r-4"><b>$</b></span>
              <span class="crt_coin_amt">110.36</span>
            </div>
          </div>
        </div>
        <div class="crt_li_three">
          <p class="crt_price_chages text-success">+0.46 %</p>
          <div class="d-flex align-items-center justify-content-end">
            <span class="m-r-4"
              ><i title="ETH" class="cc ETH crt_icon"></i
            ></span>
            <span class="crt_coin_amt">4589</span>
          </div>
        </div>
      </li>
      <li>
        <div class="crt_crd_details">
          <div class="crt_li_one">
            <img
              src="assets/media/images/crypto/cross.png"
              class="crt_pr_logo"
              alt=""
            />
          </div>
          <div class="crt_li_two">
            <h6 class="">Primates</h6>
            <div class="crt_coin_details">
              <p class="crt_rate m-r-4">Volume:</p>
              <span class="m-r-4"><b>$</b></span>
              <span class="crt_coin_amt">66.23</span>
            </div>
          </div>
        </div>
        <div class="crt_li_three">
          <p class="crt_price_chages text-danger">-12.89%</p>
          <div class="d-flex align-items-center justify-content-end">
            <span class="m-r-4"
              ><i title="ETH" class="cc BTC-alt crt_icon"></i
            ></span>
            <span class="crt_coin_amt">5345</span>
          </div>
        </div>
      </li>
      <li>
        <div class="crt_crd_details">
          <div class="crt_li_one">
            <img
              src="assets/media/images/crypto/crpt5.png"
              class="crt_pr_logo"
              alt=""
            />
          </div>
          <div class="crt_li_two">
            <h6 class="">nouns</h6>
            <div class="crt_coin_details">
              <p class="crt_rate m-r-4">Volume:</p>
              <span class="m-r-4"><b>$</b></span>
              <span class="crt_coin_amt">74.23</span>
            </div>
          </div>
        </div>
        <div class="crt_li_three">
          <p class="crt_price_chages text-success">+47.33 %</p>
          <div class="d-flex align-items-center justify-content-end">
            <span class="m-r-4"
              ><i title="ETH" class="cc BNB crt_icon"></i
            ></span>
            <span class="crt_coin_amt">8909</span>
          </div>
        </div>
      </li>
      <li>
        <div class="crt_crd_details">
          <div class="crt_li_one">
            <img
              src="assets/media/images/crypto/crpt4.jpg"
              class="crt_pr_logo"
              alt=""
            />
          </div>
          <div class="crt_li_two">
            <h6 class="">Azuki</h6>
            <div class="crt_coin_details">
              <p class="crt_rate m-r-4">Volume:</p>
              <span class="m-r-4"><b>$</b></span>
              <span class="crt_coin_amt">323.83</span>
            </div>
          </div>
        </div>
        <div class="crt_li_three">
          <p class="crt_price_chages text-success">+78.30 %</p>
          <div class="d-flex align-items-center justify-content-end">
            <span class="m-r-4"
              ><i title="ETH" class="cc KORE-alt crt_icon"></i
            ></span>
            <span class="crt_coin_amt">6527</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
