<div class="row mt-3">
  <div class="col-lg-6 col-md-6 grid-bottom">
    <app-basic-bootstrap-tabel class="coulred"></app-basic-bootstrap-tabel>
  </div>
  <div class="col-lg-6 col-md-6 grid-bottom">
    <app-strip-row-bootstrap-tabel
      class="coulred"
    ></app-strip-row-bootstrap-tabel>
  </div>
  <div class="col-lg-6 col-md-6 grid-bottom">
    <app-hoverable-row-bootstrap-tabel
      class="coulred"
    ></app-hoverable-row-bootstrap-tabel>
  </div>
  <div class="col-lg-6 col-md-6 grid-bottom">
    <app-responsive-bootstrap-tabel
      class="coulred"
    ></app-responsive-bootstrap-tabel>
  </div>
  <div class="col-lg-6 col-md-6 grid-bottom">
    <app-bordered-bootstrap-tabel
      class="coulred"
    ></app-bordered-bootstrap-tabel>
  </div>
  <div class="col-lg-6 col-md-6 grid-bottom">
    <app-borderless-bootstrap-tabel
      class="coulred"
    ></app-borderless-bootstrap-tabel>
  </div>
</div>
