<div class="card custom-card grid-bottom">
  <div class="card-header custom-card-header border-0">
    <h4 class="mb-2">Popover</h4>
    <p class="text-muted">
      Add small overlay content, like those found in iOS, to any element for
      housing secondary information. Please visit the Official
      <a
        href="https://valor-software.com/ngx-bootstrap/#/popover"
        target="_blank"
        class="custom-link"
        >Ngx-Bootstrap Documentation</a
      >
      for a full list of instructions and other options.
    </p>
  </div>
</div>
<div class="main_section">
  <div class="row">
    <div class="col-lg-6 grid-bottom">
      <app-basic-pop-over></app-basic-pop-over>
    </div>
    <div class="col-lg-6 grid-bottom">
      <app-dissmiss-popover></app-dissmiss-popover>
    </div>
    <div class="col-lg-6 grid-bottom">
      <app-placement-popover></app-placement-popover>
    </div>

    <div class="col-lg-6 grid-bottom">
      <app-dynamic-popover></app-dynamic-popover>
    </div>
  </div>
</div>
