<div class="card custom-card card-stretch">
  <div class="card-header custom-card-header border-1">
    <h5 class="m-b-0">Horizontal Form</h5>
  </div>
  <div class="card-body">
    <form action="" class="form_section">
      <div class="form-group d-flex align-items-center m-b-12 row">
        <label for="username" class="col-md-3">First Name</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" placeholder="col-lg-9" />
        </div>
      </div>
      <div class="form-group d-flex align-items-center m-b-12 row">
        <label for="username" class="col-md-3">Last Name</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" placeholder="col-lg-9" />
        </div>
      </div>
      <div class="form-group d-flex align-items-center m-b-12 row">
        <label for="email" class="col-md-3">Email</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" placeholder="col-lg-9" />
        </div>
      </div>
      <div class="form-group d-flex align-items-center m-b-12 row">
        <label for="password" class="col-md-3">Password</label>
        <div class="col-lg-9">
          <input
            type="password"
            class="form-control"
            autocomplete="current-password"
            placeholder="col-lg-9"
          />
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="form-check p-l-0">
          <label class="container-checkbox text-muted"
            >Remember Me
            <input type="checkbox" />
            <span class="material-icons check-mark icon"> </span>
          </label>
        </div>
      </div>
      <div class="m-t-12">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="cancel" class="btn btn-secondary m-l-12">Cancel</button>
      </div>
    </form>
  </div>
</div>
