<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6 grid-bottom">
    <div class="card custom-card border-top-3-primary cussor-pointer">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="">
            <h3 class="fw-600 m-b-0 p-b-8">200</h3>
          </div>
          <div class="display-6 m-l-auto text-primary">
            <span class="material-icons-outlined icon-35">
              confirmation_number
            </span>
          </div>
        </div>
        <h6 class="text-primary m-b-0">Total Tickets</h6>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 grid-bottom">
    <div class="card custom-card border-top-3-warning cussor-pointer">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="">
            <h3 class="fw-600 m-b-0 p-b-8">20</h3>
          </div>
          <div class="display-6 m-l-auto text-warning">
            <span class="material-icons-outlined icon-35">
              confirmation_number
            </span>
          </div>
        </div>
        <h6 class="text-warning m-b-0">Total Pending</h6>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 grid-bottom">
    <div class="card custom-card border-top-3-success cussor-pointer">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="">
            <h3 class="fw-600 m-b-0 p-b-8">50</h3>
          </div>
          <div class="display-6 m-l-auto text-success">
            <span class="material-icons-outlined icon-35">
              confirmation_number
            </span>
          </div>
        </div>
        <h6 class="text-success m-b-0">Total Open</h6>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6 grid-bottom">
    <div class="card custom-card border-top-3-danger cussor-pointer">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="">
            <h3 class="fw-600 m-b-0 p-b-8">500</h3>
          </div>
          <div class="display-6 m-l-auto text-danger">
            <span class="material-icons-outlined icon-35">
              confirmation_number
            </span>
          </div>
        </div>
        <h6 class="text-danger m-b-0">Total Closed</h6>
      </div>
    </div>
  </div>
</div>
