<div class="eemail_message border-0">
  <div class="d-flex justify-content-between p-b-10 align-items-center">
    <div class="d-flex text-muted align-items-center">
      <div class="m-r-8" tooltip="Reply">
        <span class="material-icons-outlined icon-gray circle-icon icon-20">
          reply
        </span>
      </div>
      <div class="m-r-8" tooltip="Reply All">
        <span class="material-icons-outlined icon-gray circle-icon icon-20">
          reply_all
        </span>
      </div>
    </div>
    <div class="extra-action">
      <div class="d-flex text-muted align-items-center">
        <div class="m-r-8" tooltip="Upload">
          <span class="material-icons-outlined icon-gray circle-icon icon-20">
            file_upload
          </span>
        </div>
        <div class="m-r-8" tooltip="Print">
          <span class="material-icons-outlined icon-gray circle-icon icon-20">
            print
          </span>
        </div>
        <div class="" tooltip="Delete">
          <span class="material-icons-outlined icon-gray circle-icon icon-20">
            delete
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="email_scroll p-r-4">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <div class="logo m-r-12 d-flex align-items-center">
          <img
            src="assets/media/images/users/1.png"
            class="img-responsive logo-md-circle"
            alt=""
          />
        </div>
        <span class="m-b-0 sub_heading m-r-8"> David Smith </span>
        <div class="btn-group" dropdown>
          <a
            id="button-basic"
            dropdownToggle
            class=""
            type="button"
            aria-controls="dropdown-basic"
          >
            <span class="material-icons-outlined icon-gray icon">
              keyboard_arrow_down
            </span>
          </a>
          <ul
            id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="button-basic"
            placement="bottom right"
          >
            <li role="menuitem">
              <a class="dropdown-item p-x-12 py-2">
                <div class="d-flex align-items-center">
                  <div class="logo m-r-12 d-flex align-items-center">
                    <span class="material-icons-outlined icon-gray icon">
                      grade
                    </span>
                  </div>
                  <div
                    class="d-flex align-items-center w-100 justify-content-between"
                  >
                    <p class="m-b-0">Mark a Start</p>
                  </div>
                </div>
              </a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item p-x-12 py-2">
                <div class="d-flex align-items-center">
                  <div class="logo m-r-12 d-flex align-items-center">
                    <span class="material-icons-outlined icon-gray icon">
                      done
                    </span>
                  </div>
                  <div
                    class="d-flex align-items-center w-100 justify-content-between"
                  >
                    <p class="m-b-0">Mark as Read</p>
                  </div>
                </div>
              </a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item p-x-12 py-2">
                <div class="d-flex align-items-center">
                  <div class="logo m-r-12 d-flex align-items-center">
                    <span class="material-icons-outlined icon-gray icon">
                      reply
                    </span>
                  </div>
                  <div class="m-b-0">
                    <p class="m-b-0">Reply</p>
                  </div>
                </div>
              </a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item p-x-12 py-2">
                <div class="d-flex align-items-center">
                  <div class="logo m-r-12 d-flex align-items-center">
                    <span class="material-icons-outlined icon-gray icon">
                      delete
                    </span>
                  </div>
                  <div class="m-b-0">
                    <p class="m-b-0">Delete</p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="email-date">
        <div class="d-flex align-items-center">
          <h6 class="m-b-0">June 15, 11:13 AM</h6>
        </div>
      </div>
    </div>
    <div class="p-t-20">
      <h6 class="m-b-0">Hello,</h6>
      <br />
      <p class="m-b-0 text-muted">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo libero
        laudantium numquam harum. Nam ad quam corporis soluta animi repellendus
        recusandae facere vitae libero ipsam, repudiandae, explicabo repellat
        possimus totam. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Quo libero laudantium numquam harum. Nam ad quam corporis soluta
        animi repellendus recusandae facere vitae libero ipsam, repudiandae,
        explicabo repellat possimus totam.
      </p>
      <p class="p-b-8"></p>
      <p class="m-b-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo libero
        laudantium numquam harum. Nam ad quam corporis soluta animi repellendus
        recusandae facere vitae libero ipsam, repudiandae, explicabo repellat
        possimus totam.
      </p>
      <br />
      <h6 class="m-b-0 p-b-8"><strong>Regards</strong></h6>
      <p class="m-b-0 sub_heading">David Smith</p>
      <br />
    </div>
    <div class="border-1"></div>
    <div class="m-t-8 p-3">
      <h6 class="m-b-0">Attacments <span>(3 Files, 16,88KB)</span></h6>
      <br />
      <div class="row">
        <div class="col-lg-4">
          <p class="d-flex text-bold align-items-center m-b-4">
            <span class="material-icons-outlined icon-gray m-r-8">
              insert_drive_file
            </span>
            Reference.zip <span class="text-muted m-l-4">(5.29MB)</span>
          </p>
        </div>
        <div class="col-lg-4">
          <p class="d-flex text-bold align-items-center m-b-4">
            <span class="material-icons-outlined icon-gray m-r-8">
              insert_drive_file
            </span>
            Sample.zip <span class="text-muted m-l-4">(10.19MB)</span>
          </p>
        </div>
        <div class="col-lg-4">
          <p class="d-flex text-bold align-items-center m-b-4">
            <span class="material-icons-outlined icon-gray m-r-8">
              insert_drive_file
            </span>
            Guidline.zip <span class="text-muted m-l-4">(3.34MB)</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
