<div class="card custom-card no-radius">
  <div class="card-body">
    <div class="d-flex area_cc_wrap">
      <div class="">
        <h6 class="area_cc_title">Serviced</h6>
        <h5 class="area_cc_stats">25576</h5>
      </div>
      <div class="ml-auto">
        <h1 class="">
          <i class="fw-700 ti ti-settings text-primary"></i>
        </h1>
      </div>
    </div>
  </div>
  <div class="">
    <app-apex-sparkline-area
      [ChartColor]="chartColor"
    ></app-apex-sparkline-area>
  </div>
</div>
