<div class="card custom-card no-radius">
  <div class="zp-20 pb-3">
    <div class="d-flex justify-content-between area_cc_wrap">
      <div class="d-inline-flex">
        <div class="icon_skelton bg-light-primary text-primary">
          <i class="fw-700 ti ti-user"></i>
        </div>
        <div class="m-l-10">
          <h5 class="area_cc_stats">255K</h5>
          <h6 class="area_cc_title">Customers</h6>
        </div>
      </div>
      <div class="">
        <div class="tag_light_ana">
          <span class="tag_name_ana text-mute">Monthly</span>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <small
        ><span class="px-1 text-muted"
          >Average <span class="px-1 text-muted">52K</span> </span
        ><b class="badge rounded-pill bg-success text-white fs-11"
          >28%</b
        ></small
      >
      <i aria-hidden="true" class="fa fa-arrow-up text-success fs-11 m-l-5"></i>
    </div>
  </div>
  <div class="">
    <app-apex-sparkline-area
      [ChartColor]="chartColor"
    ></app-apex-sparkline-area>
  </div>
</div>
